<div class="container-fluid book--appointment--wrapper ba--step--two">
    <div class="row">
        <div class="col-12 d-flex align-items-center mb-4 mt-4">
            <button mat-stroked-button color="primary" class="me-3 back--btn" [routerLink]="['/patient/book-appointment/step-1']">
                <mat-icon class="material-symbols-outlined flex-shrink-0 m-0"> keyboard_backspace </mat-icon>
            </button>
            <h3 class="mb-0 clr--1F2F3E fw-600 d-flex flex-wrap">
                <span class="me-3">Book Appointment </span>
                <span>(Step <span class="text-primary"> 2 </span> of 5)</span>
            </h3>
        </div>
    </div>
    <div class="card m-0">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label fw-600">Pay Via</label>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1" class="me-3">Insurance</mat-radio-button>
                        <mat-radio-button value="2">Self Pay</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col-12">
                <p class="fw-700 font-16 mb-0">Responsible Party/Guarantor (RP) *</p>
                <p class="font-16">
                    If you are not the patient but responsible for charges - Please check relationship below.
                </p>
            </div>
            <div class="col-12 col-lg-6 col-md-6 ">
                <div class="form-group">
                    <label class="col-form-label fw-600">Relationship with Patient</label>
                    <select class="form-select form-control" aria-label="Default select example">
                        <option selected>Select Relation</option>
                        <option value="1">Relation 1</option>
                        <option value="2">Relation 2</option>
                        <option value="3">Relation 3</option>
                    </select>
                    <!-- <div class="text text-danger mt-1">Error here</div> -->
                </div> 
            </div>
            <div class="col-12 col-lg-6 col-md-6 ">
                <div class="form-group">
                    <label class="col-form-label fw-600">Other Relation </label>
                    <input class="form-control" type="text" placeholder="Specify Relation" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                <div class="form-group">
                    <label class="col-form-label fw-600">First Name <span class="clr--DF0404 ms-1"> * </span></label>
                    <input class="form-control" type="text" placeholder="Enter First Name" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                <div class="form-group">
                    <label class="col-form-label fw-600">Middle Name </label>
                    <input class="form-control" type="text" placeholder="Enter Middle Name" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                <div class="form-group">
                    <label class="col-form-label fw-600">Last Name <span class="clr--DF0404 ms-1"> * </span></label>
                    <input class="form-control" type="text" placeholder="Enter Last Name" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label fw-600">Date of Birth </label>
                    <div class="input-group">
                        <input class="form-control text-lowercase" placeholder="mm-dd-yyyy" name="dp"
                            [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" />
                        <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="d.toggle()"
                            type="button">
                            <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label fw-600">Marital Status</label>
                    <select class="form-select form-control" aria-label="Default select example">
                        <option selected>Select Relation</option>
                        <option value="1">Married</option>
                        <option value="2">Single</option>
                        <option value="3">Divorced</option>
                        <option value="3">Widowed </option>
                    </select>
                    <!-- <div class="text text-danger mt-1">Error here</div> -->
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label fw-600">Gender</label>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1" class="me-3">Male</mat-radio-button>
                        <mat-radio-button value="2">Female</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label fw-600">Email <span class="clr--DF0404 ms-1"> * </span></label>
                    <input class="form-control" type="email" placeholder="Enter Email" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                </div>
            </div>
           
            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label fw-600">Phone Number <span class="clr--DF0404 ms-1"> * </span></label>
                    <input class="form-control" type="number" placeholder="Enter Phone Number" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label fw-600">Cell Phone Number </label>
                    <input class="form-control" type="number" placeholder="Enter Cell Phone Number" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label fw-600">Work Extension </label>
                    <input class="form-control" type="number" placeholder="Enter Work Extension Number" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                </div>
            </div>
            <div class="col-12 my-4">
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Insurances * </h2>
                    </div>
                    <div class="col-12 col-xl-8">
                        <div class="d-flex align-items-center w-100">
                            <div class="form-group w-100">
                                <label class="col-form-label fw-600">Select Insurance</label>
                                <select class="form-select form-control" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="1">Insurance 1</option>
                                    <option value="2">Insurance 2</option>
                                    <option value="3">Insurance 3</option>
                                    <option value="3">Insurance 4</option>
                                </select>
                                <!-- <div class="text text-danger mt-1">Error here</div> -->
                            </div> 
                        </div>
                        <p class="font-15 lh-24">("Subscriber") is the person who holds the insurance plan whether
                            personally or through their employer.
                            <br> Please also provide a copy of your insurance card(s) to our receptionist
                        </p>
                    </div>
                    <div class="col-12">
                        <h2 class="mb-3 mt-2  clr--1F2F3E fw-700 d-flex flex-wrap font-16"> Subscriber's Details </h2>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">First Name  </label>
                            <input class="form-control" type="text" placeholder="Enter First Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Middle Name </label>
                            <input class="form-control" type="text" placeholder="Enter Middle Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Last Name  </label>
                            <input class="form-control" type="text" placeholder="Enter Last Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Date of Birth </label>
                            <div class="input-group">
                                <input class="form-control text-lowercase" placeholder="mm-dd-yyyy" name="dp"
                                    [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="d.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Relationship with Patient</label>
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Select Relation</option>
                                <option value="1">Relation 1</option>
                                <option value="2">Relation 2</option>
                                <option value="3">Relation 3</option>
                            </select>
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                        <div class="form-group" *ngIf="">
                            <input class="form-control" type="text" placeholder="Enter other relation" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-2 mt-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Primary Insurances </h2>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Company <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Company Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">ID/Policy # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="number" placeholder="Enter ID/Policy" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Group # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Group" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Customer Service Ph # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="number" placeholder="Enter Customer Service Ph" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-2 mt-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Secondary Insurances </h2>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Company <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Company Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">ID/Policy # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="number" placeholder="Enter ID/Policy" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Group # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Group" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Customer Service Ph # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="number" placeholder="Enter Customer Service Ph" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Is your injury related to</label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="me-3">Worker's Compensation
                                    (WCOMP)</mat-radio-button>
                                <mat-radio-button value="2" class="me-3">Motar Vehicle Accident (MVA)</mat-radio-button>
                                <div class="d-inline-flex flex-column">
                                    <mat-radio-button value="2">Other Personal Injury</mat-radio-button>
                                    <div class="form-group" *ngIf="">
                                        <input class="form-control" type="text" placeholder="Enter Other Injury" />
                                        <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                                    </div>
                                </div>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Carrier Name <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Select</option>
                                <option value="1">Carrier 1</option>
                                <option value="2">Carrier 2</option>
                                <option value="3">Carrier 3</option>
                            </select>
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Date of Injury <span class="clr--DF0404 ms-1"> *
                                </span> </label>
                            <div class="input-group">
                                <input class="form-control  " placeholder="Select Date" name="dp" [(ngModel)]="model"
                                    ngbDatepicker #d="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="d.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">State <span class="clr--DF0404 ms-1"> * </span></label>
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Select State</option>
                                <option value="1">State 1</option>
                                <option value="2">State 2</option>
                                <option value="3">State 3</option>
                            </select>
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Claim # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Claim" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Adjuster Name # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Adjuster Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Adjuster Phone # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="number" placeholder="Enter Adjuster Phone" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Was this reported to your employer?</label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="me-3">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12">
                        <h2 class="mb-2 mt-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Employers Information </h2>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Employer Name <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Employer Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Employer Phone <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="number" placeholder="Enter Employer Phone" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Employer Address <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <textarea class="form-control " type="text" placeholder="Enetr Address" rows="4"></textarea>
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                </div>

                <div class="row"> 
                    <div class="col-12">
                        <h2 class="mb-2 mt-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Attorney Information </h2>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Attorney Name <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Attorney Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Attorney Phone <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="number" placeholder="Enter Attorney Phone" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div> 
                    <div class="col-12 d-flex align-items-center justify-content-end">
                        <button mat-raised-button color="primary" class="flex-shrink-0 ms-0 ms-sm-auto mt-4 ui--button">
                            <input type="file">
                            <mat-icon class="material-symbols-outlined flex-shrink-0"> upload </mat-icon>
                            Upload Insurance
                        </button>
                    </div>
                    <div class="col-12 d-flex flex-column flex-sm-row align-items-center mb-3">
                            <div class="d-flex align-items-center">
                                <div class="doc--pic d-flex align-items-center justify-content-center me-3">
                                <img src="../../../../assets/images/ark/ark_license.png"  alt="" class="img-fluid" />
                                </div>
                                <div class="d-flex flex-column  doc--desc">
                                    <h5 class="font-16">driverlicense.jpg</h5>
                                    <p class="m-0 font-14">94 KB of 94 KB </p>
                                </div> 
                          </div>
                          <button mat-raised-button color="primary" class="flex-shrink-0"> 
                                <mat-icon class="material-symbols-outlined flex-shrink-0"> delete </mat-icon>
                                Delete
                            </button> 
                    </div>
                    <div class="col-12 d-flex flex-column flex-sm-row align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <div class="doc--pic d-flex align-items-center justify-content-center me-3">
                            <img src="../../../../assets/images/ark/ark_license.png"  alt="" class="img-fluid" />
                            </div>
                            <div class="d-flex flex-column  doc--desc">
                                <h5 class="font-16">driverlicense.jpg</h5>
                                <p class="m-0 font-14">94 KB of 94 KB </p>
                            </div> 
                      </div>
                      <button mat-raised-button color="primary" class="flex-shrink-0"> 
                            <mat-icon class="material-symbols-outlined flex-shrink-0"> delete </mat-icon>
                            Delete
                        </button> 
                </div>
                    <div class="col-12">
                        <label class="fw-700 font-16 clr--1F2F3E mb-1 mt-3">Minor Consent</label>
                        <p class="font-16 clr--1F2F3E lh-24">User Name - I hereby authorize this PT clinic and/or it's Individual Therapists and Assistants to evaluate and administer PT treatments to the minor patient listed above. This authorization is in effect as of the date this form is signed. This authorization shall remain valid for current and future PT cases until written notice
                            is given by me revoking said authorization. I understand that I am financially responsible for all services rendered to the above patient whether I am present at the time of treatment or not.</p>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-center flex-wrap ">
                            <a class="text-primary text-decoration-underline fw-700 font-16 mt-2 me-4 cursor-pointer" (click)="cmsModal()">Policies Page</a>
                            <a class="text-primary text-decoration-underline fw-700 font-16 mt-2 cursor-pointer" (click)="cmsModal()">Hamilton Physical Therapy & Associated Clinics Policies Page</a>
                            
                        </div>
                    </div>
                    <div class="col-12 d-flex flex-column w-100">
                        <div class="signature--box d-flex align-items-center justify-content-center">
                            <img src="assets/images/ark/M.S.Johnson.png"  alt="" class="img-fluid" />
                        </div>
                        <p class="fw-600 font-16 clr--1F2F3E mt-2 mb-0">Patient/Guardian Signature (Guardians must sign for minors)</p>
                    </div>
                    <div class="col-12 d-flex justify-content-end w-100">
                        <button mat-raised-button color="primary" class="flex-shrink-0 mt-2" (click)="addInsurance()">
                            <mat-icon class="material-symbols-outlined flex-shrink-0"> add_circle </mat-icon>
                            Add Insurance
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-between w-100 footer--btns">
        <button mat-stroked-button color="primary" class="m-1" [routerLink]="['/patient/book-appointment/step-1']">
            Previous
        </button>
        <button mat-raised-button color="primary" class="m-1" [routerLink]="['/patient/book-appointment/step-3']">
            Next
        </button>
    </div>
</div>