<div class="container-fluid book--appointment--wrapper ba--step--two">
    <div class="row">
        <div class="col-12 d-flex align-items-center mt-0 mb-2">
            <button mat-stroked-button color="primary" class="me-3 back--btn"
                [routerLink]="['/patient/book-appointment/step-1']">
                <mat-icon class="material-symbols-outlined flex-shrink-0 m-0"> keyboard_backspace </mat-icon>
            </button>
            <h3 class="mb-0 clr--1F2F3E fw-600 d-flex flex-wrap">
                <span class="me-3">Intake Form</span>
                <span>(Step <span class="text-primary"> 2 </span> of 5)</span>
            </h3>
        </div>
    </div>
    <form [formGroup]="step2Form">
        <div class="card m-0">
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label fw-600">Pay Via</label>
                    <mat-radio-group (change)="onChange($event)" formControlName="payVia" aria-label="Select an option">
                        <mat-radio-button value="Insurance" class="me-3">Insurance</mat-radio-button>
                        <mat-radio-button value="Selfpay">Self Pay</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div *ngIf="payViaSelected =='Insurance'" class="row">
                <div class="col-12">
                    <p class="fw-700 font-16 mb-0">Responsible Party/Guarantor (RP) *</p>
                    <p class="font-16">
                        If you are not the patient but responsible for charges - Please check relationship below.
                    </p>
                </div>
                <div class="col-12 col-lg-6 col-md-6 ">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Relationship with Patient</label>
                        <select formControlName="relationWithPatient" class="form-select form-control"
                            aria-label="Default select example">
                            <option value="" selected>Select Relation</option>
                            <option value="{{element}}" *ngFor="let element of relationWithPatient">{{element}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6">
                    <div>
                        <div class="form-group">
                            <label class="col-form-label fw-600">Other Relation </label>
                            <input class="form-control" type="text" placeholder="Specify Relation" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label class="col-form-label fw-600">First Name <span class="clr--DF0404 ms-1"> *
                            </span></label>
                        <input (blur)="checkSpace('firstName', $event)" formControlName="firstName" class="form-control"
                            type="text" placeholder="Enter First Name" />
                        <div class="text text-danger mt-1"
                            *ngIf="step2Form.controls['firstName'].touched && (step2Form.controls['firstName'].hasError('required') || step2Form.controls['firstName'].invalid)">
                            {{ validationMessages.required('First Name') }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Middle Name </label>
                        <input (blur)="checkSpace('middleName', $event)" formControlName="middleName"
                            class="form-control" type="text" placeholder="Enter Middle Name" />
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Last Name <span class="clr--DF0404 ms-1"> * </span></label>
                        <input (blur)="checkSpace('lastName', $event)" formControlName="lastName" class="form-control"
                            type="text" placeholder="Enter Last Name" />
                        <div class="text text-danger mt-1"
                            *ngIf="step2Form.controls['lastName'].touched && (step2Form.controls['lastName'].hasError('required') || step2Form.controls['lastName'].invalid)">
                            {{ validationMessages.required('Last Name') }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-form-label fw-600">
                            Date of Birth <span class="clr--DF0404 ms-1"> * </span>
                        </label>
                        <div class="input-group">
                            <mat-form-field class="w-100 am--datepicker">
                                <input [max]="todayDate" formControlName="dob" readonly placeholder="MM-DD-YYYY"
                                    matInput [matDatepicker]="picker" (focus)="picker.open()">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="text text-danger mt-1"
                            *ngIf="step2Form.controls['dob'].touched && (step2Form.controls['dob'].hasError('required') || step2Form.controls['dob'].invalid)">
                            {{ validationMessages.requiredDropdown('Date of Birth') }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Marital Status</label>
                        <select formControlName="maritalStatus" class="form-select form-control"
                            aria-label="Default select example">
                            <option value="" selected>Select Marital Status</option>
                            <option value="{{element}}" *ngFor="let element of maritalStatus;">{{element}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <!-- <label class="col-form-label fw-600">Gender</label> -->
                        <mat-radio-group formControlName="gender" aria-label="Select an option">
                            <mat-radio-button value="Male" class="me-3">Male</mat-radio-button>
                            <mat-radio-button value="Female">Female</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Email <span class="clr--DF0404 ms-1"> * </span></label>
                        <input formControlName="email" class="form-control" type="email" placeholder="Enter Email" />
                        <div class="text text-danger mt-1"
                            *ngIf="step2Form.controls['email'].touched && (step2Form.controls['email'].hasError('required') || step2Form.controls['email'].invalid)">
                            {{ validationMessages.required('valid Email') }}
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Phone Number <span class="clr--DF0404 ms-1"> *
                            </span></label>
                        <input [imask]="{mask: '(000) 000-0000'}" formControlName="phoneNumber" class="form-control"
                            placeholder="Enter Phone Number" maxlength="14" />
                        <div class="text text-danger mt-1"
                            *ngIf="step2Form.controls['phoneNumber'].touched && (step2Form.controls['phoneNumber'].hasError('required') || step2Form.controls['phoneNumber'].invalid)">
                            {{ validationMessages.required('valid Phone Number') }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Cell Phone Number <span class="clr--DF0404 ms-1"> *
                        </span></label>
                        <input [imask]="{mask: '(000) 000-0000'}" formControlName="cellPhoneNumber" class="form-control"
                            placeholder="Enter Cell Phone Number" maxlength="14" />
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Work Extension <span class="clr--DF0404 ms-1"> *
                        </span></label>
                        <input [imask]="{mask: '(000) 000-0000'}" formControlName="workExtensionNumber"
                            class="form-control" placeholder="Enter Work Extension Number" maxlength="14" />
                    </div>
                </div>
                <div class="col-12 my-4">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="mb-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16 text-uppercase">
                                Insurances*
                            </h2>
                        </div>
                        <div class="col-12 col-xl-6 col-lg-6 col-sm-12">
                            <div class="d-flex align-items-center w-100">
                                <div class="form-group w-100">
                                    <label class="col-form-label fw-600">Select from added Insurance</label>
                                    <select formControlName="insuranceName" (change)="getInsuranceDetails($event)"
                                        class="form-select form-control" aria-label="Default select example">
                                        <option value="" selected>Select Insurance</option>
                                        <option value="{{element.insuranceName}}"
                                            *ngFor="let element of insuranceList; let i=index">
                                            {{element.insuranceName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-12">
                            <h2 class="mb-3 mt-2  clr--1F2F3E fw-700 d-flex flex-wrap font-16"> Subscriber's Details
                            </h2>

                            <p class="font-15 lh-24">
                                ("Subscriber" is the person who holds the insurance plan whether personally or through
                                their employer.Please also provide a copy of your insurance card(s) to our receptionist)
                            </p>
                        </div>
                        <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                            <div class="form-group">
                                <label class="col-form-label fw-600">First Name <span class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <input (blur)="checkSpace('subscriberFirstName', $event)"
                                    formControlName="subscriberFirstName" class="form-control" type="text"
                                    placeholder="Enter First Name" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['subscriberFirstName'].touched && (step2Form.controls['subscriberFirstName'].hasError('required') || step2Form.controls['subscriberFirstName'].invalid)">
                                    {{ validationMessages.required('Subscriber First Name') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Middle Name </label>
                                <input formControlName="subscriberMiddleName" class="form-control" type="text"
                                    placeholder="Enter Middle Name" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Last Name <span class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <input (blur)="checkSpace('subscriberLastName', $event)"
                                    formControlName="subscriberLastName" class="form-control" type="text"
                                    placeholder="Enter Last Name" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['subscriberLastName'].touched && (step2Form.controls['subscriberLastName'].hasError('required') || step2Form.controls['subscriberLastName'].invalid)">
                                    {{ validationMessages.required('Subscriber Last Name') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Date of Birth <span class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <div class="input-group">
                                    <mat-form-field class="w-100 am--datepicker">
                                        <input [max]="todayDate" formControlName="subscriberDob" readonly
                                            placeholder="MM-DD-YYYY" matInput [matDatepicker]="picker2" (focus)="picker2.open()">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['subscriberDob'].touched && (step2Form.controls['subscriberDob'].hasError('required') || step2Form.controls['subscriberDob'].invalid)">
                                    {{ validationMessages.requiredDropdown('Date of Birth') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Relationship with Patient <span
                                        class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <select formControlName="subscriberRelationWithPatient" class="form-select form-control"
                                    aria-label="Default select example">
                                    <option value="" selected>Select Relation</option>
                                    <option value="{{element}}" *ngFor="let element of relationWithPatient">{{element}}
                                    </option>
                                </select>
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['subscriberRelationWithPatient'].touched && (step2Form.controls['subscriberRelationWithPatient'].hasError('required') || step2Form.controls['subscriberRelationWithPatient'].invalid)">
                                    {{ validationMessages.requiredDropdown('Relationship with Patient') }}
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6 col-md-6 col-xl-4 ">
                            <div class="form-group mt-6">
                                <!-- <label class="col-form-label fw-600 ">Gender</label> -->
                                <mat-radio-group formControlName="gender" aria-label="Select an option">
                                    <mat-radio-button value="Male" class="me-5">Male</mat-radio-button>
                                    <mat-radio-button value="Female">Female</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <!-- <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Other Relation</label>
                                <input class="form-control" type="text" placeholder="Enter other relation" />
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="mb-2 mt-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Primary Insurances </h2>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Primary Insurances <span class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <input formControlName="primaryInsuranceCompany"
                                    (blur)="checkSpace('primaryInsuranceCompany', $event)" class="form-control"
                                    type="text" placeholder="Enter Primary Insurances Name" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['primaryInsuranceCompany'].touched && (step2Form.controls['primaryInsuranceCompany'].hasError('required') || step2Form.controls['primaryInsuranceCompany'].invalid)">
                                    {{ validationMessages.required('Insurance Company') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">ID/Policy # <span class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <input (blur)="checkSpace('primaryInsuranceIdPolicy', $event)"
                                    formControlName="primaryInsuranceIdPolicy" class="form-control" type="text"
                                    placeholder="Enter ID/Policy" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['primaryInsuranceIdPolicy'].touched && (step2Form.controls['primaryInsuranceIdPolicy'].hasError('required') || step2Form.controls['primaryInsuranceIdPolicy'].invalid)">
                                    {{ validationMessages.required('ID/Policy') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Group # <span class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <input (blur)="checkSpace('primaryInsuranceGroup', $event)"
                                    formControlName="primaryInsuranceGroup" class="form-control" type="text"
                                    placeholder="Enter Group" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['primaryInsuranceGroup'].touched && (step2Form.controls['primaryInsuranceGroup'].hasError('required') || step2Form.controls['primaryInsuranceGroup'].invalid)">
                                    {{ validationMessages.required('Group') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Customer Service Ph # <span
                                        class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <input [imask]="{mask: '(000) 000-0000'}"
                                    formControlName="primaryInsuranceCustomerServicePh" class="form-control" type="text"
                                    placeholder="Enter Customer Service Ph" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['primaryInsuranceCustomerServicePh'].touched && (step2Form.controls['primaryInsuranceCustomerServicePh'].hasError('required') || step2Form.controls['primaryInsuranceCustomerServicePh'].invalid)">
                                    {{ validationMessages.required('Customer Service Ph') }}
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-md-4">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Effective Date </label>
                                <div class="input-group">
                                    <mat-form-field class="w-100 am--datepicker">
                                        <input [max]="todayDate" formControlName="dob" readonly placeholder="MM-DD-YYYY"
                                            matInput [matDatepicker]="picker3" (focus)="picker3.open()">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['dob'].touched && (step2Form.controls['dob'].hasError('required') || step2Form.controls['dob'].invalid)">
                                    {{ validationMessages.requiredDropdown('Date of Birth') }}
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-md-4">
                            <div class="form-group">
                                <label class="col-form-label fw-600">End Date</label>
                                <div class="input-group">
                                    <mat-form-field class="w-100 am--datepicker">
                                        <input [max]="todayDate" formControlName="dob"   placeholder="MM-DD-YYYY"
                                            matInput [matDatepicker]="picker4" (focus)="picker4.open()">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                                        <mat-datepicker #picker4></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['dob'].touched && (step2Form.controls['dob'].hasError('required') || step2Form.controls['dob'].invalid)">
                                    {{ validationMessages.requiredDropdown('Date of Birth') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="d-flex col-12 justify-content-between align-items-center">
                            <h2 class="mb-2 mt-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16  ">Secondary Insurances </h2>
                            <button   mat-raised-button color="primary"
                            class="flex-shrink-0 mt-2"   >
                            <mat-icon class="material-symbols-outlined flex-shrink-0"> add_circle </mat-icon>
                            Add Third Insurance
                        </button>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Secondary Insurances </label>
                                <input formControlName="secondaryInsuranceCompany"
                                    (blur)="checkSpace('secondaryInsuranceCompany', $event)" class="form-control"
                                    type="text" placeholder="Enter Secondary Insurances Name" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['secondaryInsuranceCompany'].touched && (step2Form.controls['secondaryInsuranceCompany'].hasError('required') || step2Form.controls['secondaryInsuranceCompany'].invalid)">
                                    {{ validationMessages.required('Insurance Company') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">ID/Policy #  </label>
                                <input (blur)="checkSpace('secondaryInsuranceIdPolicy', $event)"
                                    formControlName="secondaryInsuranceIdPolicy" class="form-control" type="text"
                                    placeholder="Enter Phone Number" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['secondaryInsuranceIdPolicy'].touched && (step2Form.controls['secondaryInsuranceIdPolicy'].hasError('required') || step2Form.controls['secondaryInsuranceIdPolicy'].invalid)">
                                    {{ validationMessages.required('ID/Policy') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Group #  </label>
                                <input (blur)="checkSpace('secondaryInsuranceGroup', $event)"
                                    formControlName="secondaryInsuranceGroup" class="form-control" type="text"
                                    placeholder="Enter Group #" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['secondaryInsuranceGroup'].touched && (step2Form.controls['secondaryInsuranceGroup'].hasError('required') || step2Form.controls['secondaryInsuranceGroup'].invalid)">
                                    {{ validationMessages.required('Group') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Customer Service Ph #  </label>
                                <input [imask]="{mask: '(000) 000-0000'}"
                                    formControlName="secondaryInsuranceCustomerServicePh" class="form-control"
                                    type="text" placeholder="Enter Customer Service Ph #" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['secondaryInsuranceCustomerServicePh'].touched && (step2Form.controls['secondaryInsuranceCustomerServicePh'].hasError('required') || step2Form.controls['secondaryInsuranceCustomerServicePh'].invalid)">
                                    {{ validationMessages.required('Customer Service Ph') }}
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-md-4">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Effective Date </label>
                                <div class="input-group">
                                    <mat-form-field class="w-100 am--datepicker">
                                        <input [max]="todayDate" formControlName="dob" readonly placeholder="MM-DD-YYYY"
                                            matInput [matDatepicker]="picker5" (focus)="picker5.open()">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                                        <mat-datepicker #picker5></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['dob'].touched && (step2Form.controls['dob'].hasError('required') || step2Form.controls['dob'].invalid)">
                                    {{ validationMessages.requiredDropdown('Date of Birth') }}
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-md-4">
                            <div class="form-group">
                                <label class="col-form-label fw-600">End Date</label>
                                <div class="input-group">
                                    <mat-form-field class="w-100 am--datepicker">
                                        <input [max]="todayDate" formControlName="dob"   placeholder="MM-DD-YYYY"
                                            matInput [matDatepicker]="picker6" (focus)="picker6.open()">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker6"></mat-datepicker-toggle>
                                        <mat-datepicker #picker6></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['dob'].touched && (step2Form.controls['dob'].hasError('required') || step2Form.controls['dob'].invalid)">
                                    {{ validationMessages.requiredDropdown('Date of Birth') }}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Is your injury related to <span class="clr--DF0404 ms-1"> *
                                </span></label>
                                <mat-radio-group formControlName="injuryRelelatedTo" aria-label="Select an option">
                                    <mat-radio-button value="Worker's Compensation (WCOMP)" class="me-3">
                                        Worker's Compensation (WCOMP)</mat-radio-button>
                                    <mat-radio-button value="Motar Vehicle Accident (MVA)" class="me-3">
                                        Motar Vehicle Accident (MVA)</mat-radio-button>
                                    <div class="d-inline-flex flex-column">
                                        <mat-radio-button value="Other Personal Injury">
                                            Other Personal Injury
                                        </mat-radio-button>
                                        <div class="form-group" *ngIf="">
                                            <input class="form-control" type="text" placeholder="Enter Other Injury" />
                                        </div>
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Carrier Name <span class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <select formControlName="carrierName" class="form-select form-control"
                                    aria-label="Default select example">
                                    <option value="" selected>Select</option>
                                    <option value="{{element}}" *ngFor="let element of carrierNameList;">{{element}}
                                    </option>
                                </select>
                                <div class="text text-danger mt-1" *ngIf="step2Form.controls['carrierName'].touched && (step2Form.controls['carrierName'].hasError('required') || step2Form.controls['carrierName'].invalid)">
                                    {{ validationMessages.requiredDropdown('Carrier Name') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Date of Injury <span class="clr--DF0404 ms-1"> *
                                    </span> </label>
                                <div class="input-group">
                                    <mat-form-field class="w-100 am--datepicker">
                                        <input [max]="todayDate" formControlName="dateOfInjury" readonly
                                            placeholder="MM-DD-YYYY" matInput [matDatepicker]="picker7" (focus)="picker7.open()">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker7"></mat-datepicker-toggle>
                                        <mat-datepicker #picker7></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['dateOfInjury'].touched && (step2Form.controls['dateOfInjury'].hasError('required') || step2Form.controls['dateOfInjury'].invalid)">
                                    {{ validationMessages.requiredDropdown('Date of Injury') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">State <span class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <select formControlName="insuranceState" class="form-select form-control"
                                    aria-label="Default select example">
                                    <option value="" selected>Select State</option>
                                    <option *ngFor="let item of states" value="{{item.state}}">
                                        {{item.state}}
                                    </option>
                                </select>
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['insuranceState'].touched && (step2Form.controls['insuranceState'].hasError('required') || step2Form.controls['insuranceState'].invalid)">
                                    {{ validationMessages.requiredDropdown('State') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Claim # <span class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <input (blur)="checkSpace('claim', $event)" formControlName="claim" class="form-control"
                                    type="text" placeholder="Enter Claim" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['claim'].touched && (step2Form.controls['claim'].hasError('required') || step2Form.controls['claim'].invalid)">
                                    {{ validationMessages.required('Claim') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Adjuster Name # <span class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <input (blur)="checkSpace('adjusterName', $event)" formControlName="adjusterName"
                                    class="form-control" type="text" placeholder="Enter Adjuster Name" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['adjusterName'].touched && (step2Form.controls['adjusterName'].hasError('required') || step2Form.controls['adjusterName'].invalid)">
                                    {{ validationMessages.required('Adjuster Name') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Adjuster Phone # <span class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <input [imask]="{mask: '(000) 000-0000'}" formControlName="adjusterPhone"
                                    class="form-control" type="text" placeholder="Enter Adjuster Phone" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['adjusterPhone'].touched && (step2Form.controls['adjusterPhone'].hasError('required') || step2Form.controls['adjusterPhone'].invalid)">
                                    {{ validationMessages.required('Adjuster Phone') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Was this reported to your employer?</label>
                                <mat-radio-group formControlName="reportedEmployer" aria-label="Select an option">
                                    <mat-radio-button value="Yes" class="me-3">Yes</mat-radio-button>
                                    <mat-radio-button value="No">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-12">
                            <h2 class="mb-2 mt-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Employers Information
                            </h2>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Employer Name <span class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <input (blur)="checkSpace('employerName', $event)" formControlName="employerName"
                                    class="form-control" type="text" placeholder="Enter Employer Name" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['employerName'].touched && (step2Form.controls['employerName'].hasError('required') || step2Form.controls['employerName'].invalid)">
                                    {{ validationMessages.required('Employer Name') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Employer Phone <span class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <input [imask]="{mask: '(000) 000-0000'}" formControlName="employerPhone"
                                    class="form-control" type="text" placeholder="Enter Employer Phone" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['employerPhone'].touched && (step2Form.controls['employerPhone'].hasError('required') || step2Form.controls['employerPhone'].invalid)">
                                    {{ validationMessages.required('Employer Phone') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Employer Address <span class="clr--DF0404 ms-1"> *
                                    </span></label>
                                <textarea (blur)="checkSpace('employerAddress', $event)"
                                    formControlName="employerAddress" class="form-control " type="text"
                                    placeholder="Enetr Address" rows="4"></textarea>
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['employerAddress'].touched && (step2Form.controls['employerAddress'].hasError('required') || step2Form.controls['employerAddress'].invalid)">
                                    {{ validationMessages.required('Employer Address') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h2 class="mb-2 mt-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Attorney Information </h2>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label class="col-form-label fw-600">Have you consulted an attorney for your current Problem? </label>
                                <mat-radio-group formControlName="reportedEmployer" aria-label="Select an option">
                                    <mat-radio-button value="Yes" class="me-3">Yes</mat-radio-button>
                                    <mat-radio-button value="No1">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">
                                    Attorney Name
                                    <span class="clr--DF0404 ms-1"> * </span>
                                </label>
                                <input (blur)="checkSpace('attorneyName', $event)" formControlName="attorneyName"
                                    class="form-control" type="text" placeholder="Enter Attorney Name" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['attorneyName'].touched && (step2Form.controls['attorneyName'].hasError('required') || step2Form.controls['attorneyName'].invalid)">
                                    {{ validationMessages.required('Attorney Name') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label fw-600">
                                    Attorney Phone
                                    <span class="clr--DF0404 ms-1"> *</span>
                                </label>
                                <input [imask]="{mask: '(000) 000-0000'}" formControlName="attorneyPhone"
                                    class="form-control" type="text" placeholder="Enter Attorney Phone" />
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['attorneyPhone'].touched && (step2Form.controls['attorneyPhone'].hasError('required') || step2Form.controls['attorneyPhone'].invalid)">
                                    {{ validationMessages.required('Attorney Phone') }}
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-12">
                            <div class="form-group">
                                <label class="col-form-label fw-600">
                                    Attorney Address
                                    <span class="clr--DF0404 ms-1"> *</span>
                                </label>
                                <textarea (blur)="checkSpace('attorneyAddress', $event)"
                                    formControlName="attorneyAddress" class="form-control " type="text"
                                    placeholder="Enter Address" rows="4"></textarea>
                                <div class="text text-danger mt-1"
                                    *ngIf="step2Form.controls['attorneyAddress'].touched && (step2Form.controls['attorneyAddress'].hasError('required') || step2Form.controls['attorneyAddress'].invalid)">
                                    {{ validationMessages.required('Attorney Address') }}
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-12 d-flex align-items-center justify-content-end">
                            <div class="form-group">
                                <button [disabled]="uploadedInsuranceFilesTotal >= 5" mat-raised-button color="primary"
                                    class="flex-shrink-0 ms-0 ms-sm-auto mt-4 ui--button">
                                    <input #insuranceFileInput accept="image/*, application/pdf,.doc, .docx"
                                        (change)="uploadInsurance($event)" type="file">
                                    <mat-icon class="material-symbols-outlined flex-shrink-0"> upload </mat-icon>
                                    Upload Insurance
                                </button>
                                <div class="text text-danger mt-1" *ngIf="fileError !=''">
                                    {{ fileError }}
                                </div>
                            </div>
                        </div>

                        <div *ngIf="uploadedInsuranceFiles" class="col-12 ">
                            <div *ngFor="let fileObj of uploadedInsuranceFiles; let i=index"
                                class="d-flex flex-column flex-sm-row align-items-center mb-3 w-100">
                                <div class="d-flex align-items-center">
                                    <div class="doc--pic d-flex align-items-center justify-content-center me-3">
                                        <mat-icon>{{fileObj.icon}}</mat-icon>
                                    </div>
                                    <div class="d-flex flex-column  doc--desc">
                                        <h5 class="font-16">{{fileObj.name}}</h5>
                                        <p class="m-0 font-14">{{fileObj.size}} </p>
                                    </div>
                                </div>
                                <button (click)="deleteInsurance(i)" mat-raised-button color="warn"
                                    class="flex-shrink-0">
                                    <mat-icon class="material-symbols-outlined flex-shrink-0"> delete </mat-icon>
                                    Delete
                                </button>
                            </div>
                        </div> -->

                        <div class="col-12">
                            <label class="fw-700 font-16 clr--1F2F3E mb-1 mt-3">Minor Consent</label>
                            <!-- <p class="font-16 clr--1F2F3E lh-24">{{fullNameForSign}} -->
                            <p class="font-16 clr--1F2F3E lh-24">User Name - I hereby authorize this PT clinic
                                and/or
                                it's
                                Individual Therapists and Assistants to evaluate and administer PT treatments to the
                                minor
                                patient listed above. This authorization is in effect as of the date this form is
                                signed.
                                This authorization shall remain valid for current and future PT cases until written
                                notice
                                is given by me revoking said authorization. I understand that I am financially
                                responsible
                                for all services rendered to the above patient whether I am present at the time of
                                treatment
                                or not.</p>
                        </div>
                        <div class="col-12 d-flex align-items-center justify-content-between flex-wrap">
                            <div  >
                                <a class="text-primary text-decoration-underline fw-700 font-16 mt-2 me-4 cursor-pointer"
                                    (click)="cmsModal()">Policies Page</a>
                                <a class="text-primary text-decoration-underline fw-700 font-16 mt-2 cursor-pointer"
                                    (click)="cmsModal()">Hamilton Physical Therapy & Associated Clinics Policies
                                    Page</a>  
                            </div>
                            <div>
                                <span class="fw-700 font-16 clr--1F2F3E mb-1 mt-1 me-3">Upload Insurance Card</span>

                                <button  mat-raised-button color="primary"
                                    class="flex-shrink-0 mt-2">
                                    <mat-icon class="material-symbols-outlined flex-shrink-0"> upload </mat-icon>
                                    Upload  
                                 </button>
                            </div>
                        </div>


                        <div class="col-12 d-flex  align-items-center justify-content-between">
                            <div class="signature--box d-flex align-items-center justify-content-center">
                                {{fullNameForSign}}
                            </div> 
                            <button  mat-raised-button color="primary"
                            class="flex-shrink-0 mt-2">
                            <mat-icon class="material-symbols-outlined flex-shrink-0"> add_circle </mat-icon>
                            Add Insurance  
                         </button>
                        </div>

                        <div class="col-12 d-flex">
                            <p class="fw-600 font-16 clr--1F2F3E mt-2 mb-0">Patient/Guardian Signature (Guardians must
                                sign
                                for minors)</p>
                        </div>
                        <!-- <div class="col-12 d-flex justify-content-end w-100">
                            <button [disabled]="step2Form.invalid" mat-raised-button color="primary"
                                class="flex-shrink-0 mt-2" (click)="addInsurance()">
                                <mat-icon class="material-symbols-outlined flex-shrink-0"> add_circle </mat-icon>
                                Save Insurance As
                            </button>
                        </div> -->

                        
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between w-100 footer--btns">
            <button mat-stroked-button color="primary" class="m-1" [routerLink]="['/patient/book-appointment/step-1']">
                Previous
            </button>
            <button [disabled]="step2Form.invalid && payViaSelected =='Insurance'" (click)="bookAppointmentStep2()"
                mat-raised-button color="primary" class="m-1">
                Next
            </button>
        </div>
    </form>
</div>