.reschedule--app--modal{
    padding: 20px;
    header{
        h1{
            color: #1F2F3E;
            font-size: 18px;
            margin-bottom: 20px; 
        }
    }
    .ra--body{
        
    }
}