

.mp--wrapper{
    .practice--location{
        max-width: 257px;
        font-size: 16px;
        border: 1px solid rgba(51, 184, 184, 0.40);
    }
    ::ng-deep{
        .cust--mat--table{
            tbody{
                tr{
                    td{ 
                        &:last-child{ 
                            .mat-icon{
                                height: 24px;
                                width: 24px;
                                font-size: 24px;
                            }
                        } 
                        .assing--td{
                            font-size: 14px !important;
                            width: 165px;
                            border: 1px solid rgba(51, 184, 184, 0.40);
                        }
                    }
                }
            }
        }
    }
}
