.cp---wrapper{
    .modal--body{
        .prefix{
            position: absolute;
            top: 45px;
            left: 13px;
        }
        .form-control{
            padding-left: 30px;
        }
    }
}