<div class="modal--wrapper d-flex flex-column w-100 uam--wrapper">
    <div id="appointmentList">
        <div class="modal--header w-100 d-flex justify-content-between align-items-center">
            <h1 class="mb-0 font-18 fw-600  d-flex align-items-center border-0 pb-0">
                Upcoming Appointments
            </h1>       
        </div>
        <div class="modal--body w-100">
            <div class="font-16" *ngIf="waitFlag">Please wait....</div> 
            <ul *ngIf="!waitFlag">
                <li class="font-16" *ngFor="let elements of upcomingAppointmentsList"> {{elements.appointmentDate | date:'EEE, MMM dd, yyyy hh:mm a'}}  </li>
                <li class="font-16" *ngIf="noRecordsFlag">No Upcoming Appointments</li> 
            </ul>
        </div>
    </div>
    <div class="modal--footer w-100 d-flex align-items-center justify-content-end pt-0">
        <button mat-stroked-button color="primary" class="me-2 px-3" (click)="downloadPDF()" *ngIf="printBtnFlag">Print List</button> 
        <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Close</button>
    </div>     
</div>