<div class="modal--wrapper d-flex flex-column w-100 uam--wrapper">
    <div class="modal--header w-100 d-flex justify-content-between align-items-center">
        <h1 class="mb-0 font-18 fw-600  d-flex align-items-center border-0 pb-0">
            Upcoming Appointments
        </h1> 
      
    </div>
    <div class="modal--body w-100  ">
         <ul>
            <li class="font-16"> Sat, Nov 10, 2023 10:00 am  </li>
            <li class="font-16"> Fri, Nov 09, 2023 10:30 am  </li>
            <li class="font-16"> Wed, Nov 07, 2023 11:30 am</li>
            <li class="font-16"> Tue, Nov 06, 2023 11:00 am</li>
            <li class="font-16"> Sun, Nov 04, 2023 11:00 am</li>
            <li class="font-16"> Tue, Oct  06, 2023 11:30 pm</li> 
         </ul>
    </div>
    <div class="modal--footer w-100 d-flex align-items-center justify-content-end pt-0">
        <button mat-stroked-button color="primary" class="me-2 px-3" mat-dialog-close>Print List</button> 
        <button mat-raised-button color="primary" mat-dialog-close>Close</button>
    </div>
     
</div>

