.document--wrapper{
    ::ng-deep{
        table{
            tbody{
                tr{
                    td{
                        padding: 12px 10px !important;
                        .mat-icon{
                            height: 36px;
                            width: 36px;
                            font-size: 36px;
                            color: #bae9e9;
                            flex-shrink: 0;
                        }
                        &:hover{
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}