<div class="col-12  document--wrapper"> 
    <div class="card"  >
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center justify-content-between mb-3">
                <h3 class="mb-0 clr--1F2F3E">Documents</h3> 
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control search--outer" placeholder="Search " (keyup)="searchRecords()" [(ngModel)]="searchDirectory">
                            <button mat-button class="p-0 flex-shrink-0 min-width-unset search--fields" (click)="searchRecords()">
                                <mat-icon class="material-symbols-outlined flex-shrink-0">search </mat-icon>
                            </button>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div>   
                </div>
            </div>
        </div> 
        <div class="card-body"> 
            <div class="row">
                <div class="col-12 cust--mat--table--wrapper">
                    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                        class="cust--mat--table">  
                        <ng-container matColumnDef="directory_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                                Name #
                            </th>
                            <td class="cursor-pointer" mat-cell *matCellDef="let element" routerLink="/{{userType}}/document-details/{{element._id}}"> 
                               <div class="d-flex align-items-center">
                                    <mat-icon class="me-3">folder</mat-icon>
                                    <p class="font-14 clr--292D32">{{element.directory_name}}</p>
                               </div>
                            </td>
                        </ng-container>  
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                                <!-- Action -->
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.actions}} </td>
                        </ng-container>  
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <p *ngIf="arrLength==0 && !loading" style="text-align: center;">No records found</p>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                    showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div> 
            </div>
        </div> 
    </div> 
 
       

</div> 
   