<div class="col-12 profile--right--wrapper">
    <div class="card">
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center" [routerLink]="['/support-team/dashboard']"><!-- [routerLink]="['/system-admin/user-managment/support-team']" -->
                <button mat-stroked-button color="primary" class="me-3 back--btn">
                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0"> keyboard_backspace </mat-icon> 
                </button>
                <h3 class="mb-0 clr--1F2F3E fw-600">Manage Profile</h3>
            </div> 
        </div>
        <div class="card-body d-flex flex-column flex-sm-row mb-5">
            <div class="profile--left d-flex flex-column position-relative flex-shrink-0">
                <div class="head--sec w-100">
                    <mat-list *ngIf="editOptions">
                        <mat-list-item (click)="changePhoto()">Change Photo </mat-list-item>
                        <mat-list-item (click)="removePhoto()" *ngIf="isDefaultImage">Remove Photo </mat-list-item>
                    </mat-list>
                </div>
                <div class="profile--round position-relative">
                    <img src="{{profileImage}}" alt="Profile Picture" class="img-fluid user--img" />
                    <button (click)="editProfile()" mat-raised-button color="primary" class="edit--btn"> 
                        <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 "> edit </mat-icon> 
                    </button>
                </div>
               <div class="d-flex flex-column w-100 body--sec">
                <button mat-stroked-button color="primary" class="w-100 mb-3" (click)="changePassword()">Change Password</button> 
               </div>
            </div>
            <div class="profile--right d-flex flex-column w-100">
                <div class="card w-100 mb-0">
                    <div class="card-header pb-0">
                        <div class="col-12 d-flex align-items-center"> 
                            <h3 class="mb-0 clr--1F2F3E fw-600">Basic Information</h3> 
                        </div> 
                    </div>
                    <div class="card-body mt-4">
                        <div class="col-12">
                            <form class="row" [formGroup]="updateProfileForm">
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">First Name <span class="clr--DF0404 ms-1"> * </span></label>
                                        <input class="form-control form-control-md" type="text" placeholder="First name" formControlName="firstName" maxlength="35" (blur)="checkSpace('firstName', $event)"/>
                                        <div class="text text-danger mt-1" *ngIf="updateProfileForm.controls['firstName'].touched && updateProfileForm.controls['firstName'].hasError('required')">
                                            {{ validationMessages.required('your First Name') }}
                                        </div>
                                        <div class="text text-danger mt-1" *ngIf="updateProfileForm.controls['firstName'].touched && updateProfileForm.controls['firstName'].hasError('pattern')">
                                            {{ validationMessages.alphabeticChar('First Name') }}
                                        </div>
                                      </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Last Name<span class="clr--DF0404 ms-1"> * </span></label>
                                        <input class="form-control form-control-md" type="text" placeholder="Last name" formControlName="lastName" maxlength="35" (blur)="checkSpace('lastName', $event)"/>
                                        <div class="text text-danger mt-1" *ngIf="updateProfileForm.controls['lastName'].touched && updateProfileForm.controls['lastName'].hasError('required')">
                                            {{ validationMessages.required('your Last Name') }}
                                        </div>
                                        <div class="text text-danger mt-1" *ngIf="updateProfileForm.controls['lastName'].touched && updateProfileForm.controls['lastName'].hasError('pattern')">
                                            {{ validationMessages.alphabeticChar('Last Name') }}
                                        </div>
                                      </div>
                                </div>
                                <div class="col-12 {{isTherapist?'col-lg-6':''}}">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Email <span class="clr--DF0404 ms-1"> * </span></label>
                                        <input class="form-control form-control-md text-lowercase" type="text" placeholder="Email " formControlName="email"/>
                                      </div>
                                </div>

                                <div class="col-12 col-lg-6" *ngIf="isTherapist">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Phone <span class="clr--DF0404 ms-1"> * </span></label>
                                        <input class="form-control form-control-md" type="text" placeholder="Phone " formControlName="phoneNumber" (input)="onPhoneInputChange($event)" [value]="convertPhoneNumber" maxlength="14"/>
                                        <div class="text text-danger mt-1" *ngIf="updateProfileForm.controls['phoneNumber'].touched && updateProfileForm.controls['phoneNumber'].hasError('required')">
                                            {{ validationMessages.required('a valid phone number') }}
                                        </div>
                                        <div class="text text-danger mt-1" *ngIf="updateProfileForm.controls['phoneNumber'].touched && updateProfileForm.controls['phoneNumber'].hasError('pattern')">
                                            {{ validationMessages.invalidPhoneNumber }}
                                        </div>
                                      </div>
                                </div>

                                <div class="col-12 col-lg-6" *ngIf="isTherapist">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">NPI <span class="clr--DF0404 ms-1"> *</span></label>
                                        <input class="form-control form-control-md" type="text" placeholder="NPI " formControlName="NPI" maxlength="10"/>
                                        <div class="text text-danger mt-1" *ngIf="updateProfileForm.controls['NPI'].touched && (updateProfileForm.controls['NPI'].hasError('required') || updateProfileForm.controls['NPI'].hasError('pattern'))">
                                            {{ validationMessages.required('a valid NPI number') }}
                                        </div>
                                    </div>
                                </div>
                                 <!-- Therapist Field -->
                                <div class="col-12 col-lg-6" *ngIf="isTherapist">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">SSN <span class="clr--DF0404 ms-1"> *</span></label>
                                        <input class="form-control form-control-md" type="text" placeholder="SSN " formControlName="SSN" maxlength="9"/>
                                        <div class="text text-danger mt-1" *ngIf="updateProfileForm.controls['SSN'].touched && (updateProfileForm.controls['SSN'].hasError('required') || updateProfileForm.controls['SSN'].hasError('pattern'))">
                                            {{ validationMessages.required('a valid SSN') }}
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-12 col-lg-6" *ngIf="isTherapist">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Licence Number <span class="clr--DF0404 ms-1"> *</span></label>
                                        <input class="form-control form-control-md" type="text" placeholder="Licence Number " formControlName="licenceNumber" maxlength="15"/>
                                        <div class="text text-danger mt-1" *ngIf="updateProfileForm.controls['licenceNumber'].touched && updateProfileForm.controls['licenceNumber'].hasError('required')">
                                            {{ validationMessages.required('a valid Licence number') }}
                                        </div>
                                    </div>
                                </div>
                                 
                                <div class="col-12 my-2 d-flex align-items:center   mt-3 ">
                                    <div class="d-flex align-items-center">
                                        <div class="signature--box img--sign d-flex align-items-center justify-content-center">
                                            <img src="assets/images/ark/M.S.Johnson.png" class="img-fluid" alt=" ">
                                        </div>
                                        <button mat-raised-button color="primary" class="flex-shrink-0 ms-2  ui--button cursor-pointer">
                                            <input type="file">
                                            <mat-icon class="material-symbols-outlined flex-shrink-0"> upload </mat-icon>
                                            Update Signature
                                        </button>  
                                    </div>
                                 </div>

                                <div class="col-12 my-2 d-flex align-items: center justify-content-end mt-3 ">
                                     
                                    <button mat-raised-button color="primary" (click)="updateProfile()" [disabled]="!updateProfileForm.valid">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
    