<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
      <div class="login-card patient--signup--wrapper login-dark dark-gray">
        <div>
          <div><a class="logo">
              <!-- <img class="img-fluid for-light" src="assets/images/logo/logo.svg" alt="looginpage"> -->
              <img class="img-fluid for-light" ngSrc="assets/images/logo/logo.svg" alt="looginpage" width="96" height="96"  >
            </a>
          </div>
          <div class="login-main pb-4">
            <form class="row">
              <div class="col-12 theme-form">
                <h3 class="text-center dark-grey">{{mainHeadTxt}}</h3>
                <p class="text-center mt-2">Enter details to create an account </p>
              </div>
              <div class="col-12"> 
                <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!"  #stepper>

                  <!-- Step 1 -->
                  <mat-step [stepControl]="step1" label="Personal Info">
                    <form [formGroup]="firstFormGroup" (ngSubmit)="goToNext(1,firstFormGroup.value,stepper)">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label class="col-form-label fw-600">First Name <span class="clr--DF0404 ms-1"> * </span></label>                            
                            <input class="form-control" type="text" required="" placeholder="Enter First Name" (blur)="checkSpace(firstFormGroup.controls['firstName'], $event)" formControlName="firstName" maxlength="35"/>
                            <div class="text text-danger mt-1" *ngIf="firstFormGroup.controls['firstName'].touched && (firstFormGroup.controls['firstName'].hasError('required') || firstFormGroup.controls['firstName'].invalid)">
                              {{ validationMessages.required('First Name') }}
                            </div>                            
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label class="col-form-label fw-600">Middle Name </label>
                              <input class="form-control" type="text" placeholder="Enter Middle Name" (blur)="checkSpace(firstFormGroup.controls['middleName'], $event)" formControlName="middleName" maxlength="35" />
                              <div class="text text-danger mt-1" *ngIf="firstFormGroup.controls['middleName'].touched && (firstFormGroup.controls['middleName'].hasError('required') || firstFormGroup.controls['middleName'].invalid)">
                                {{ validationMessages.required('Middle Name') }}
                              </div>
                          
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label class="col-form-label fw-600">Last Name <span class="clr--DF0404 ms-1"> *
                                </span></label>
                              <input class="form-control" type="text" placeholder="Enter Last Name" (blur)="checkSpace(firstFormGroup.controls['lastName'], $event)" formControlName="lastName" maxlength="35"/>
                              <div class="text text-danger mt-1" *ngIf="firstFormGroup.controls['lastName'].touched && (firstFormGroup.controls['lastName'].hasError('required') || firstFormGroup.controls['lastName'].invalid)">
                                {{ validationMessages.required('Last Name') }}
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="row">
                              <div class="col-12 col-lg-6">
                                <div class="form-group">
                                  <label class="col-form-label fw-600">Date of Birth <span class="clr--DF0404 ms-1"> * </span></label>
                                  <div class="input-group">
                                    <input class="form-control text-lowercase" placeholder="mm-dd-yyyy" name="dp" [(ngModel)]="selectedDate"
                                      ngbDatepicker #d="ngbDatepicker" (ngModelChange)="onDateChange($event)" formControlName="dob"  [value]="selected_date" [minDate]="getMinDate()"  [maxDate]="maxEndDate" (click)="d.toggle()" />
                                    <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="d.toggle()"
                                      type="button">
                                      <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                    </button>
                                  </div>
                                 
                                  <div class="text text-danger mt-1" *ngIf="firstFormGroup.controls['dob'].hasError('required') && firstFormGroup.controls['dob'].touched">
                                    {{ validationMessages.required('Date of Birth') }}</div>
                                </div>
                             
                              </div>
                              <div class="col-12 col-lg-6 col-xl-6">
                                <div class="form-group">
                                  <label class="col-form-label fw-600">Gender <span class="clr--DF0404 ms-1"> * </span></label>  
                                  <mat-radio-group aria-label="Select an option" formControlName="gender" >
                                    <mat-radio-button value="Male" class="me-3">Male</mat-radio-button>
                                    <mat-radio-button value="Female">Female</mat-radio-button>
                                    <div class="text text-danger mt-1" *ngIf="firstFormGroup.controls['gender'].hasError('required') && firstFormGroup.controls['gender'].touched">
                                      {{ validationMessages.radioButton }}</div>
                                  </mat-radio-group>

                                </div>
                              </div>
                              <div class="col-12 col-lg-6">
                                <div class="form-group">
                                  <label class="col-form-label fw-600">Email <span class="clr--DF0404 ms-1"> * </span> </label>
                                  <input class="form-control text-lowercase" type="email" placeholder="Enter Email" formControlName="email" />
                                  <div class="text text-danger mt-1" *ngIf="firstFormGroup.controls['email'].touched && (firstFormGroup.controls['email'].hasError('required') || firstFormGroup.controls['email'].invalid)">
                                    {{ validationMessages.required('Email') }}
                                  </div>
                                  <div class="text text-danger mt-1" *ngIf="emailError">
                                      {{invalidEmailErrorMessage}}
                                </div>
                                </div>
                              </div>
                              <div class="col-12 col-lg-6">
                                <div class="form-group">
                                  <label class="col-form-label fw-600">Phone Number<span class="clr--DF0404 ms-1"> * </span></label>
                                  <input class="form-control" type="text" placeholder="Enter Phone Number" (input)="onPhoneInputChange($event)" [value]="convertPhoneNumber" maxlength="14" formControlName="phoneNumber"/>                            
                                  <div class="text text-danger mt-1" *ngIf="firstFormGroup.controls['phoneNumber'].touched && firstFormGroup.controls['phoneNumber'].hasError('required')">
                                    {{ validationMessages.required('a valid phone number') }}
                                </div>
                                <div class="text text-danger mt-1" *ngIf="firstFormGroup.controls['phoneNumber'].touched && firstFormGroup.controls['phoneNumber'].hasError('pattern')">
                                    {{ validationMessages.invalidPhoneNumber }}
                                </div>
                                </div>
                              </div>
                              <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Password <span class="clr--DF0404 ms-1"> * </span></label>
                                        <div class="form-input position-relative">
                                            <input class="form-control" [type]="show ? 'text' : 'password'" placeholder="Enter Password" formControlName="password"/>
                                            @if(!show){
                                            <div class="show-hide" (click)="showPassword()"><span class="show"> </span></div>
                                            }@else{
                                            <div class="show-hide" (click)="showPassword()"><span class="Hide"></span></div>
                                            } 
                                        </div>
                                      <div class="text text-danger mt-1" *ngIf="firstFormGroup.controls['password'].touched && firstFormGroup.controls['password'].hasError('required')">
                                        {{ validationMessages.required('Password') }}
                                      </div>
                                      <div class="text text-danger mt-1" *ngIf="firstFormGroup.controls['password'].touched && firstFormGroup.controls['password'].hasError('pattern')">
                                          {{ validationMessages.password }}
                                      </div>
                                    </div>
                              </div>
                              <div class="col-12 col-lg-6">
                                  <div class="form-group">
                                    <label class="col-form-label fw-600">Confirm Password <span class="clr--DF0404 ms-1"> * </span> </label>
                                    <div class="form-input position-relative">
                                        <input class="form-control" [type]="showConfirmPass ? 'text' : 'password'" placeholder="Enter Confirm Password" formControlName="confirmPassword"/>
                                        @if(!showConfirmPass){
                                        <div class="show-hide" (click)="showConfirmPassword()"><span class="show"> </span></div>
                                        }@else{
                                        <div class="show-hide" (click)="showConfirmPassword()"><span class="Hide"></span></div>
                                        } 
                                    </div>
                                    <div class="text text-danger mt-1" *ngIf="firstFormGroup.hasError('passwordMismatch') && firstFormGroup.controls['confirmPassword'].touched">
                                      {{ validationMessages.passwordMismatch }}
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> 

                      <div class="d-flex align-items-center justify-content-end mt-3">
                        <button  mat-raised-button color="primary" type="submit">Next</button>
                      </div> 
                    </form>
                  </mat-step>
                  <!-- Step 2 -->
                  <mat-step [stepControl]="step2" label="Additional Info">
                    <h1 class="font-16 mb-3">Mailing Address</h1>
                    <form [formGroup]="secondFormGroup" (ngSubmit)="goToNext(2,secondFormGroup.value,stepper)">
                      <div class="row">
                        <div class="col-12"> 
                          <div class="form-group">
                            <label class="col-form-label fw-600">Street Name  <span class="clr--DF0404 ms-1"> * </span></label>
                            <input class="form-control" type="text" placeholder="Street Name" formControlName="address1" />
                            <div class="text text-danger mt-1" *ngIf="secondFormGroup.controls['address1'].touched && (secondFormGroup.controls['address1'].hasError('required') || secondFormGroup.controls['address1'].invalid)">
                              {{ validationMessages.required('Street Name') }}
                            </div>
                          </div>  
                        </div>
                        <div class="col-12">
                          <div class="row"> 
                            <div class="col-12 col-lg-6">
                              <div class="form-group">
                                <label class="col-form-label fw-600">Apartment #  <span class="clr--DF0404 ms-1"> * </span>  </label>
                                <input class="form-control" type="text" placeholder="Apartment #" formControlName="address2" />
                                <div class="text text-danger mt-1" *ngIf="secondFormGroup.controls['address2'].touched && (secondFormGroup.controls['address2'].hasError('required') || secondFormGroup.controls['address2'].invalid)">
                                  {{ validationMessages.required('Apartment') }}
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-lg-6">
                              <div class="form-group">
                                <label class="col-form-label fw-600">State <span class="clr--DF0404 ms-1"> * </span></label>
                                <select class="form-select form-control" id="state" aria-label="Default select example" formControlName="state"  (ngModelChange)="onStateChange($event)">
                                  <option selected value="">Select State</option>
                                  <option *ngFor="let item of states" value="{{item.state_code}}" [selected]="">{{item.state}}</option>
                                </select>                               
                                <div class="text text-danger mt-1" *ngIf="secondFormGroup.controls['state'].touched && secondFormGroup.controls['state'].hasError('required')">
                                  {{ validationMessages.requiredDropdown('State') }}
                                </div>
                              </div>
                            </div> 
                            <div class="col-12 col-lg-6">
                              <div class="form-group">
                                <label class="col-form-label fw-600">City <span class="clr--DF0404 ms-1"> * </span></label>
                                <select class="form-select form-control" id="city" aria-label="Default select example" [(ngModel)]="selectedCity" formControlName="city">
                                  <option selected value="">Select City</option>
                                  <option *ngFor="let item of cities" value="{{item.city}}" >{{item.city}}</option>
                                  <!-- [selected]="item.city==selectedCity" -->
                                </select>
                                
                                <div class="text text-danger mt-1" *ngIf="secondFormGroup.controls['city'].touched && secondFormGroup.controls['city'].hasError('required')">
                                  {{ validationMessages.requiredDropdown('City') }}
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-lg-6">
                              <div class="form-group">
                                <label class="col-form-label fw-600">Postal Code <span class="clr--DF0404 ms-1"> * </span>  </label>
                                <input class="form-control" type="text" placeholder="Enter Postal Code" formControlName="zipcode" maxlength="6"/>
                                <div class="text text-danger mt-1" *ngIf="secondFormGroup.controls['zipcode'].touched && (secondFormGroup.controls['zipcode'].hasError('required') || secondFormGroup.controls['zipcode'].invalid)">
                                  {{ validationMessages.required('Zipcode') }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-between mt-3">
                        <button mat-stroked-button color="primary" matStepperPrevious >Previous</button>
                        <button mat-raised-button color="primary" type="submit">Next</button>
                        <!-- <button mat-raised-button color="primary" matStepperNext (click)="next()">Next</button> -->
                      </div>
                    </form>
                  </mat-step>

                  <!-- Step 3 -->
                  <mat-step [stepControl]="step3" label="Verification">
                     <form [formGroup]="thirdFormGroup" (ngSubmit)="goToNext(3,thirdFormGroup.value,stepper)">
                       <div class="row">

                        <div class="col-12">
                          <div class="form-group">
                            <label class="col-form-label fw-600">Type of ID Proof <span class="clr--DF0404 ms-1" *ngIf="isRequired"> * </span></label>
                            <select class="form-select form-control" aria-label="Default select example" formControlName="documents_type" [(ngModel)]="selectedDocumentsType">
                              <option [selected]="true" value="">Select Type of ID Proof</option>
                              <option *ngFor="let item of documents_type_list" value="{{item}}">{{item}}</option>                              
                              <!-- [selected]="selectedDocumentsType==item" -->
                            </select>                            
                            <div class="text text-danger mt-1" *ngIf="thirdFormGroup.controls['documents_type'].touched && thirdFormGroup.controls['documents_type'].hasError('required')">
                              {{ validationMessages.requiredDropdown('ID Proof') }}
                            </div>
                            <div class="text text-danger mt-1" *ngIf="thirdFormGroup.errors?.['documents_type_empty']">
                              {{ validationMessages.requiredProofDocument }}
                            </div>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="upload--files d-flex align-items-center justify-content-center flex-column w-100 text-center">
                            <div class="upload--box" ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" [uploader]="uploader" (fileOver)="fileOverBase($event)">
                              <input class="input--file" type="file" name="documents" ng2FileSelect [uploader]="uploader"  (change)="fileOverBase($event)" />
                                <mat-icon > upload_file </mat-icon>
                                <h6 class="font-18 fw-500">Upload Your Driver License or drag & drop it here</h6>
                                <p class="mb-0 font-14 fw-500">JPEG, JPG, PNG, PDF formats, up to 25MB</p>
                            </div>
                          </div>
                        </div>

                        <mat-form-field class="full-width" *ngIf="documents_temps">
                          <input matInput name="documents_temp" formControlName="documents_temp" />
      
                        </mat-form-field>
                        <div class="text text-danger mt-1 form-error-msg" *ngIf="thirdFormGroup.controls['documents_temp'].hasError('required') && thirdFormGroup.controls['documents_temp'].touched"> Please drag your document. </div>
                        <div class="text text-danger mt-1 form-error-msg" *ngIf="thirdFormGroup.errors?.['documents_temp_empty']"> {{ validationMessages.requiredDocument }} </div>
                        <div class="text text-danger mt-1 form-error-msg" *ngIf="fileErrors"> {{ fileErrors }} </div>
                        
                        <div class="col-12 d-flex align-items-center mb-3">
                          <div class="row align-items-center w-100">
                            <div class="col-11">
                              <div class="d-flex align-items-center w-100">
                                <div class="doc--pic d-flex align-items-center justify-content-center" *ngIf="!documentsMissing">
                                  <span *ngIf="fileType && fileType === 'image'">
                                    <img [src]="documentsLink" alt="{{documentsName}}"  class="img-fluid" >
                                  </span>
                                  <span *ngIf="fileType && fileType === 'doc'">
                                    <mat-icon> file_copy </mat-icon>
                                  </span>
                                  <span *ngIf="fileType && (fileType === 'pdf')">
                                    <mat-icon> picture_as_pdf </mat-icon>
                                      <!-- <iframe [src]="documentsLink" width="100%" height="100" frameborder="0"></iframe> -->
                                  </span>
                                  <span *ngIf="fileType && fileType === 'unknown'">
                                    <mat-icon> file_copy </mat-icon>
                                  </span>
                                 </div>
                                <div class="d-flex flex-column w-100 doc--desc" *ngIf="!documentsMissing">
                                    <h5 class="font-16">{{documentsName}}</h5>
                                    <p class="m-0 font-14" *ngIf="document_size">{{document_size}}</p>
                                </div> 
                              </div>
                            </div>
                            <div class="col-1 d-flex justify-content-end pe-0" *ngIf="!documentsMissing">
                              <div mat-button class="p-0 flex-shrink-0 min-width-unset" (click)="documentDelete();">
                                <span class="material-icons cancel--btn">
                                  cancel
                                  </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 d-flex align-items-center mb-3"> 
                          <mat-checkbox class="" formControlName="isChecked" required>By Clicking on ‘Sign Up’ you agree to the Privacy Policy and Terms of Services of the HPT-EHR platform.</mat-checkbox>
                        </div>
                        <div class="text text-danger mt-1" *ngIf="thirdFormGroup.controls['isChecked'].touched && thirdFormGroup.controls['isChecked'].hasError('required')">
                          {{ validationMessages.requiredCheckbox('Privacy Policy and Terms of Services') }}
                        </div>
                       </div>

                      <div class="d-flex align-items-center justify-content-between mt-3">
                        <button mat-stroked-button color="primary" matStepperPrevious (click)="back()">Previous</button>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!submitButton || !thirdFormGroup.valid">Sign Up</button>
                        <!-- matStepperNext -->
                      </div>
                    </form>
                  </mat-step> 

                </mat-stepper>  
              </div>
            </form>

            <div class="d-flex align-items-center justify-content-center mt-3 ">
              <p class="mb-0 text-center font-nunito">Already have an account?
                  <a href="#" class="ms-2 font-16 fw-600"  [routerLink]="['/']">Sign in </a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>