.ba--step--two{ 
    .card{   
        .signature--box{
            width: 200px;
            height: 72px;
            border-radius: 6px;
            border: 1px solid rgba(49, 183, 183, 0.40);
            background: #FFF;
            box-shadow: 0px 6.879px 14px 0px rgba(18, 18, 18, 0.10);
            overflow: hidden;
            padding: 5px;
            margin-top: 10px;
            font-size: 21px;

            font-family: "Great Vibes", cursive;
            font-weight: 600; 
        }
        .ui--button{
            input[type=file]{
                z-index: 999999;
                opacity: 0;
                position: absolute;
                left: -38px;
                top: -6px;
                height: 36px;
                width: 103px;
            } 
        }
        .doc--desc{
            width: 230px;
            margin-right: 20px;
            h5{
                word-break: break-all;
            }
        } 
        .concent--box{
            border-top: 1px solid #ddd;
            padding-top: 15px;
            margin-top: 15px;
            ::ng-deep{
                .mat-mdc-checkbox {
                    margin-left: -8px;
                    .mdc-label{
                        font-size: 16px !important;
                    }
                }
            }
        }
        .minor--consent{
            ::ng-deep{
                .mat-mdc-checkbox {
                    .mdc-form-field{
                        align-items: flex-start;
                        .mdc-checkbox{
                            margin-top: -6px;
                            margin-left: -11px;
                        }
                    }
                }
            }
        }
    }  
} 
 
.mt-6{
    margin-top: 2rem;
}