<div class="col-12 insurance-upload-wrapper">
    <div class="card">
        <div class="card-header">
            <div class="col-12 d-flex align-items-center flex-wrap justify-content-between">
                <h3 class="mb-2 clr--1F2F3E">Upload Insurances</h3>
                <button class="flex-shrink-0 mb-2" mat-stroked-button color="primary" [routerLink]="['/practice-admin/insurance-management']"> 
                    <mat-icon class="material-symbols-outlined flex-shrink-0 me-1 ms-1">  keyboard_backspace  </mat-icon> 
                    Back to Insurances-Management
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-between flex-wrap mb-2">
                    <label class="fw-700 font-16 mb-0"> Upload File</label>
                    <a class="font-16 fw-600 text-primary cursor-pointer" (click)="downloadSampleFile()">Download Sample CSV File</a>
                </div>
                <div class="col-12 mb-2">
                    <div class="upload--files d-flex align-items-center justify-content-center flex-column w-100 text-center">
                        <input class="input--file" type="file" id="" #fileInput  (change)="onFileSelected($event, fileInput)" accept=".csv">
                        <mat-icon class="upload-icon"> upload_file </mat-icon>
                        <h6 class="fw-700 font-16 ">Select File from your Computer</h6>
                        <!-- <h5 class="font-16 fw-500 mb-1">File Uploaded Successfully.</h5> -->
                        <div class="text text-danger mt-1" *ngIf="isFileError">
                            {{ fileError }}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="font-16 fw-600 clr--848789 mb-2"><span class="clr--1F2F3E fw-700">Note:</span> Only .CSV file is accepted.</p>
                        <p class="font-16 fw-600 clr--848789 mb-2"><span class="clr--1F2F3E fw-700">Note:</span> Please upload a file upto 15 MB.</p>
                    </div>
                </div>
                <div class="col-12" *ngIf="fileName">
                    <div class="d-flex flex-column mt-2">
                        <label class="fw-700 font-16">Uploaded File</label>

                        <!-- <mat-chip-grid #chipGrid aria-label="Fruit selection">
                            <mat-chip-row >
                              Sample File-1
                              <button matChipRemove >
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip-row>
                        </mat-chip-grid> -->

                        <div class="d-flex flex-row align-items-center pt-2">
                            <div class="d-flex flex-row align-items-center me-2">
                                <mat-icon class="text-primary me-2"> description </mat-icon>
                                <h5 class="font-16 fw-500 mb-0 mt-1">{{fileName}}</h5>
                            </div>
                            <button mat-button class="p-0 flex-shrink-0 min-width-unset" (click)="removeFile(fileInput)">
                                <span class="material-icons clr--DF0404">
                                    cancel
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-12 d-flex justify-content-center my-3">
                    <button mat-raised-button color="primary" class="intake-btn" [disabled]="!selectedFile" (click)="saveUploadedData()">
                        Save Uploaded Data
                    </button>
                </div>
                <div class="col-12">
                    <div class="divider"></div>
                </div>
                <div class="col-12">
                    <mat-chip-grid #chipGrid aria-label="Fruit selection">
                        <mat-chip-row *ngIf="totalRecordFound>0">
                            <label class="fw-600 mb-0">Total Records Found: {{totalRecordFound}}</label>
                        </mat-chip-row>
                        <mat-chip-row *ngIf="isSaveUploadedData">
                            <label class="fw-600 mb-0">New Entries Added: {{insertRecordCount}}, Total Entries Updted: {{updateRecordCount}}</label>
                        </mat-chip-row>
                        <mat-chip-row *ngIf="errorRecordFound>0">
                            <label class="fw-600 mb-0">Error Found In: {{errorRecordFound}} records</label>
                        </mat-chip-row>
                    </mat-chip-grid>
                </div>
                <div class="col-12">
                    <div class="divider"></div>
                </div>
                <div class="col-12 bulk--upload--insurance--wrapper overflow-auto" >
                    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="bulk--upload--insurance--mat--table" *ngIf="showTable">
                        
                        <ng-container matColumnDef="insuranceName">
                            <th mat-header-cell *matHeaderCellDef class="" mat-sort-header sortActionDescription="Sort by Name">Insurance Name</th>
                            <td mat-cell *matCellDef="let element" class=""> {{element.insuranceName}} </td>
                        </ng-container>
                        
                        <!--Insurance Type -->
                        <ng-container matColumnDef="insuranceType">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by NPI">Insurance Type</th>
                            <td mat-cell *matCellDef="let element"> {{element.insuranceType}} </td>
                        </ng-container>
                        
                        <!-- Payer ID -->
                        <ng-container matColumnDef="payerID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Status">Payer ID</th>
                            <td mat-cell *matCellDef="let element"> {{element.payerID}} </td>
                        </ng-container>

                        <!-- Insurance address -->
                        <ng-container matColumnDef="insuranceAddress">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Status">Insurance Address</th>
                            <td mat-cell *matCellDef="let element"> {{element.insuranceAddress}} </td>
                        </ng-container>
                        
                        <!-- Phone -->
                        <ng-container matColumnDef="phoneNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Added On">Phone Number</th>
                            <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                        </ng-container>

                        <!-- Billing Type -->
                        <ng-container matColumnDef="billingType">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by state">Billing Type</th>
                            <td mat-cell *matCellDef="let element">{{element.billingType}}</td>
                        </ng-container>

                        <!-- Errors -->
                        <ng-container matColumnDef="errors">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by state">Error Text</th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="element.errors.length>0">Row No: </span>{{element.errors.length>0? ' '+element.rowNumber+',':''}} 
                                <span *ngIf="element.errors.length>0">Error: </span>{{element.errors.length>0? ' '+element.errors.join(', ') : '-' }}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements" [hidden]="!showTable" ></mat-paginator>
                </div>

            </div>
        </div>
    </div>
</div>