<div class="col-12 appointment--wrapper he--wrapper"> 
    <div class="card"  >
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center justify-content-between mb-3">
                <h3 class="mb-0 clr--1F2F3E">Home Exercise</h3> 
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Practice Location</option> 
                                <option value="1">Hamilton PT at The Canyons</option>
                                <option value="2">Darby PT</option>
                                <option value="3">Corvallis PT</option>
                                <option value="4">Stevi PT</option>
                                <option value="5">PT Specialists of Florence</option>
                                <option value="6">Frenchtown PT</option>
                                <option value="7">HNB</option>
                            </select>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div> 
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Appointment Status</option> 
                                <option value="1">Accepted</option>
                                <option value="2">Reschedules</option> 
                                <option value="3">Pending</option> 
                                <option value="4">Declined</option> 
                            </select>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div> 
                     
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <button mat-stroked-button color="primary">Reset Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="card-body"> 
            <div class="row">
                <div class="col-12">
                    <h3 class="mt-4 mb-2 clr--1F2F3E">Medical Educational Videos part 1</h3> 
                    <div class="d-flex align-items-center w-100 v--outer">
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-12"></div>
            </div>
        </div> 
    </div> 
 
       

</div> 
   