.he--wrapper{
    .v--outer{
        overflow: auto;
        .v--box{ 
            border-radius: 10px 10px 0 0 ;
            overflow: hidden;
            margin-right: 15px;
        }
    }
    .sort--button{
        
    }
}