<div class="col-12 appointment--wrapper he--wrapper"> 
    <div class="card"  >
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center justify-content-between mb-3">
                <h3 class="mb-0 clr--1F2F3E">Home Exercise</h3> 
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Select Case</option> 
                                <option value="1">Case 1</option>
                                <option value="2">Case 2</option>
                                <option value="3">Case 3</option> 
                            </select>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div> 
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group sort--button">
                            <select class="form-select form-control " aria-label="Default select example">
                                <option selected>Latest on top</option> 
                                <option value="1">Latest on top 2</option>
                                <option value="2">Latest on top 3</option>  
                            </select>
                            <div class="icon--sort d-flex align-items-center justify-content-center">
                                <mat-icon>sort</mat-icon>
                            </div>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div> 
                     
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <button mat-stroked-button color="primary">Reset Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="card-body"> 
            <div class="row">
                <div class="col-12 mb-4">
                    <h3 class="mt-4 mb-2 clr--1F2F3E">Medical Educational Videos part 1</h3> 
                    <div class="d-flex align-items-center w-100 v--outer">
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <h3 class="mt-4 mb-2 clr--1F2F3E">Medical Educational Videos part 2</h3> 
                    <div class="d-flex align-items-center w-100 v--outer">
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="v--box flex-shrink-0">
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
 
       

</div> 
   