.ba--step--three{ 
    .card{ 
        .disease--desc--wrapper{ 
            .dd--header{
                margin-bottom: 20px;
            } 
            .disease--box{
                width: 30%;
                padding-right: 20px; 
            }
            .family--box,
            .self--box{
                width: 35%;
                padding-right: 5%;
            } 
            .dd--body{
                .dd--row{
                    margin-bottom: 5px;
                    .disease--box{
                        label{
                            margin-top: 11px;
                        }
                    }
                }
            }
        }
        .divider{
            border-top: 1px solid #DED2D9;
            margin: 25px 0;
        }
        .add--btn{
            height: 45px;
            .mat-icon{
                font-size: 21px;
                width: 21px;
                height: 21px;
            }
        }
        .select--ans{
            list-style-type: none;
            li{
                width: 32px;
                height: 32px;
                border-radius: 50px;
                border: 1px solid #31B7B7;  
                color: #31B7B7;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-right: 20px;
                cursor: pointer;
                font-weight: 700;
                margin-top: 10px;
                &.active,
                &:hover{
                    color: #fff;
                    background: #31B7B7;
                }
            }
        }
    }  
} 
 

@media only screen and (max-width: 599px) {
    .ba--step--three{
        .card{ 
            .disease--desc--wrapper{
                .dd--header{
                    display: none !important;
                }
                .dd--body{
                    .dd--row{
                        flex-direction: column;
                        .self--box,
                        .family--box,
                        .disease--box{
                            width: 100%;
                            padding: 0;
                        }
                        .family--box,
                        .self--box{
                            h1{
                                display: flex !important;
                            }
                        }
                    }
                }
            }
            .select--ans{
                flex-direction: column;
                align-items: flex-start !important;
            }
        } 
    }
} 












.human-body {
    width: 207px;
    position: relative;
    padding-top: 240px;
    height: 483px;
    display: block;
    margin: 40px auto 72px auto;
}

.human-body svg:hover {
    cursor: pointer;
}
.human-body svg.active path,
.human-body svg:hover path {
    fill: #ff7d16;
}

.human-body svg {
    position: absolute;
    left: 50%;
    fill: #57c9d5;
}

.human-body svg#head {
    margin-left: -28.5px;
    top: -6px;
}

.human-body svg#left-shoulder {
    margin-left: -53.5px;
    top: 69px;
}

.human-body svg#right-shoulder {
    margin-left: 13.5px;
    top: 69px;
}

.human-body svg#left-arm {
    margin-left: -78px;
    top: 112px;
}

.human-body svg#right-arm {
    margin-left: 38px;
    top: 112px;
    z-index: 9;
}

.human-body svg#chest {
    margin-left: -43.5px;
    top: 88px;
}

.human-body svg#stomach {
    margin-left: -37.5px;
    top: 130px;
}

.human-body svg#left-leg {
    margin-left: -46.5px;
    top: 205px;
    z-index: 9;
}

.human-body svg#right-leg {
    margin-left: 1.5px;
    top: 205px;
    z-index: 9;
}

.human-body svg#left-hand {
    margin-left: -102.5px;
    top: 224px;
}

.human-body svg#right-hand {
    margin-left: 66.5px;
    top: 224px;
    z-index: 9;
}

.human-body svg#left-foot {
    margin-left: -35.5px;
    top: 455px;
}

.human-body svg#right-foot {
    margin-left: 5.5px;
    top: 455px;
}

#area {
    display: block;
    width: 100%;
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Courier New;
    color: #a5a5a5;
}

#area #data {
    color: black;
}
