.ba--step--three{
    color: #1F2F3E;
    .back--btn{
        min-width: 42px;
        .material-symbols-outlined{
            width: 24px;
            height: 24px;
            font-size: 24px; 
        }
    }
    .card{
        padding: 20px 40px;
        height: calc(100vh - 285px);
        overflow: auto; 
        border-radius: 10px 10px 0px 0px; 
        .lh-24{
            line-height: 24px;
        } 
        .disease--desc--wrapper{ 
            .dd--header{
                margin-bottom: 20px;
            } 
            .disease--box{
                width: 30%;
                padding-right: 20px; 
            }
            .family--box,
            .self--box{
                width: 35%;
                padding-right: 5%;
            } 
            .dd--body{
                .dd--row{
                    margin-bottom: 5px;
                    .disease--box{
                        label{
                            margin-top: 11px;
                        }
                    }
                }
            }
        }
        .divider{
            border-top: 1px solid #DED2D9;
            margin: 25px 0;
        }
        .select--ans{
            list-style-type: none;
            li{
                width: 32px;
                height: 32px;
                border-radius: 50px;
                border: 1px solid #31B7B7;  
                color: #31B7B7;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-right: 20px;
                cursor: pointer;
                font-weight: 700;
                margin-top: 10px;
                &.active,
                &:hover{
                    color: #fff;
                    background: #31B7B7;
                }
            }
        }
    } 
    .footer--btns{ 
        padding: 15px 40px ;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.03);
        border-radius:0 0 10px 10px ;
        background-color: #fff;
    }
    
    ::-ms-input-placeholder {  
        color: #828282 !important;
        font-size: 14px !important;
    }
    
    ::placeholder {
        color: #828282 !important;
        font-size: 14px !important;
    }
} 
@media screen and (orientation:landscape) and (max-width: 850px){
    .ba--step--three{
        .card{
            height: auto;
            
        }
    } 
}

@media only screen and (max-width: 599px) {
    .ba--step--three{
        .card{
            padding: 15px;
            height: calc(100vh - 250px); 
            .disease--desc--wrapper{
                .dd--header{
                    display: none !important;
                }
                .dd--body{
                    .dd--row{
                        flex-direction: column;
                        .self--box,
                        .family--box,
                        .disease--box{
                            width: 100%;
                            padding: 0;
                        }
                        .family--box,
                        .self--box{
                            h1{
                                display: flex !important;
                            }
                        }
                    }
                }
            }
            .select--ans{
                flex-direction: column;
                align-items: flex-start !important;
            }
        }
        .footer--btns{
            padding: 15px;
        }
    }
}
@media only screen and (min-width: 600px) and (max-width: 979px){}