.ba--step--three{ 
    .card{ 
        .disease--desc--wrapper{ 
            .dd--header{
                margin-bottom: 20px;
            } 
            .disease--box{
                width: 30%;
                padding-right: 20px; 
            }
            .family--box,
            .self--box{
                width: 35%;
                padding-right: 5%;
            } 
            .dd--body{
                .dd--row{
                    margin-bottom: 5px;
                    .disease--box{
                        label{
                            margin-top: 11px;
                        }
                    }
                }
            }
        }
        .divider{
            border-top: 1px solid #DED2D9;
            margin: 25px 0;
        }
        .add--btn{
            height: 45px;
            .mat-icon{
                font-size: 21px;
                width: 21px;
                height: 21px;
            }
        }
        .select--ans{
            list-style-type: none;
            li{
                width: 32px;
                height: 32px;
                border-radius: 50px;
                border: 1px solid #31B7B7;  
                color: #31B7B7;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-right: 20px;
                cursor: pointer;
                font-weight: 700;
                margin-top: 10px;
                &.active,
                &:hover{
                    color: #fff;
                    background: #31B7B7;
                }
            }
        }
    }  
} 
 

@media only screen and (max-width: 599px) {
    .ba--step--three{
        .card{ 
            .disease--desc--wrapper{
                .dd--header{
                    display: none !important;
                }
                .dd--body{
                    .dd--row{
                        flex-direction: column;
                        .self--box,
                        .family--box,
                        .disease--box{
                            width: 100%;
                            padding: 0;
                        }
                        .family--box,
                        .self--box{
                            h1{
                                display: flex !important;
                            }
                        }
                    }
                }
            }
            .select--ans{
                flex-direction: column;
                align-items: flex-start !important;
            }
        } 
    }
} 












// .human-body {
//     width: 207px;
//     position: relative;
//     padding-top: 240px;
//     height: 483px;
//     display: block;
//     margin: 40px auto 72px auto;
// }

// .human-body svg:hover {
//     cursor: pointer;
// }
// .human-body svg.active path,
// .human-body svg:hover path {
//     fill: #ff7d16;
// }

// .human-body svg {
//     position: absolute;
//     left: 50%;
//     fill: #57c9d5;
// }

// .human-body svg#head {
//     margin-left: -28.5px;
//     top: -6px;
// }

// .human-body svg#left-shoulder {
//     margin-left: -53.5px;
//     top: 69px;
// }

// .human-body svg#right-shoulder {
//     margin-left: 13.5px;
//     top: 69px;
// }

// .human-body svg#left-arm {
//     margin-left: -78px;
//     top: 112px;
// }

// .human-body svg#right-arm {
//     margin-left: 38px;
//     top: 112px;
//     z-index: 9;
// }

// .human-body svg#chest {
//     margin-left: -43.5px;
//     top: 88px;
// }

// .human-body svg#stomach {
//     margin-left: -37.5px;
//     top: 130px;
// }

// .human-body svg#left-leg {
//     margin-left: -46.5px;
//     top: 205px;
//     z-index: 9;
// }

// .human-body svg#right-leg {
//     margin-left: 1.5px;
//     top: 205px;
//     z-index: 9;
// }

// .human-body svg#left-hand {
//     margin-left: -102.5px;
//     top: 224px;
// }

// .human-body svg#right-hand {
//     margin-left: 66.5px;
//     top: 224px;
//     z-index: 9;
// }

// .human-body svg#left-foot {
//     margin-left: -35.5px;
//     top: 455px;
// }

// .human-body svg#right-foot {
//     margin-left: 5.5px;
//     top: 455px;
// }

// #area {
//     display: block;
//     width: 100%;
//     clear: both;
//     padding: 10px;
//     text-align: center;
//     font-size: 25px;
//     font-family: Courier New;
//     color: #a5a5a5;
// }

// #area #data {
//     color: black;
// }


.body--marking--wrapper{
    padding: 20px 25px;
    border-radius: 12px;
    border: 1px solid #31B7B7;
    background: rgba(49, 183, 183, 0.05);
    .human--body--wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 300px;
        height: 560px;
        box-shadow: 0 0 5px #ddd; 
        background-color: #fff;
        border-radius: 5px;
        position: relative;
        padding: 15px 0;
        .img--outer{ 
            .hover--img{
                display: none;
            }
            &.active,
            &:hover{
                .default--img{
                    display: none;
                }
                .hover--img{
                    display: block;
                } 
            }
        }
        .head--box{
            width: 44px;
            height: 21px;    
        }  
        .body--part{
            position: absolute;
            cursor: pointer; 
            &.face{
                left: 124px;
                top: 30px;
            }
            &.throat{
                left: 135px;
                top: 76px;
            }
            &.left--shoulder{
                left: 87px;
                top: 82px; 
            }
            &.right--shoulder{
                right: 85px;
                top: 82px; 
            }
            &.left--chest{
                left: 105px;
                top: 100px;
            }
            &.right--chest{
                right: 104px;
                top: 100px; 
            }
            &.left--biceps{
                left: 75px;
                top: 130px;
            }
            &.right--biceps{
                right: 76px;
                top: 130px;
            }
            &.left--hand{
                left: 43px;
                top: 177px;
            }
            &.right--hand{
                right: 44px;
                top: 179px;
            } 
            &.left--hand--palm{
                left: 12px;
                top: 242px;
            }
            &.right--hand--palm{
                right: 12px;
                top: 241px;
            }
    
            &.left--ribs{
                left: 105px;
                top: 136px;
            }
            &.right--ribs{
                right: 103px;
                top: 137px; 
            } 
            &.main--belly{
                right: 123px;
                top: 203px;
            } 
            &.left--belly{
                left: 117px;
                top: 195px;
            }
            &.right--belly{
                right: 109px;
                top: 195px;
            } 
            &.genitalia{
                left: 125px;
                top: 239px;
            }
            &.left--inner--things{
                left: 116px;
                top: 240px;
            }
            &.right--inner--things{
                right: 109px;
                top: 240px;
            }
            &.left--things{
                left: 104px;
                top: 242px;
            }
            &.right--things{
                right: 97px;
                top: 240px;
            } 
            &.left--knee{
                left: 113px;
                top: 359px;
            }
            &.right--knee{
                right: 105px;
                top: 358px;
            } 
            &.left--leg{
                left: 112px;
                top: 386px;
            }
            &.right--leg{
                right: 103px;
                top: 386px;
            } 
            &.left--leg--botton{
                left: 112px;
                top: 484px;
            }
            &.right--leg--botton{
                right: 102px;
                top: 484px;
            }  
        }

        &.back--body--wrapper{
            .body--part{
                &.nape{
                    top: 65px;
                    left: 122px;
                }
                &.spinal-cord{
                    top: 66px;
                    left: 148px;
                }
                &.clavicule-left{
                    top: 106px;
                    left: 103px;
                    z-index: 999;
                }
                &.back-left{
                    top: 110px;
                    left: 85px;
                    z-index: 9;
                }
                &.back-right{
                    top: 110px;
                    right: 76px;
                }
                &.left-hand-1{
                    top: 138px;
                    left: 75px;
                }
                &.left-hand-2{
                    top: 192px;
                    left: 44px;
                }
                &.left-hand-3{
                    top: 258px;
                    left: 23px;
                }
                &.right-hand-1{
                    top: 136px;
                    right: 68px;
                }
                &.right-hand-2{
                    top: 189px;
                    right: 36px;
                }
                &.right-hand-3{
                    top: 256px;
                    right: 14px
                }
                &.clavicule-right{
                    top: 106px;
                    right: 95px;
                }
                &.lowerback{ 
                    top: 200px;
                    left: 115px;
                }
                &.hips{ 
                    top: 245px;
                    left: 112px;
                }
                &.left-leg-1{
                    top: 276px;
                    left: 110px;
                }
                &.left-leg-2{
                    top: 362px;
                    left: 116px;
                }
                &.left-leg-3{
                    top: 442px;
                    left: 121px;
                }
                &.right-leg-1{
                    top: 276px;
                    right: 103px;
                }
                &.right-leg-2{
                    top: 362px;
                    right: 108px;
                }
                &.right-leg-3{
                    top: 442px;
                    right: 112px;
                }
            }
            
        }
    }
}

@media only screen and (max-width: 599px) {
    .body--marking--wrapper{
        padding: 20px 5px;
    }
    .body--marking--wrapper .human--body--wrapper{
        margin: 10px auto;
    }
}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .body--marking--wrapper .human--body--wrapper{
        margin: 15px auto;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1279px){

}
@media only screen and (min-width: 1280px) and (max-width: 1440px){}
@media only screen and (min-width: 1441px) and (max-width: 1550px){}
@media screen and (orientation:landscape) and (max-width: 850px){}