<div class="col-12 profile--right--wrapper">
    <div class="card">
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center">
                <button mat-stroked-button color="primary" class="me-3 back--btn" (click)="navigateToAdminUserList()">
                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0"> keyboard_backspace </mat-icon> 
                </button>
                <h3 class="mb-0 clr--1F2F3E fw-600">Profile Details</h3>
            </div> 
        </div>
        <div class="card-body d-flex flex-column flex-sm-row mb-5">
            <div class="profile--left d-flex flex-column position-relative flex-shrink-0">
                <div class="head--sec w-100">
                    <mat-list *ngIf="editOptions" >
                        <mat-list-item (click)="changePhoto()">Change Photo </mat-list-item>
                        <mat-list-item (click)="removePhoto()" *ngIf="isDefaultImage">Remove Photo </mat-list-item> 
                    </mat-list>
                </div> 
                <div class="profile--round position-relative">
                    <img src="{{profileImage}}"  alt="" class="img-fluid user--img" />
                    <button (click)="editProfile()" mat-raised-button color="primary" class="edit--btn"> 
                        <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 "> edit </mat-icon> 
                    </button>
                </div>
               <div class="d-flex flex-column w-100 body--sec">
                <button mat-stroked-button color="primary" class="w-100 mb-3" (click)="changePassword()">Change Password</button> 
                <button mat-stroked-button color="warn" class="w-100 mt-1" (click)="deleteAccount()">Delete Account</button> 
               </div>
            </div>
            <div class="profile--right d-flex flex-column w-100"  *ngIf="showProfileForm">
                <div class="card w-100 mb-0">
                    <div class="card-header pb-0">
                        <div class="col-12 d-flex align-items-center"> 
                            <h3 class="mb-0 clr--1F2F3E fw-600">Basic Information</h3> 
                        </div> 
                    </div>
                    <div class="card-body mt-4">
                        <div class="col-12">
                            <form class="row" [formGroup]="practiceAdminProfileForm">
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">First Name <span class="clr--DF0404 ms-1"> * </span></label>
                                        <input class="form-control form-control-md" type="text" placeholder="First name" formControlName="firstName" maxlength="35" (blur)="checkSpace('firstName', $event)"/>
                                        <div class="text text-danger mt-1" *ngIf="practiceAdminProfileForm.controls['firstName'].touched && practiceAdminProfileForm.controls['firstName'].hasError('required')">
                                            {{ validationMessages.required('your First Name') }}
                                        </div>
                                        <div class="text text-danger mt-1" *ngIf="practiceAdminProfileForm.controls['firstName'].touched && practiceAdminProfileForm.controls['firstName'].hasError('pattern')">
                                            {{ validationMessages.alphabeticChar('First Name') }}
                                        </div>
                                      </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Last Name<span class="clr--DF0404 ms-1"> * </span></label>
                                        <input class="form-control form-control-md" type="text" placeholder="Last name" formControlName="lastName" maxlength="35" (blur)="checkSpace('lastName', $event)"/>
                                        <div class="text text-danger mt-1" *ngIf="practiceAdminProfileForm.controls['lastName'].touched && practiceAdminProfileForm.controls['lastName'].hasError('required')">
                                            {{ validationMessages.required('your Last Name') }}
                                        </div>
                                        <div class="text text-danger mt-1" *ngIf="practiceAdminProfileForm.controls['lastName'].touched && practiceAdminProfileForm.controls['lastName'].hasError('pattern')">
                                            {{ validationMessages.alphabeticChar('Last Name') }}
                                        </div>
                                      </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Email <span class="clr--DF0404 ms-1"> * </span></label>
                                        <input class="form-control form-control-md" type="email" placeholder="Email " formControlName="email" maxlength="35" />
                                        
                                        <div class="text text-danger mt-1" *ngIf="practiceAdminProfileForm.controls['email'].touched && practiceAdminProfileForm.controls['email'].hasError('required')">
                                            {{ validationMessages.required('an email address') }}
                                          </div>
                                          <div class="text text-danger mt-1" *ngIf="practiceAdminProfileForm.controls['email'].touched && practiceAdminProfileForm.controls['email'].hasError('email')">
                                              {{ validationMessages.validEmail }}
                                          </div>
                                      </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Phone <span class="clr--DF0404 ms-1"> * </span></label>
                                        <input class="form-control form-control-md" type="text" placeholder="Phone " formControlName="phoneNumber" (input)="onPhoneInputChange($event)" [value]="convertPhoneNumber" maxlength="15"/>
                                        <div class="text text-danger mt-1" *ngIf="practiceAdminProfileForm.controls['phoneNumber'].touched && practiceAdminProfileForm.controls['phoneNumber'].hasError('required')">
                                            {{ validationMessages.required('a valid phone number') }}
                                        </div>
                                        <div class="text text-danger mt-1" *ngIf="practiceAdminProfileForm.controls['phoneNumber'].touched && practiceAdminProfileForm.controls['phoneNumber'].hasError('pattern')">
                                            {{ validationMessages.invalidPhoneNumber }}
                                        </div>
                                      </div>
                                </div>

                                <!-- Therapist Field -->
                                <div class="col-12 col-lg-6" *ngIf="isTherapist">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">NPI <span class="clr--DF0404 ms-1"> *</span></label>
                                        <input class="form-control form-control-md" type="text" placeholder="NPI " formControlName="NPI" maxlength="10"/>
                                        <div class="text text-danger mt-1" *ngIf="practiceAdminProfileForm.controls['NPI'].touched && (practiceAdminProfileForm.controls['NPI'].hasError('required') || practiceAdminProfileForm.controls['NPI'].hasError('pattern'))">
                                            {{ validationMessages.required('a valid NPI number') }}
                                        </div>
                                    </div>
                                </div>
                                 <!-- Therapist Field -->
                                <div class="col-12 col-lg-6" *ngIf="isTherapist">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">SSN <span class="clr--DF0404 ms-1"> *</span></label>
                                        <input class="form-control form-control-md" type="text" placeholder="SSN " formControlName="SSN" maxlength="9"/>
                                        <div class="text text-danger mt-1" *ngIf="practiceAdminProfileForm.controls['SSN'].touched && (practiceAdminProfileForm.controls['SSN'].hasError('required') || practiceAdminProfileForm.controls['SSN'].hasError('pattern'))">
                                            {{ validationMessages.required('a valid SSN') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Status  </label>
                                        <select class="form-select form-control form-control-md" aria-label="Default select example" formControlName="status">
                                            <option value="Pending">Pending</option>
                                            <option value="Active">Active</option>
                                            <option value="Suspended">Suspended</option>
                                            <option value="Deleted">Deleted</option>
                                            <option value="Blocked">Blocked</option>
                                          </select>
                                        <!-- <div class="text text-danger mt-1">Error here</div> -->
                                      </div>
                                </div>

                                <!-- Therapist Field -->
                                <div class="col-12 col-lg-6" *ngIf="isTherapist">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Mark as Site Leader for Practice Location </label>
                                        <!-- <select class="form-select form-control form-control-md" aria-label="Default select example" formControlName="siteLeaderForPracLocation">
                                            <option value="" selected>Select</option>
                                            <option *ngFor="let location of practiceLocationData" [value]="location">{{ location }}</option>
                                        </select> -->
                                        <select formControlName="siteLeaderForPracLocation" class="form-select form-control form-control-md">
                                            <option  [selected]=""> Select </option>
                                            <option value="Site Leader"> Site Leader</option>
                                            <option value="None"> None</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Therapist Field -->
                                <div class="col-12 col-lg-6" *ngIf="isTherapist">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Licence Number</label>
                                        <input class="form-control form-control-md" type="text" placeholder="Licence Number " formControlName="licenceNumber" maxlength="15"/>
                                        <div class="text text-danger mt-1" *ngIf="practiceAdminProfileForm.controls['licenceNumber'].touched && practiceAdminProfileForm.controls['licenceNumber'].hasError('required')">
                                            {{ validationMessages.required('a valid Licence number') }}
                                        </div>
                                    </div>
                                </div> 
                                 

                                <div class="col-12 col-lg-6" >
                                    <div class="form-group">
                                        <label class="col-form-label fw-600"> Credentials</label>
                                        <input class="form-control form-control-md" type="text" placeholder="Licence Number "  />
                                        <!-- <div class="text text-danger mt-1"  >
                                           Error
                                        </div> -->
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Practice Location </label>
                                        <select class="form-select form-control form-control-md" aria-label="Default select example" #locationSelect formControlName="practiceLocation" (change)="onLocationChange($event)">
                                            <option value="" selected>Select</option>
                                            <option *ngFor="let location of practiceLocationData" [value]="location">{{ location }}</option>
                                          </select>
                                        <!-- <div class="text text-danger mt-1">Error here</div> -->
                                      </div>
                                      <div class="form-group">
                                        <div class="chips d-inline-flex align-items-center"  *ngFor="let location of selectedLocations; let i = index" >
                                            {{location}}
                                            <button mat-button class="flex-shrink-0 min-width-unset chip--close--btn pe-0 ps-1" (click)="removeLocation(location)">
                                                <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 ">close </mat-icon>
                                            </button>
                                        </div>
                                      </div>
                                </div>
                                <div class="col-12 col-lg-6"> 
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Specialty  </label>
                                        <select class="form-select form-control form-control-md" aria-label="Default select example" >
                                            <option value="" selected>Select</option>
                                            <option >Specialty 01</option>
                                            <option >Specialty 02</option>
                                            <option >Specialty 03</option>
                                          </select>
                                        <!-- <div class="text text-danger mt-1">Error here</div> -->
                                      </div>
                                      <div class="form-group">
                                        <div class="chips d-inline-flex align-items-center"    >
                                            Specialty 1
                                            <button mat-button class="flex-shrink-0 min-width-unset chip--close--btn pe-0 ps-1"  >
                                                <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 ">close </mat-icon>
                                            </button>
                                        </div>
                                      </div>
                                </div>

                                 

                                
                                <div class="col-12 my-2 d-flex justify-content-end">
                                    <button mat-raised-button color="primary" (click)="updatePracticeAdminProfile()" [disabled]="!practiceAdminProfileForm.valid">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
    