<div class="col-12 app--details--wrapper profile--right--wrapper">
    <div class="card">
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center">
                <button mat-stroked-button color="primary" class="me-3 back--btn" [routerLink]="getPreviousPageLink()">
                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0"> keyboard_backspace </mat-icon> 
                </button>
                <h3 class="mb-0 clr--1F2F3E fw-600">Appointment Details</h3>
                
            </div> 
        </div>
        <div class="card-body d-flex flex-column flex-sm-row  ">
            <div class="profile--left d-flex flex-column position-relative flex-shrink-0">
                <div class="head--sec w-100"> 
                </div> 
                <div class="profile--round position-relative">
                    <div class="user--name d-flex align-items-center justify-content-center">
                        <span class="text-primary fw-700 text-uppercase">JW</span>
                    </div> 
                </div>
               <div class="d-flex flex-column align-items-center justify-content-center w-100 body--sec">
                 <h3 class="font-18 fw-700">John Walter</h3>
                 <div class="d-flex align-items-center user--email"> 
                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 text-primary">mail </mat-icon>
                    <p class="my-2 font-15">johnwalter1991&#64;gmail.com</p> 
                 </div>
                 <div class="d-flex align-items-center user--email"> 
                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 text-primary">call </mat-icon>
                    <p class="my-2 font-15">+1 1234-567-8902-4862</p> 
                 </div> 
                 <button mat-stroked-button color="primary" class="mp--btn" [routerLink]="['/support-team/patient-profile']"> 
                    View Patient Profile
                </button>
                <button mat-stroked-button color="primary" class="mp--btn" (click)="systemFollowup()"> 
                    System Followup History
                </button>
               </div>
            </div>
            <div class="profile--right d-flex flex-column w-100">
                <div class="card w-100 mb-0">
                    <div class="card-header pb-0">
                        <div class="col-12 d-flex align-items-center align-items-sm-start flex-sm-column flex-lg-row justify-content-between"> 
                            <h3 class="mb-0 clr--1F2F3E fw-600">Basic Information</h3> 
                            <button mat-raised-button color="primary"> 
                                View Intake Form
                            </button>
                        </div> 
                    </div>
                    <div class="card-body mt-4">
                        <div class="col-12"> 
                            <div class="row">
                                <div class="col-12 col-xl-6 col-md-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-flex align-items-start mb-4">
                                                <div class="indicate--round flex-shrink-0 d-flex align-items-center justify-content-center">
                                                    <mat-icon class="material-symbols-outlined text-primary">location_on</mat-icon> 
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <h3 class="m-0 clr--1F2F3E font-16 fw-700">Practice Location</h3>
                                                    <p class="mb-0 clr--1F2F3E font-16 fw-400">Corvallis PT</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-flex align-items-start mb-4">
                                                <div class="indicate--round flex-shrink-0 d-flex align-items-center justify-content-center">
                                                    <mat-icon class="material-symbols-outlined text-primary">call</mat-icon> 
                                                </div> 
                                                <div class="d-flex flex-column">
                                                    <h3 class="m-0 clr--1F2F3E font-16 fw-700">Appointment #</h3>
                                                    <p class="mb-0 clr--1F2F3E font-16 fw-400">123456</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-flex align-items-start mb-4">
                                                <div class="indicate--round flex-shrink-0 d-flex align-items-center justify-content-center">
                                                    <mat-icon class="material-symbols-outlined text-primary">calendar_today</mat-icon> 
                                                </div> 
                                                <div class="d-flex flex-column flex-sm-column flex-lg-row">
                                                    <div class="d-flex flex-column me-3">
                                                        <h3 class="m-0 clr--1F2F3E font-16 fw-700">Appointment Date and Time</h3>
                                                        <p class="mb-0 clr--1F2F3E font-16 fw-400">Tue, Nov 13, 2023 02:00 pm</p>
                                                    </div>
                                                    <button mat-stroked-button color="primary" class="flex-shrink-0"> 
                                                        <mat-icon class="material-symbols-outlined flex-shrink-0 me-1"> replay </mat-icon> 
                                                        Reschedule
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-flex align-items-start mb-4">
                                                <div class="indicate--round flex-shrink-0 d-flex align-items-center justify-content-center">
                                                    <mat-icon class="material-symbols-outlined text-primary">published_with_changes</mat-icon> 
                                                </div> 
                                                <div class="d-flex flex-column">
                                                    <h3 class="m-0 clr--1F2F3E font-16 fw-700">Appointment Status</h3>
                                                    <p class="mb-0 font-16 fw-400 status pending">Pending</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-flex align-items-start mb-4">
                                                <div class="indicate--round flex-shrink-0 d-flex align-items-center justify-content-center">
                                                    <mat-icon class="material-symbols-outlined text-primary">paid</mat-icon> 
                                                </div> 
                                                <div class="d-flex flex-column flex-sm-column flex-lg-row">
                                                    <div class="d-flex flex-column me-3">
                                                        <h3 class="m-0 clr--1F2F3E font-16 fw-700">Payment Mode</h3>
                                                        <p class="mb-0 clr--1F2F3E font-16 fw-400">Insurance/Self Pay</p>
                                                    </div>
                                                    <button class="flex-shrink-0" mat-stroked-button color="primary"> 
                                                        <mat-icon class="material-symbols-outlined flex-shrink-0 me-1 ms-1"> visibility </mat-icon> 
                                                        View Insurance
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-12 col-xl-6 col-md-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="col-form-label fw-600">Assign Therapist <span class="clr--DF0404 ms-1"> * </span></label>
                                                <input class="form-control form-control-md" type="text" placeholder="Enter Assign Therapist" value="Elizabeth" />
                                                <!-- <div class="text text-danger mt-1">Error here</div> -->
                                              </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="col-form-label fw-600">Case Name</label>
                                                <input class="form-control form-control-md" type="text" placeholder="Search Case Name" />
                                                <!-- <div class="text text-danger mt-1">Error here</div> -->
                                              </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="col-form-label fw-600">Copay Amount</label>
                                                <input class="form-control form-control-md" type="number" placeholder="$" />
                                                <!-- <div class="text text-danger mt-1">Error here</div> -->
                                              </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="col-form-label fw-600">High Deductibles</label>
                                                <input class="form-control form-control-md" type="number" placeholder="$" />
                                                <!-- <div class="text text-danger mt-1">Error here</div> -->
                                              </div>
                                              <mat-checkbox class="" checked>Patient Checked-In</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="card-body d-flex  w-100 mb-3 mt-0">
            <div class="medical--edu--video d-flex flex-column w-100">
                <h2 class="mb-3 clr--1F2F3E fw-600">Medical Educational Videos</h2>
                <div class="d-flex align-items-center w-100 v--outer">
                    <div class="v--box flex-shrink-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="v--box flex-shrink-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="v--box flex-shrink-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="v--box flex-shrink-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="v--box flex-shrink-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="v--box flex-shrink-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="v--box flex-shrink-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="v--box flex-shrink-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="v--box flex-shrink-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="v--box flex-shrink-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/CmzKQ3PSrow?si=NqmvzScRVRCJeEli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div> 
        </div>
        <div class="d-flex align-items-center justify-content-center w-100 footer--btns">
            <button mat-raised-button color="green--btn" class="m-1"> 
                Accept Appointment
            </button>
            <button mat-raised-button color="warn" class="m-1"> 
                Cancel Appointment
            </button>
        </div>
    </div>
</div> 
    