.profile--right--wrapper{
    .profile--round{
        width: 85px;
        height: 85px; 
        margin: -45px auto 38px auto; 
        .user--name{
            border-radius: 100%;
            border: 1px solid #31B7B7;
            width: 85px;
            height: 85px;
            background-color: #fff;
            span{
                font-size: 32px;
            }
        } 
    }
    .body--sec{
        padding: 0 5px !important; 
        .user--email{
            .mat-icon{
                width: 16px;
                height: 16px;
                font-size: 16px;
                margin-right: 5px !important;
            }
            p{
                word-break: break-all;
                line-height: 16px;
            }
        }
        .mp--btn{
            min-width: 184px;
            margin-top: 24px;
        }
    }
    .profile--right{
        .indicate--round{
            width: 45px;
            height: 45px;
            background-color: rgba(49, 183, 183, 0.20);
            border-radius: 100%;
            margin-right: 15px;
        }
    } 
    .medical--edu--video{
        border-top: 1px solid #31B8B84D;
        margin-top: 25px;
        padding-top: 25px;
        h2{
            font-size: 22px;
        }
        .v--outer{
            overflow: auto;
            .v--box{ 
                border-radius: 10px 10px 0 0 ;
                overflow: hidden;
                margin-right: 15px;
            }
        } 
    }
    .footer--btns{
        position: fixed;
        bottom: 15px;
        z-index: 99;
    }
    .add--h--btn{
        min-width: 40px;
        margin-left: 25px;
        .mat-icon{
            margin: 0 !important;
        }
    }
}

@media only screen and (max-width: 599px) {
    .profile--right--wrapper .footer--btns{
        position: relative; 
        flex-direction: column;
    }
} 
@media screen and (orientation:landscape) and (max-width: 850px){
    .profile--right--wrapper .footer--btns{
        position: relative; 
        flex-direction: column;
    }
}