

.app--managedetails--wrapper{ 
    .back--btn{
        min-width: 42px;
    }
    ::ng-deep{
        .card{
            ::-ms-input-placeholder {   
                font-size: 14px !important;
            } 
            ::placeholder { 
                font-size: 14px !important;
            }
            .card-body{
                height: calc(100vh - 315px);
                overflow: auto;
            }
            .upload--files{
                border-radius: 20px;
                border: 2px dashed rgba(49, 183, 183, 0.40);
                background: #FFF;
                padding: 30px 15px 20px 15px;
                margin-bottom: 30px;
                position: relative;
                h6{
                    margin: 15px 0;
                    color: #1F2F3E;
                }
                p{
                    color: #848789;
                }
                .input--file{
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
                .mat-icon{
                    font-size: 35px;
                    width: 35px;
                    height: 35px;
                    color: #31B7B7;
                }
            }
            .doc--pic{
                width: 120px;
                height: 75px;
                margin-right: 20px;
            }
            .doc--desc{
                h5{
                    color: #1F2F3E;
                    margin-bottom: 8px;
                }
                p{
                    color: #848789;
                }
            }
            .cancel--btn{
                color: #DF0404;
            } 
            .action--footer{
                margin-top: 200px;
            }
            .profile--left{ 
                margin-right: 40px;
                .head--sec{ 
                    .mat-mdc-list {
                        position: absolute;
                        right: -127px;
                        top: 1px;
                        border-radius: 6px;
                        border: 1px solid #EEE;
                        background: #FFF;
                        box-shadow: 0px 6.879px 14px 0px rgba(18, 18, 18, 0.10);
                        padding: 0;
                        z-index: 99;
                        .mat-mdc-list-item{
                            border-bottom: 1px solid #eee;
                            height: auto;
                            padding: 7px 15px 0px 15px;
                            cursor: pointer;
                            &:last-child{
                                border-bottom: none;
                            }
                            .mdc-list-item__content{
                                .mdc-list-item__primary-text{
                                    font-family: "Nunito Sans", sans-serif !important;
                                    font-size: 14px;
                                    color: #1F2F3E;
                                }
                            }
                        } 
                    }
                }
                .profile--round{
                    width: 85px;
                    height: 85px;  
                    .user--img{
                        border-radius: 100%;
                    }
                    .edit--btn{
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        padding: 0;
                        min-width: auto;
                        width: 24px;
                        height: 24px;
                        border-radius: 100%;
                        .mat-icon{
                            font-size: 15px;
                            height: 15px;
                            width: 15px;
                        }
                    }
                }
                .body--sec{
                    padding: 0 36px;
                }
            }
        }
    }
}

@media only screen and (max-width: 599px) {
    .app--managedetails--wrapper .card .action--footer{
        margin-top: 15px;
    }
    .app--managedetails--wrapper .card .card-body{
        height: unset;
    }
}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .app--managedetails--wrapper .card .action--footer{
        margin-top: 15px;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1279px){
    .app--managedetails--wrapper .card .action--footer{
        margin-top: 15px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){
    .app--managedetails--wrapper .card .action--footer{
        margin-top: 15px;
    }
} 
@media screen and (orientation:landscape) and (max-width: 850px){
    .app--managedetails--wrapper .card .action--footer{
        margin-top: 15px;
    }
    .app--managedetails--wrapper .card .card-body{
        height: unset;
    }
}