::ng-deep{
    .inivite--modal{
        .mat-mdc-dialog-container{
            width: 423px; 
            .inivite--wrapper{
                padding: 30px 24px;
                .inivite--header{
                    h1{
                        color: #1F2F3E;
                        font-size: 18px;
                        margin-bottom: 25px;
                        font-weight: 600;
                    }
                }
                .inivite--footer{
                    margin-top: 17px;
                }
            }
        }
    }
}