<div class="modal--wrapper   d-flex flex-column w-100">
    <div class="modal--header w-100">
        <h1 class="fw-700 border-0">Physical Therapy</h1>
    </div>
    <div class="modal--body w-100">
        <div class="col-12">
            <div class="form-group"> 
                <select class="form-select form-control" aria-label="outcome measure dd">
                    <option selected>Select or enter exercises</option>
                    <option value="1">Neck Disability Index</option>
                    <option value="2">QuickDASH</option>
                    <option value="3">Oswestry LBP</option> 
                </select>
                <!-- <div class="text text-danger mt-1"> First Name required</div> -->
            </div>
        </div> 
    </div>
    <div class="modal--footer w-100 d-flex align-items-center justify-content-end mt-2">
        <button mat-stroked-button color="primary" class="me-3" mat-dialog-close>Download/Print Note</button>
        <button mat-raised-button color="primary" mat-dialog-close>Save</button>
    </div>
</div>