<div class="modal--wrapper   d-flex flex-column w-100">
    <div class="modal--header d-flex flex-row w-100">
        <div class="col-7 d-flex justify-content-end">
            <div class="d-flex align-items-center flex-column">
                <h1 class="fw-700 border-0 font-20 pb-0 mb-0">Physical Therapy</h1>
                <p class="fw-400 clr--1F2F3E font-18 mb-0">One Page Note</p>
            </div>
        </div>
        <div class="col-5 d-flex justify-content-end">
            <button mat-raised-button color="primary" class="ml-auto">Download/ Print Note</button>
        </div>
    </div>
    <div class="modal--body w-100">
        <div class="col-12">
            <div class="d-flex flex-column">
                <p class="font-16 fw-600 mb-1">Thank you for referring ________________ to our practice.</p>
                <p class="font-16 fw-600 mb-0">________________ received an initial evaluation and treatment today ____________.</p><br>
                <p class="font-16 fw-600 mb-1">Following the evaluation, we will see ___________________, _______</p>
                <p class="font-16 fw-600 mb-0">times per week for _______ weeks with a focus on __________, _____________, etc. (based on therapies selected to be completed).</p><br>
                <p class="font-16 fw-600 mb-0">I will update you on ____________ progress as appropriate.</p><br>
                <p class="font-16 fw-600 mb-0">Thank you for the opportunity to assist _________________ with their rehabilitation.</p>
            </div>
        </div> 
    </div>
    <div class="modal--footer w-100 d-flex flex-column justify-content-start mt-2">
        <img src="../../../../../assets/images/ark/signature-img.png" class="img-fluid" alt="">
        <p class="font-16 fw-600 mb-1">PT signature</p>
    </div>
</div>