.signature--box{
    width: 200px;
    height: 72px;
    border-radius: 6px;
    border: 1px solid rgba(49, 183, 183, 0.40);
    background: #FFF;
    box-shadow: 0px 6.879px 14px 0px rgba(18, 18, 18, 0.10);
    overflow: hidden;
    padding: 5px; 
    font-family: "Great Vibes", cursive;
    font-weight: 600; 
    font-size: 21px;
}