<ngx-doc-viewer *ngIf="previewUrl!='' && fileType=='doc'"
                [url]="previewUrl"
                viewer="google"
                style="width:100%;height:90vh;"
                ></ngx-doc-viewer>

<audio *ngIf="fileType=='audio'" controls class="w-100" controlsList="nodownload">
    <source [src]="previewUrl" type="audio/ogg">
    <source [src]="previewUrl" type="audio/mpeg">
</audio>
<img *ngIf="fileType=='image'" [src]="previewUrl" class="img-fluid" alt="">
<video *ngIf="fileType=='video'" [src]="previewUrl" width="300" height="200" controls controlsList="nodownload" style="height: auto;width: 100%;"></video>