.book--appointment--wrapper{
    .back--btn{
        min-width: 42px;
        .material-symbols-outlined{
            width: 24px;
            height: 24px;
            font-size: 24px; 
        }
    }
    .card{
        padding: 20px 40px;
        height: calc(100vh - 285px);
        overflow: auto; 
        border-radius: 10px 10px 0px 0px;
    } 
    .footer--btns{ 
        padding: 15px 40px ;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.03);
        border-radius:0 0 10px 10px ;
        background-color: #fff;
    }
    
    ::-ms-input-placeholder {  
        color: #828282 !important;
        font-size: 14px !important;
    }
    
    ::placeholder {
        color: #828282 !important;
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 599px) {
   
} 
@media screen and (orientation:landscape) and (max-width: 850px){
    .book--appointment--wrapper{
        .card{
            height: auto;
        }
    }
}