<div class="container-fluid book--appointment--wrapper">
    <div class="row">
        <div class="col-12 d-flex align-items-center mb-4 mt-4">
            <button mat-stroked-button color="primary" class="me-3 back--btn" [routerLink]="['/patient/appointments']">
                <mat-icon class="material-symbols-outlined flex-shrink-0 m-0"> keyboard_backspace </mat-icon>
            </button>
            <h3 class="mb-0 clr--1F2F3E fw-600 d-flex flex-wrap">
                <span class="me-3">Book Appointment </span>
                <span>(Step <span class="text-primary"> 1 </span> of 5)</span> 
            </h3>
        </div>
    </div>
    <div class="card m-0"> 
        <div class="row">
            <div class="col-12 text-center">
                <p class="font-16"> 
                    <span class="fw-700 cl">*Note</span> If you need immediate assistance please 
                    <a (click)="contactModal()" class="text-primary font-16 text-decoration-underline fw-600 cursor-pointer ">contact</a> our office
                </p>
            </div>
            <div class="col-12 col-lg-6 col-md-6  ">
                <div class="form-group">
                    <label class="col-form-label fw-600">Practice Location</label>
                    <select class="form-select form-control" aria-label="Default select example">
                        <option selected>Practice Location</option> 
                        <option value="1">Hamilton PT at The Canyons</option>
                        <option value="2">Darby PT</option>
                        <option value="3">Corvallis PT</option>
                        <option value="4">Stevi PT</option>
                        <option value="5">PT Specialists of Florence</option>
                        <option value="6">Frenchtown PT</option>
                        <option value="7">HNB</option>
                    </select>
                    <!-- <div class="text text-danger mt-1">Error here</div> -->
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 ">
                <div class="form-group">
                    <label class="col-form-label fw-600">Select Date & Time </label>
                    <div class="input-group">
                      <input class="form-control text-lowercase" placeholder="mm-dd-yyyy" name="dp" [(ngModel)]="model"
                        ngbDatepicker #d="ngbDatepicker" />
                      <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="d.toggle()"
                        type="button">
                        <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                  <label class="col-form-label fw-600">Booking For</label>  
                  <mat-radio-group aria-label="Select an option" (change)="onChange($event)">
                    <mat-radio-button value="111" class="me-3" checked>Myself</mat-radio-button>
                    <mat-radio-button value="222">Other</mat-radio-button>
                  </mat-radio-group> 
                  <div class="form-group other--booking"  *ngIf="selectedValue == 222"> 
                    <input class="form-control" type="text" placeholder="Enter other booking for" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label fw-600">Relationship with Patient</label>
                    <select class="form-select form-control" aria-label="Default select example">
                        <option selected>Select Relation</option> 
                        <option value="1">Relation 1</option>
                        <option value="2">Relation 2</option>
                        <option value="3">Relation 3</option> 
                    </select>
                    <!-- <div class="text text-danger mt-1">Error here</div> -->
                </div>
                <div class="form-group" *ngIf=""> 
                    <input class="form-control" type="text" placeholder="Enter other relation" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                </div>
            </div>
            
            <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                <div class="form-group">
                    <label class="col-form-label fw-600">First Name <span class="clr--DF0404 ms-1"> * </span></label>
                    <input class="form-control" type="text" placeholder="Enter First Name" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                  </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                <div class="form-group">
                    <label class="col-form-label fw-600">Middle Name</label>
                    <input class="form-control" type="text" placeholder="Enter Middle Name"/>
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                  </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                <div class="form-group">
                    <label class="col-form-label fw-600">Last Name <span class="clr--DF0404 ms-1"> * </span></label>
                    <input class="form-control" type="text" placeholder="Enter Last Name" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                  </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label fw-600">Date of Birth </label>
                    <div class="input-group">
                      <input class="form-control text-lowercase" placeholder="mm-dd-yyyy" name="dp" [(ngModel)]="model"
                        ngbDatepicker #d="ngbDatepicker" />
                      <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="d.toggle()"
                        type="button">
                        <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 ">
                <div class="form-group">
                    <label class="col-form-label fw-600">Marital Status</label>
                    <select class="form-select form-control" aria-label="Default select example">
                        <option selected>Select Relation</option> 
                        <option value="1">Married</option>
                        <option value="2">Single</option>
                        <option value="3">Divorced</option> 
                        <option value="3">Widowed </option> 
                    </select>
                    <!-- <div class="text text-danger mt-1">Error here</div> -->
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                  <label class="col-form-label fw-600">Gender</label>  
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1" class="me-3">Male</mat-radio-button>
                    <mat-radio-button value="2">Female</mat-radio-button>
                  </mat-radio-group> 
                </div>
            </div> 
           
            <div class="col-12 col-lg-6 col-md-6 ">
                <div class="form-group">
                    <label class="col-form-label fw-600">Email <span class="clr--DF0404 ms-1"> * </span></label>
                    <input class="form-control" type="email" placeholder="Enter Email" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                  </div>
            </div>
            
            <div class="col-12 col-lg-6 col-md-6  ">
                <div class="form-group">
                    <label class="col-form-label fw-600">Phone Number <span class="clr--DF0404 ms-1"> * </span></label>
                    <input class="form-control" type="number" placeholder="Enter Phone Number"/>
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                  </div>
            </div>  
            <div class="col-12 col-lg-6 col-md-6 ">
                <div class="form-group">
                    <label class="col-form-label fw-600">Cell Phone Number </label>
                    <input class="form-control" type="number" placeholder="Enter Cell Phone Number" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                  </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 ">
                <div class="form-group">
                    <label class="col-form-label fw-600">Work Extension </label>
                    <input class="form-control" type="number" placeholder="Enter Work Extension Number" />
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                  </div>
            </div> 
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-end w-100 footer--btns"> 
        <button mat-raised-button color="primary" class="m-1" [routerLink]="['/patient/book-appointment/step-2']"> 
            Next
        </button>
    </div>
</div>