.profile--right--wrapper{
    .profile--round{
        width: 85px;
        height: 85px; 
        margin: -45px auto 38px auto; 
        .user--name{
            border-radius: 100%;
            border: 1px solid #31B7B7;
            width: 85px;
            height: 85px;
            background-color: #fff;
            span{
                font-size: 32px;
            }
        } 
    }
    .body--sec{
        padding: 0 5px !important; 
        .user--email{
            .mat-icon{
                width: 16px;
                height: 16px;
                font-size: 16px;
                margin-right: 5px !important;
            }
            p{
                word-break: break-all;
                line-height: 16px;
            }
        }
        .mp--btn{
            min-width: 184px;
            margin-top: 24px;
        }
    }
    .profile--right{
        .indicate--round{
            width: 45px;
            height: 45px;
            background-color: rgba(49, 183, 183, 0.20);
            border-radius: 100%;
            margin-right: 15px;
        }
        
    }
    .document--box{
        margin-top: 20px;
        width: 100%;
        height: 180px; 
    }
    .footer--btns{
        position: fixed;
        bottom: 15px;
        z-index: 99;
    }
}

