<!-- <div class="col-12 app--details--wrapper profile--right--wrapper">
    <div class="card">
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center">
                <button mat-stroked-button color="primary" class="me-3 back--btn"
                    [routerLink]="['/patient/appointments']">
                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0"> keyboard_backspace </mat-icon>
                </button>
                <h3 class="mb-0 clr--1F2F3E fw-600">Appointment Details</h3>

            </div>
        </div>
        <div class="card-body d-flex flex-column flex-sm-row mb-5">
            <div class="profile--left d-flex flex-column position-relative flex-shrink-0">
                <div class="head--sec w-100">
                </div>
                <div class="profile--round position-relative">
                    <div class="user--name d-flex align-items-center justify-content-center">
                        <span class="text-primary fw-700">
                            <img src="{{profileImage}}" alt="Profile Picture" class="img-fluid user--img" />
                        </span>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center w-100 body--sec">
                    <h3 class="font-18 fw-700">{{info.firstName}} {{info.lastName}}</h3>
                    <div class="d-flex align-items-center user--email">
                        <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 text-primary">mail </mat-icon>
                        <p class="my-2 font-15">{{info.email}}</p>
                    </div>
                    <div class="d-flex align-items-center user--email">
                        <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 text-primary">call </mat-icon>
                        <p class="my-2 font-15">+1 {{info.phoneNumber}}</p>
                    </div>
                    <button mat-stroked-button color="primary" class="mp--btn"
                        [routerLink]="['/patient/manage-details']">
                        Manage Profile
                    </button>
                </div>
            </div>
            <div *ngIf="appInfo" class="profile--right d-flex flex-column w-100">
                <div class="card w-100 mb-0">
                    <div class="card-header pb-0">
                        <div
                            class="col-12 d-flex align-items-center align-items-sm-start flex-sm-column flex-lg-row justify-content-between">
                            <h3 class="mb-0 clr--1F2F3E fw-600">Basic Information</h3>
                            <button [routerLink]="['/patient/intake-form/step-1', appId]" mat-raised-button
                                color="primary">
                                View Intake Form
                            </button>
                        </div>
                    </div>
                    <div class="card-body mt-4">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 ">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-flex align-items-start mb-4">
                                                <div
                                                    class="indicate--round flex-shrink-0 d-flex align-items-center justify-content-center">
                                                    <mat-icon
                                                        class="material-symbols-outlined text-primary">location_on</mat-icon>
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <h3 class="m-0 clr--1F2F3E font-16 fw-700">Practice Location</h3>
                                                    <p class="mb-0 clr--1F2F3E font-16 fw-400">
                                                        {{appInfo.practiceLocation}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-flex align-items-start mb-4">
                                                <div
                                                    class="indicate--round flex-shrink-0 d-flex align-items-center justify-content-center">
                                                    <mat-icon
                                                        class="material-symbols-outlined text-primary">call</mat-icon>
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <h3 class="m-0 clr--1F2F3E font-16 fw-700">Appointment #</h3>
                                                    <p class="mb-0 clr--1F2F3E font-16 fw-400">
                                                        {{appInfo.appointmentId}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-flex align-items-start mb-4">
                                                <div
                                                    class="indicate--round flex-shrink-0 d-flex align-items-center justify-content-center">
                                                    <mat-icon
                                                        class="material-symbols-outlined text-primary">calendar_today</mat-icon>
                                                </div>
                                                <div class="d-flex flex-column flex-sm-column flex-lg-row">
                                                    <div class="d-flex flex-column me-3">
                                                        <h3 class="m-0 clr--1F2F3E font-16 fw-700">Appointment Date</h3>
                                                        <p class="mb-0 clr--1F2F3E font-16 fw-400">
                                                            {{appInfo.appointmentDate | date:"mediumDate"}}</p>
                                                    </div>
                                                    <div *ngIf="appInfo.status == 'Pending'">
                                                        <button mat-stroked-button color="primary"
                                                            (click)="rescheduleModal()">
                                                            <mat-icon
                                                                class="material-symbols-outlined flex-shrink-0 me-1">
                                                                replay </mat-icon>
                                                            Reschedule
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-flex align-items-start mb-4">
                                                <div
                                                    class="indicate--round flex-shrink-0 d-flex align-items-center justify-content-center">
                                                    <mat-icon
                                                        class="material-symbols-outlined text-primary">published_with_changes</mat-icon>
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <h3 class="m-0 clr--1F2F3E font-16 fw-700">Appointment Status</h3>
                                                    <p class="mb-0 clr--1F2F3E font-16 fw-400"> {{appInfo.status}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-flex align-items-start mb-4">
                                                <div
                                                    class="indicate--round flex-shrink-0 d-flex align-items-center justify-content-center">
                                                    <mat-icon
                                                        class="material-symbols-outlined text-primary">paid</mat-icon>
                                                </div>
                                                <div class="d-flex flex-column flex-sm-column flex-lg-row">
                                                    <div class="d-flex flex-column me-3">
                                                        <h3 class="m-0 clr--1F2F3E font-16 fw-700">Payment Mode</h3>
                                                        <p class="mb-0 clr--1F2F3E font-16 fw-400">
                                                            {{appInfo.payVia}}
                                                        </p>
                                                    </div>
                                                    <div *ngIf="appInfo.payVia =='Insurance'">
                                                        <button mat-stroked-button color="primary"
                                                            (click)="viewInsuranveModal()">
                                                            <mat-icon
                                                                class="material-symbols-outlined flex-shrink-0 me-1 ms-1">
                                                                visibility
                                                            </mat-icon>
                                                            View Insurance
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="appInfo && appInfo.status == 'Pending'"
            class="d-flex align-items-center justify-content-center w-100 footer--btns">
            <button mat-raised-button color="warn" class="m-1" (click)="writeComment()">
                Cancel Appointment
            </button>
        </div>
    </div>
</div> -->
<div class="col-12 app--details--wrapper profile--right--wrapper">  
    <div class="card"> 
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center">
                <button mat-stroked-button color="primary" class="me-3 back--btn" [routerLink]="['/patient/appointments']">
                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0"> keyboard_backspace </mat-icon> 
                </button>
                <h3 class="mb-0 clr--1F2F3E fw-600">Case Details</h3>              
            </div> 
        </div> 
        <div class="card-body d-flex flex-column flex-sm-row">
            <div class="profile--right d-flex flex-column w-100">
                <div class="w-100 mb-0 appointment-information-header-wrapper">  
                    <div class="col-12 d-flex align-items-center justify-content-between mb-3 mt-3">
                        <h2  class="text-primary clr--31B7B7 font-18 fw-600">Basic Information</h2>
                        <button [routerLink]="['/patient/intake-form/step-1', appId]" mat-raised-button color="primary" class="intake-btn" >
                            {{(appInfo?.intakeFormSubmit==true) ? 'View' : 'Add'}} Intake Form                     
                        </button>
                    </div>                 
                   <div class="row exp-class">
                        <div class="col-12">  
                            <div class="col-12 mt-2">
                                <div class="d-flex flex-wrap justify-content-between align-items-baseline">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <div class="w-100 mb-2">
                                            <div class="d-flex flex-row  align-items-center profile--img--box">
                                                <div class="img--box flex-shrink-0">
                                                    <img src="{{profileImage}}" alt="Profile Image" class="img-fluid" />
                                                </div>
                                                <div class="d-flex flex-column me-9">
                                                    <h3 class="mb-1 clr--1F2F3E font-18 fw-700">{{info?.firstName}} {{info?.lastName}}</h3>
                                                    <div class="mb-1 mt-1 d-flex align-items-center">
                                                        <mat-icon class="material-symbols-outlined flex-shrink-0 text-primary me-2">mail </mat-icon>
                                                        <p class="mb-0 clr--1F2F3E font-16 fw-400 wb-ba">{{info?.email}}</p>
                                                    </div>
                                                    <div class="mb-1 d-flex align-items-center">
                                                        <mat-icon class="material-symbols-outlined flex-shrink-0 text-primary me-2">call </mat-icon>
                                                        <p class="mb-0 clr--1F2F3E font-16 fw-400 wb-ba">+1 {{info?.phoneNumber}}</p>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                        <h3 class="mb-1 clr--1F2F3E font-16 fw-700">Practice Location </h3>
                                        <p class="mb-1 clr--1F2F3E font-16 fw-400 min-h">{{appInfo?.practiceLocation}}</p>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                        <h3 class="mb-1 clr--1F2F3E font-16 fw-700">Case Name</h3>
                                        <p class="mb-1 clr--1F2F3E font-16 fw-400 min-h">{{appInfo?.caseName}}</p>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3">
                                        <h3 class="mb-1 clr--1F2F3E font-16 fw-700">Next Appointment Date and Time</h3>
                                        <p class="mb-1 clr--1F2F3E font-16 fw-400 min-h">{{appInfo?.appointmentDate | date:"EEE, MMM d, y hh:mm a"}}</p>
                                    </div>
                                </div>
                            </div>   
                            <div class="col-12 mt-2">
                                <div class="d-flex flex-wrap justify-content-between ">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <div class="w-100 mb-2">
                                            <div class="d-flex flex-row  align-items-center profile--img--box">
                                                <div class="img--box flex-shrink-0 me-9">
                                                    <img src="{{therapistProfileImage}}" alt="Profile Image" class="img-fluid d-none" />
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <h3 class="mb-1 clr--1F2F3E font-16 fw-700">Therapist Name</h3>
                                                    <p class="mb-0 clr--1F2F3E font-16 fw-400 min-h">{{appInfo?.therapistId?.firstName}} {{appInfo?.therapistId?.lastName}}</p>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                        <h3 class="mb-1 clr--1F2F3E font-16 fw-700">Payment Mode</h3>
                                        <p class="mb-0 clr--1F2F3E font-16 fw-400 min-h">{{appInfo?.payVia}}</p>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                        <button mat-stroked-button color="primary"
                                            (click)="viewInsuranveModal()" class="mt-1">
                                            <mat-icon class="material-symbols-outlined flex-shrink-0 me-1 ms-1 ">
                                                visibility
                                            </mat-icon>
                                            View Insurance
                                        </button>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3"> </div>
                                </div>
                            </div>   
                        </div>
                   </div> 
                </div>
            </div> 
        </div>  
        <div class="card-body d-flex flex-column flex-sm-row"  *ngIf = "!isShow">
            <div class="profile--right d-flex flex-column w-100">
                <div class="w-100 mb-0">
                    <div class="col-12 appointment--wrapper">
                        <div class="card"  >
                            <div class="card-header pb-0">
                                <div class="col-12 d-flex align-items-center justify-content-between mt-3 mb-3">
                                    <h3 class="text-primary clr--31B7B7 font-18 fw-600">Appointment history</h3>                                   
                                </div>           
                            </div>  
                            <div class="card-body day--one--wrapper d-flex align-items-center justify-content-center">
                                <div class="d-flex flex-column align-items-center justify-content-center w-100">
                                    <img  src="assets/images/ark/calendar-lg.png" alt="" class="img-fluid mb-4" />
                                     <p class="fw-700 clr--1F2F3E text-center">Currently there is no Appointment History!</p>                                
                                </div>
                            </div> 
                        </div> 
                    </div>
                </div>
            </div> 
        </div>  

        <div class="card-body d-flex flex-column flex-sm-row " *ngIf="isShow" >
            <div class="profile--right d-flex flex-column w-100">
                <div class="w-100 mb-0"> 
                    <div class="col-12 appointment--wrapper">
                        <div class="card"  >
                            <div class="card-header pb-0">
                                <div class="col-12 d-flex align-items-center justify-content-between mt-3 mb-3">
                                    <h3 class="text-primary clr--31B7B7 font-18 fw-600">Appointment history</h3>                                   
                                </div>           
                            </div>  
                            <div class="col-12 card-body  mt-0 appointment--wrapper"> 
                                    <div class="col-12 p-3 pt-0  cust--mat--table--wrapper">
                                        <table mat-table [dataSource]="appointmentList" matSort (matSortChange)="announceSortChange($event)"
                                            class="cust--mat--table box--row--table">  
                                            <ng-container matColumnDef=" dateAddedOn">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                                                    Appointment Date & Time 
                                                </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                     {{element.appointmentDate | date:"EEE, MMM d, y hh:mm a"}}
                                                </td>
                                            </ng-container> 
                                            
                                            <ng-container matColumnDef="action">
                                                <th mat-header-cell *matHeaderCellDef class="text-center"  >
                                                  <span class="clr--1F2F3E fw-700 font-16">Patient checked in </span>
                                                </th>  
                                                <td mat-cell *matCellDef="let element">  
                                                    <div class="w-100 d-flex align-items-center justify-content-center"> 
                                                        <mat-checkbox class="" [(ngModel)]="element.checkIn" [disabled]="true"> </mat-checkbox>
                                                    </div>
                                                </td>
                                            </ng-container> 
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                        
                                    </div>
                                
                            </div>
                        </div> 
                    </div>
                </div>
            </div> 
        </div>   
    </div>
</div>  
 

