<div class="container-fluid subjective--wrapepr p-0">
    <form *ngIf="subjectiveForm" [formGroup]="subjectiveForm" (ngSubmit)="subjectiveSubmit(subjectiveForm.value)">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-2 clr--1F2F3E font-16 fw-700">Basic Info</h1>
        </div>
        <div class="col-12 col-lg-5">
            <div class="form-group mb-4">
                <label class="col-form-label fw-600">Date of Service</label>
                <select class="form-select form-control form-control-md" aria-label="Default select example" formControlName="note_date">
                  <option value="">Select date</option>
                  <option *ngFor="let d of appointment_dates" value="{{d.appointment[0].appointmentDate}}" [disabled]="d.status=='Finalized'">{{d.appointment[0].appointmentDate | date:'MM-dd-yyyy hh:mm a':'UTC' }}</option>
                  
                </select>
                <!-- <input type="text" class="form-control" placeholder="Date of Service" formControlName="note_date" [readonly]="true"> -->
                <div class="text text-danger mt-1" *ngIf="subjectiveForm.controls['note_date'].touched && subjectiveForm.controls['note_date'].hasError('required')">
                    {{ validationMessages.requiredDropdown('Daily note date') }}
                </div>             
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label class="col-form-label fw-600">Subjective<span class="clr--DF0404 ms-1"> * </span></label>
                <textarea placeholder="Please enter subjective" [disabled]="isDisabled" class="form-control text-left" type="text" formControlName="subjective_note" rows="5" maxlength="2500" (blur)="checkSpace('subjective_note', $event)"></textarea>
                <div class="text text-danger mt-1" *ngIf="subjectiveForm.controls['subjective_note'].hasError('required') && subjectiveForm.controls['subjective_note'].touched">
                    {{ validationMessages.required('Subjective Note') }}</div>
            </div>
        </div>
        
    </div>
    <div class="d-flex align-items-center justify-content-end  notes--footer--btns"> 
        <button mat-raised-button color="primary" type="submit" [disabled]="readOnly" class="m-1">
            Save as Draft
        </button>
    </div>
    </form>
</div>