<div class="changepassword--wrapper">
    <div class="cp--header ">
        <h1>Change Password</h1>
    </div>
    <div class="cp--body">
        <form class="row" [formGroup]="changePasswordForm">
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label fw-600">New Password   <span class="clr--DF0404 ms-1"> * </span></label>
                    <div class="form-input position-relative">
                        <input class="form-control" [type]="showNewPass ? 'text' : 'password'" placeholder="Please enter new password" formControlName="newPassword"/>
                        @if(!showNewPass){
                        <div class="show-hide" (click)="showNewPassword()"><span class="show"> </span></div>
                        }@else{
                        <div class="show-hide" (click)="showNewPassword()"><span class="Hide"></span></div>
                        } 
                    </div> 
                    <div class="text text-danger mt-1" *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].hasError('required')">
                        {{ validationMessages.required('New password') }}
                    </div>
                    <div class="text text-danger mt-1" *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].hasError('pattern')">
                        {{ validationMessages.password }}
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-form-label fw-600">Confirm Password <span class="clr--DF0404 ms-1"> * </span></label>
                    <div class="form-input position-relative">
                        <input class="form-control" [type]="showConfPass ? 'text' : 'password'" placeholder="Please enter confirm password" formControlName="confirmPassword"/>
                        @if(!showConfPass){
                        <div class="show-hide" (click)="showConfirmPassword()"><span class="show"> </span></div>
                        }@else{
                        <div class="show-hide" (click)="showConfirmPassword()"><span class="Hide"></span></div>
                        } 
                    </div>
                    <div class="text text-danger mt-1" *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].hasError('required')">
                        {{ validationMessages.confirmPassword }}
                    </div>
                    <div class="text text-danger mt-1" *ngIf="changePasswordForm.hasError('passwordMismatch') && changePasswordForm.controls['confirmPassword'].touched">
                        {{ validationMessages.passwordMismatch }}
                    </div>
                </div>
            </div>
          </form>
    </div>
    <div class="cp--footer w-100 d-flex align-items-center justify-content-end">
        <button mat-stroked-button color="primary" class="me-2" mat-dialog-close>Cancel</button> 
        <button mat-raised-button color="primary" (click)="changePassword()" [disabled]="!changePasswordForm.valid">Submit</button>
        <!-- <button mat-raised-button color="primary" mat-dialog-close (click)="successModal()">Submit  </button> -->
    </div>
</div>