::ng-deep{
    .change--password--modal{
        .mat-mdc-dialog-container{
            width: 423px; 
            .changepassword--wrapper{
                padding: 30px 24px;
                .cp--header{
                    h1{
                        color: #1F2F3E;
                        font-size: 18px;
                        margin-bottom: 25px;
                        font-weight: 600;
                    }
                }
                .cp--footer{
                    margin-top: 17px;
                }
            }
        }
    }
}