<div class="initial--exam--billing--wrapper container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <h3 class="mb-0 clr--1F2F3E font-16 fw-700">BILLING</h3>
        </div>
        <div class="col-12 mt-3">
            <div class="d-flex flex-row align-items-center flex-wrap billing-total-unit-wrapper">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-2">
                    <div class="d-flex flex-row align-items-center">
                        <p class="mb-0 font-14 fw-600 me-5">Total Treatment Minutes</p>
                        <div class="form-group">
                            <input [disabled]="isDisabled" type="text" class="form-control width-50">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-2">
                    <div class="d-flex flex-row align-items-center">
                        <p class="mb-0 font-14 fw-600 me-5">Total Direct Minutes</p>
                        <div class="form-group">
                            <input [disabled]="isDisabled" type="text" class="form-control width-50">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-2">
                    <div class="d-flex flex-row align-items-center">
                        <p class="mb-0 font-14 fw-600 me-5">Total Units</p>
                        <div class="form-group">
                            <input [disabled]="isDisabled" type="text" class="form-control width-50">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-2">
            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Untimed Codes</h3>
        </div>

        <div class="col-12 mt-3">
            <div class="d-flex flex-row align-items-start flex-wrap unlimited-codes-unit-wrapper">

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-95">
                        <div class="d-flex flex-row align-items-center justify-content-between mb-3 col-12">
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">PT</h3>
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Units</h3>
                        </div>

                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">PT Evaluation: Low Complexity</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">PT Evaluation: Moderate Complexity</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">PT Evaluation: High Complexity</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">PT Re-Evaluation</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Paraffin Bath</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Vasopneumatic device</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Mechanical traction</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">E-Stim Unattended for Medicate/UHC</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-95">
                        <div class="d-flex flex-row align-items-center justify-content-between mb-3 col-12">
                            <h3 class="mb-0clr--1F2F3E font-14 fw-700">OT</h3>
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Units</h3>
                        </div>

                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">OT Evaluation: Low Complexity</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">OT Evaluation: Moderate Complexity</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">OT Evaluation: High Complexity</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">OT Re-Evaluation</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Paraffin Bath</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Vasopneumatic device</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Mechanical traction</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">E-Stim Unattended for Medicate/UHC</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4"> 
                    <div class="row w-100">
                        <div class="d-flex flex-row align-items-center justify-content-between mb-3 col-12">
                            <h3 class="mb-0clr--1F2F3E font-14 fw-700">SLP</h3>
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Units</h3>
                        </div>

                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Evaluation of speech sound production</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Evaluation of speech sound production including language comprehension & expression</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Behavioral and qualitative analysis of voice and resonance</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Evaluation of oral and pharyngeal swallowing function</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Use of speech device service</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">SLP Treatment; individual</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Treatment of swallowing dysfunction and/or oral function for feeding</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Assessment of aphasia</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Standardized cognitive performance testing, per hour</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3">
                            <div class="me-2">
                                <mat-checkbox [disabled]="isDisabled" class="">Therapeutic interventions that focus on cognitive function e.g., attention, memory, reasoning, executive function,
                                problem solving and/or pragmatic functioning) and compensatory strategies to manage the performance of an activity
                                (e.g., managing time or schedules, initiating, organizing and sequencing tasks)</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 mt-3">
            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Direct timed Codes</h3>
        </div>

        <div class="col-12 mt-3">
            <div class="d-flex flex-row align-items-start flex-wrap unlimited-codes-unit-wrapper">
                
                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-95">
                        <div class="d-flex flex-row align-items-center justify-content-end mb-3 col-12">
                            <h3 class="mb-0clr--1F2F3E font-14 fw-700 me-3">Units</h3>
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Minutes</h3>
                        </div>

                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1">
                            <div class="me-2">
                                <mat-label class="">Therapeutic Activity</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1">
                            <div class="me-2">
                                <mat-label class="">Neuro Muscular Re-Education</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1">
                            <div class="me-2">
                                <mat-label class="">Aquatic Exercise</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1">
                            <div class="me-2">
                                <mat-label class="">Therapeutic Exercise</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1">
                            <div class="me-2">
                                <mat-label class="">Manual Therapy</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-95">
                        <div class="d-flex flex-row align-items-center justify-content-end mb-3 col-12">
                            <h3 class="mb-0clr--1F2F3E font-14 fw-700 me-3">Units</h3>
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Minutes</h3>
                        </div>

                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1">
                            <div class="me-2">
                                <mat-label class="">Therapeutic Activity</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1">
                            <div class="me-2">
                                <mat-label class="">Neuro Muscular Re-Education</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1">
                            <div class="me-2">
                                <mat-label class="">Aquatic Exercise</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1">
                            <div class="me-2">
                                <mat-label class="">Therapeutic Exercise</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1">
                            <div class="me-2">
                                <mat-label class="">Manual Therapy</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1">
                            <div class="me-2">
                                <mat-label class="">Therapeutic interventions that focus on cognitive function (eg, attention, memory, executive function) and compensatory
                                strategies to manage the performance of an activity (eg, managing time), direct (one-to-one) patinet contact; initial 15
                                minutes</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-100">
                        <div class="d-flex flex-row align-items-center justify-content-end mb-3 col-12">
                            <h3 class="mb-0clr--1F2F3E font-14 fw-700 me-3">Units</h3>
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Minutes</h3>
                        </div>

                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1">
                            <div class="me-2">
                                <mat-label class="">Gait Training</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1">
                            <div class="me-2">
                                <mat-label class="">FCE/Performance Test</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input [disabled]="isDisabled" type="text" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 mt-3">
            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">DME</h3>
        </div>

        <div class="col-12 mt-3">
            <div class="d-flex flex-row align-items-start flex-wrap unlimited-codes-unit-wrapper">
        
                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-95">
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">Half Foam Roll 12"</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">Pulley</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">Half Foam Roll 36"</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">WHO; Cock Up; Pre-fab</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">WHO; w/o Joints; Custom</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-95">
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">Padding Bandage; w >= 3"</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">Elastomull 1"</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">Putty</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">HFO; w/o Joints; Custom</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">HO Static - Custom</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-100">
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">Patellofemoral Sleeve</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">Knee Orthosis - Prefab</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">ASO Brace</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">FO; w/o Joints; Custom</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">WHFO; w/o Joints; Custom</mat-label>
                            </div>
                            <div class="form-group">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 mt-2">
            <div class="d-flex flex-row flex-wrap align-items-start unlimited-codes-unit-wrapper">

                <div class="col-12 col-sm-12 col-lg-10 col-xl-7">
                    <div class="row w-100">
                        <div class="d-flex flex-row align-items-center col-12 col-sm-6 col-lg-5 col-xl-5 mb-3">
                            <div class="form-group w-100">
                                <input [disabled]="isDisabled" type="text" class="form-control box-height" placeholder="Custom CPT Description">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center col-12 col-sm-6 col-lg-6 col-xl-6 mb-3">
                            <div class="form-group me-2">
                                <input [disabled]="isDisabled" type="text" class="form-control box-height width-60" placeholder="CPT #">
                            </div>
                            <div class="form-group me-2">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50" placeholder="">
                            </div>
                            <button [disabled]="isDisabled" mat-raised-button color="primary" class="" [routerLink]="['/support-team/intake-form/step-1']">
                                Add
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 mt-1">
            <div class="last-check-div">
                <mat-checkbox [disabled]="isDisabled" class="">No Charges This Visit</mat-checkbox>
            </div>
        </div>

    </div>
    <div class="d-flex align-items-center justify-content-end  notes--footer--btns">
        <button mat-stroked-button color="primary" class="me-2 m-1">
            Save as Draft
        </button>
        <button mat-raised-button color="primary" class="m-1">
            Finalize Note
        </button>
    </div>
</div>