<div class="initial--exam--billing--wrapper container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <h3 class="mb-0 clr--1F2F3E font-16 fw-700">BILLING</h3>
        </div>
        <div class="col-12 mt-3">
            <div class="d-flex flex-row align-items-center flex-wrap billing-total-unit-wrapper">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-2">
                    <div class="d-flex flex-row align-items-center">
                        <p class="mb-0 font-14 fw-600 me-5">Total Treatment Minutes</p>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="totalTreatmentMinutes" class="form-control width-50">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-2">
                    <div class="d-flex flex-row align-items-center">
                        <p class="mb-0 font-14 fw-600 me-5">Total Direct Minutes</p>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="totalDirectMinutes" class="form-control width-50">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-2">
                    <div class="d-flex flex-row align-items-center">
                        <p class="mb-0 font-14 fw-600 me-5">Total Units</p>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="totalUnites" class="form-control width-50">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-2">
            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Untimed Codes</h3>
        </div>

        <div class="col-12 mt-3">
            <div class="d-flex flex-row align-items-start flex-wrap unlimited-codes-unit-wrapper">

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-95">
                        <div class="d-flex flex-row align-items-center justify-content-between mb-3 col-12">
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">PT</h3>
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Units</h3>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3" *ngFor="let ptcode of unitedPtList;let i=index">
                            <div class="me-2">
                                <mat-checkbox [checked]="ptcode.selected" class="" (change)="showOptions($event,i,'ptCode','unitedCode')">{{ptcode.name}}</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input type="text" [value]="ptcode.units" (keyup)="onKey($event,i,'ptCode','unitedCode','units')" class="form-control width-50">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-95">
                        <div class="d-flex flex-row align-items-center justify-content-between mb-3 col-12">
                            <h3 class="mb-0clr--1F2F3E font-14 fw-700">OT</h3>
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Units</h3>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3" *ngFor="let otcode of unitedOtList;let i=index">
                            <div class="me-2">
                                <mat-checkbox [checked]="otcode.selected" class="" (change)="showOptions($event,i,'otCode','unitedCode')">{{otcode.name}}</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input type="text" [value]="otcode.units" (keyup)="onKey($event,i,'otCode','unitedCode','units')" class="form-control width-50">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4"> 
                    <div class="row w-100">
                        <div class="d-flex flex-row align-items-center justify-content-between mb-3 col-12">
                            <h3 class="mb-0clr--1F2F3E font-14 fw-700">SLP</h3>
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Units</h3>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 px-0 mb-3" *ngFor="let slpcode of unitedSlpList;let i=index">
                            <div class="me-2">
                                <mat-checkbox [checked]="slpcode.selected" class="" (change)="showOptions($event,i,'slpCode','unitedCode')">{{slpcode.name}}</mat-checkbox>
                            </div>
                            <div class="form-group">
                                <input type="text" [value]="slpcode.units" (keyup)="onKey($event,i,'slpCode','unitedCode','units')" class="form-control width-50">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 mt-3">
            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Direct timed Codes</h3>
        </div>

        <div class="col-12 mt-3">
            <div class="d-flex flex-row align-items-start flex-wrap unlimited-codes-unit-wrapper">
                
                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-95">
                        <div class="d-flex flex-row align-items-center justify-content-end mb-3 col-12">
                            <h3 class="mb-0clr--1F2F3E font-14 fw-700 me-3">Units</h3>
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Minutes</h3>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1" *ngFor="let ptcode of directPtList;let i=index">
                            <div class="me-2">
                                <mat-label class="">{{ptcode.name}}</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input type="text" [value]="ptcode.units" (keyup)="onKey($event,i,'ptCode','directCode','units')" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input type="text" [value]="ptcode.minutes" (keyup)="onKey($event,i,'ptCode','directCode','minutes')" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-95">
                        <div class="d-flex flex-row align-items-center justify-content-end mb-3 col-12">
                            <h3 class="mb-0clr--1F2F3E font-14 fw-700 me-3">Units</h3>
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Minutes</h3>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1" *ngFor="let otcode of directOtList;let i=index">
                            <div class="me-2">
                                <mat-label class="">{{otcode.name}}</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input type="text" [value]="otcode.units" (keyup)="onKey($event,i,'otCode','directCode','units')" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input type="text" [value]="otcode.minutes" (keyup)="onKey($event,i,'otCode','directCode','minutes')" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-100">
                        <div class="d-flex flex-row align-items-center justify-content-end mb-3 col-12">
                            <h3 class="mb-0clr--1F2F3E font-14 fw-700 me-3">Units</h3>
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Minutes</h3>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3 mt-1" *ngFor="let slpcode of directSlpList;let i=index">
                            <div class="me-2">
                                <mat-label class="">{{slpcode.name}}</mat-label>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group me-3">
                                    <input type="text" [value]="slpcode.units" (keyup)="onKey($event,i,'slpCode','directCode','units')" class="form-control width-50">
                                </div>
                                <div class="form-group">
                                    <input type="text" [value]="slpcode.minutes" (keyup)="onKey($event,i,'slpCode','directCode','minutes')" class="form-control width-50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-3">
            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">DME</h3>
        </div>

        <div class="col-12 mt-3">
            <div class="d-flex flex-row align-items-start flex-wrap unlimited-codes-unit-wrapper">
        
                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-95">
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3" *ngFor="let ptcode of dmePtList;let i=index">
                            <div class="me-2">
                                <mat-label class="">{{ptcode.name}}</mat-label>
                            </div>
                            <div class="form-group">
                                <input [value]="ptcode.units" type="text" (keyup)="onKey($event,i,'ptCode','dmeCode','units')" class="form-control width-50">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-95">
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3" *ngFor="let otcode of dmeOtList;let i=index">
                            <div class="me-2">
                                <mat-label class="">{{otcode.name}}</mat-label>
                            </div>
                            <div class="form-group">
                                <input [value]="otcode.units" type="text" (keyup)="onKey($event,i,'otCode','dmeCode','units')" class="form-control width-50">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
                    <div class="row w-100">
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3" *ngFor="let slpcode of dmeSlpList;let i=index">
                            <div class="me-2">
                                <mat-label class="">{{slpcode.name}}</mat-label>
                            </div>
                            <div class="form-group">
                                <input [value]="slpcode.units" type="text" (keyup)="onKey($event,i,'slpCode','dmeCode','units')" class="form-control width-50">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 mt-2">
            <div class="d-flex flex-row flex-wrap align-items-start unlimited-codes-unit-wrapper">
                <div class="col-12 col-sm-12 col-lg-10 col-xl-7">
                    <div class="row w-100">
                        <div class="d-flex flex-row align-items-center col-12 col-sm-6 col-lg-5 col-xl-5 mb-3">
                            <div class="form-group w-100">
                                <input [disabled]="isDisabled" type="text" class="form-control box-height" placeholder="Custom CPT Description">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center col-12 col-sm-6 col-lg-6 col-xl-6 mb-3">
                            <div class="form-group me-2">
                                <input [disabled]="isDisabled" type="text" class="form-control box-height width-60" placeholder="CPT #">
                            </div>
                            <div class="form-group me-2">
                                <input [disabled]="isDisabled" type="text" class="form-control width-50" placeholder="">
                            </div>
                            <button [disabled]="isDisabled" mat-raised-button color="primary" class="" [routerLink]="['/support-team/intake-form/step-1']">
                                Add
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 mt-1">
            <div class="last-check-div">
                <mat-checkbox class="">No Charges This Visit</mat-checkbox>
            </div>
        </div>

    </div>
    <div class="d-flex align-items-center justify-content-end  notes--footer--btns">
        <button mat-stroked-button color="primary" class="me-2 m-1" (click)="submit('draft')">
            Save as Draft
        </button>
        <button mat-raised-button color="primary" class="m-1" (click)="submit('finalize')">
            Finalize Note
        </button>
    </div>
</div>