.ba--step--four{ 
    .header{
        .add--new--btn{
            height: 47px;
        }
    }
    .divider{
        border-top: 1px solid #DED2D9;
        margin: 25px 0;
    }
    .day--one--wrapper{
        height: calc(100vh - 346px); 
    }
} 
 