.ba--step--four{ 
    .card{   
        .inlimit{ 
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .nolimit{
            display: inline-flex;
        }
        
    }  
} 
 