.app--details--modal--wrapper{
    .modal--header{
        h1{
            &.font-22{
                font-size: 22px;
            }
        }
        .more--opt{
            color: #31B7B7 !important;
        }
    } 
    .modal--body{
        .profile--round{
            width: 48px;
            height: 48px;
            border-radius: 100px;
            overflow: hidden;
            margin-right: 20px;
        }
        .phone{
            .mat-icon{
                font-size: 18px;
                height: 18px;
                width: 18px;
            }
        }
    }
}
::ng-deep{ 
    .mat-mdc-menu-item{
        min-height: 40px !important;
        border-bottom: 1px solid #ddd !important;
        .mat-mdc-menu-item-text{
            color: #1F2F3E !important;
            font-weight: 600 !important;
        }
        &:hover{
            .mat-mdc-menu-item-text{
                color: #31B7B7 !important;
                font-weight: 600 !important;
            }
        }
    }
}
@media only screen and (max-width: 599px) {
    .sm-w-100{
        width: 100% !important;
    }  
    .app--details--modal--wrapper{
        .modal--header{
            h1{
                &.font-22{
                    font-size: 16px;
                }
            }
        }
    } 
}