<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card login-dark dark-gray">
                <div>
                    <div><a class="logo">
                            <img class="img-fluid for-light" src="assets/images/logo/logo.svg" alt="looginpage">
                        </a>
                    </div>
                    <div class="login-main">
                        <form class="theme-form" >
                            <h3 class="text-center dark-grey">Reset Password</h3>
                            <p class="text-center mt-2">Enter your email for the verification process.</p>
                            <div class="form-group">
                                <label class="col-form-label fw-600">Password</label>
                                <div class="form-input position-relative">
                                    <input class="form-control" [type]="show ? 'text' : 'password'"
                                          placeholder="*********" />
                                    @if(!show){
                                    <div class="show-hide" (click)="showPassword()"><span class="show"> </span></div>
                                    }@else{
                                    <div class="show-hide" (click)="showPassword()"><span class="Hide"></span></div>
                                    } 
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-form-label fw-600">Confirm Password</label>
                                <div class="form-input position-relative">
                                    <input class="form-control" [type]="show ? 'text' : 'password'"
                                        placeholder="*********" />
                                    @if(!show){
                                    <div class="show-hide" (click)="showPassword()"><span class="show"> </span></div>
                                    }@else{
                                    <div class="show-hide" (click)="showPassword()"><span class="Hide"></span></div>
                                    } 
                                </div>
                            </div> 
                            <div class="form-group mb-0 mt-5">   
                                <div class="text-end mt-3">
                                    <button  class="btn btn-primary font-16 w-100" type="submit" [routerLink]="['/system-admin/user-managment/practice-admin']">Submit</button>
                                </div>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>