<div class="initial--exam--billing--wrapper container-fluid p-0">
    <div class="row" *ngIf="isHold">
        <div class="col-12">
            <h3 class="mb-0 clr--1F2F3E font-16 fw-700">BILLING</h3>
            <p class="text text-danger mt-1" style="text-align: center;">Since billing details are not filled out completely, we can't proceed with billing note </p>
        </div>
    </div>
    <div class="row" *ngIf="!isHold">
        <div class="col-12">
            <h3 class="mb-0 clr--1F2F3E font-16 fw-700">BILLING</h3>
        </div>
        <div class="col-12 mt-3">
            <div class="d-flex flex-row align-items-center flex-wrap billing-total-unit-wrapper">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-2" *ngIf="billingType=='CMS'">
                    <div class="d-flex flex-row align-items-center">
                        <p class="mb-0 font-14 fw-600 me-5">Total Treatment Minutes</p>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="totalTreatmentMinutes" readonly
                                class="form-control width-50">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-2">
                    <div class="d-flex flex-row align-items-center">
                        <p class="mb-0 font-14 fw-600 me-5">Total Timed Minutes</p>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="totalDirectMinutes" readonly class="form-control width-50">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-2">
                    <div class="d-flex flex-row align-items-center">
                        <p class="mb-0 font-14 fw-600 me-5">Total Units</p>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="totalUnites" readonly class="form-control width-50">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Direct timed Codes -->
        <div class="col-12 mt-3" *ngIf="caseType=='PT' || caseType=='OT'">
            <div class="row d-none d-sm-flex mb-2">
                <div class="col-12 col-lg-4">
                    <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Direct timed Codes</h3>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-1 text-center">
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Units</h3>
                        </div>
                        <div class="col-1 text-center">
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Minutes</h3>
                        </div>
                        <div class="col-10"></div>
                    </div>
                </div>
            </div>
            <div class="row" *ngFor="let ptcode of directPtList;let i=index">
                <div class="col-12 col-lg-4">
                    <div class="me-2">
                        <mat-label class="">{{ptcode.name}}</mat-label>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="row align-items-center">
                        <div class="col-2 col-lg-1">
                            <div class="form-group d-flex align-items-center justify-content-center">
                                <input type="text" [value]="ptcode.units"
                                    (keyup)="onKey($event,i,'ptCode','directCode','units')"
                                    class="form-control width-50" maxlength="2" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" [disabled]="readOnly">
                            </div>
                        </div>
                        <div class="col-2 col-lg-1">
                            <div class="form-group d-flex align-items-center justify-content-center">
                                <input type="text" [value]="ptcode.minutes"
                                    (keyup)="onKey($event,i,'ptCode','directCode','minutes');validateMinute($event,i,'ptCode','directCode')"
                                    class="form-control width-50" maxlength="4" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" [disabled]="ptcode.units=='' || readOnly">
                            </div>
                        </div>
                        <div class="col-8 col-lg-10" *ngIf="ptcode.isError" >
                            <p class="error m-0"> <strong class="clr--DF0404">Error : </strong>
                                {{ptcode.errorMsg}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngFor="let otcode of directOtList;let i=index">
                <div class="col-12 col-lg-4">
                    <div class="me-2">
                        <mat-label class="">{{otcode.name}}</mat-label>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="row align-items-center">
                        <div class="col-2 col-lg-1">
                            <div class="form-group d-flex align-items-center justify-content-center">
                                <input type="text" [value]="otcode.units"
                                    (keyup)="onKey($event,i,'otCode','directCode','units')"
                                    class="form-control width-50" maxlength="2" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" [disabled]="readOnly">
                            </div>
                        </div>
                        <div class="col-2 col-lg-1">
                            <div class="form-group d-flex align-items-center justify-content-center">
                                <input type="text" [value]="otcode.minutes"
                                    (keyup)="onKey($event,i,'otCode','directCode','minutes');validateMinute($event,i,'otCode','directCode')"
                                    class="form-control width-50" maxlength="4" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" [disabled]="otcode.units=='' || readOnly">
                            </div>
                        </div>
                        <div class="col-8 col-lg-10" *ngIf="otcode.isError" >
                            <p class="error m-0"> <strong class="clr--DF0404">Error : </strong>
                                {{otcode.errorMsg}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngFor="let slpcode of directSlpList;let i=index">
                <div class="col-12 col-lg-4">
                    <div class="me-2">
                        <mat-label class="">{{slpcode.name}}</mat-label>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="row align-items-center">
                        <div class="col-2 col-lg-1">
                            <div class="form-group d-flex align-items-center justify-content-center">
                                <input type="text" [value]="slpcode.units"
                                    (keyup)="onKey($event,i,'slpCode','directCode','units')"
                                    class="form-control width-50" maxlength="2" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" [disabled]="readOnly">
                            </div>
                        </div>
                        <div class="col-2 col-lg-1">
                            <div class="form-group d-flex align-items-center justify-content-center">
                                <input type="text" [value]="slpcode.minutes"
                                    (keyup)="onKey($event,i,'slpCode','directCode','minutes');validateMinute($event,i,'slpCode','directCode')"
                                    class="form-control width-50" maxlength="4" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" [disabled]="slpcode.units=='' || readOnly">
                            </div>
                        </div>
                        <div class="col-8 col-lg-10" *ngIf="slpcode.isError" >
                            <p class="error m-0"> <strong class="clr--DF0404">Error : </strong>
                                {{slpcode.errorMsg}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- untimed Codes -->
        <div class="col-12 mt-2">
            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Untimed Codes</h3>
        </div>

        <div class="col-12 ">
            <div class="d-flex flex-row align-items-start flex-wrap unlimited-codes-unit-wrapper">
                <!-- PT -->
                <div class="col-12 mt-4" *ngIf="caseType=='PT'">
                    <div class="row" >
                        <div class="col-12">
                            <div class="row d-none d-sm-flex mb-2">
                                <div class="col-12 col-lg-4">
                                    <h3 class="mb-0 clr--1F2F3E font-14 fw-700">PT</h3>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-1 text-center">
                                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Units</h3>
                                        </div>
                                        <div class="col-1 text-center">
                                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700" *ngIf="billingType=='CMS'">Minutes</h3>
                                        </div>
                                        <div class="col-10"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngFor="let ptcode of unitedPtList;let i=index">
                                <div class="col-12 col-lg-4">
                                    <div class="me-2">
                                        <mat-checkbox [checked]="ptcode.selected" class=""
                                            (change)="showOptions($event,i,'ptCode','unitedCode')" [disabled]="readOnly">{{ptcode.name}}</mat-checkbox>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="row align-items-center">
                                        <div class="col-2 col-lg-1">
                                            <div class="form-group d-flex align-items-center justify-content-center">
                                                <input type="text" [value]="ptcode.units"
                                                    (keyup)="onKey($event,i,'ptCode','unitedCode','units')"
                                                    class="form-control width-50" maxlength="2" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" [disabled]="true">
                                            </div>
                                        </div>
                                        <div class="col-2 col-lg-1" *ngIf="billingType=='CMS'">
                                            <div class="form-group d-flex align-items-center justify-content-center">
                                                <input type="text" [value]="ptcode.minutes"
                                                    (keyup)="onKey($event,i,'ptCode','unitedCode','minutes')"
                                                    class="form-control width-50" maxlength="4" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" [disabled]="i<4 || !ptcode.selected || readOnly">
                                            </div>
                                        </div>
                                        <div class="col-8 col-lg-10" *ngIf="billingType=='CMS' && ptcode.isError" >
                                            <p class="error m-0"> <strong class="clr--DF0404">Error : </strong>
                                                {{ptcode.errorMsg}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- OT -->
                <div class="col-12 mt-4" *ngIf="caseType=='OT'">
                    <div class="row">
                        <div class="col-12">
                            <div class="row d-none d-sm-flex mb-2">
                                <div class="col-12 col-lg-4">
                                    <h3 class="mb-0 clr--1F2F3E font-14 fw-700">OT</h3>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-1 text-center">
                                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Units</h3>
                                        </div>
                                        <div class="col-1 text-center">
                                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700" *ngIf="billingType=='CMS'">Minutes</h3>
                                        </div>
                                        <div class="col-10"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngFor="let otcode of unitedOtList;let i=index">
                                <div class="col-12 col-lg-4">
                                    <div class="me-2">
                                        <mat-checkbox [checked]="otcode.selected" class=""
                                            (change)="showOptions($event,i,'otCode','unitedCode')" [disabled]="readOnly">{{otcode.name}}</mat-checkbox>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="row align-items-center">
                                        <div class="col-2 col-lg-1">
                                            <div class="form-group d-flex align-items-center justify-content-center">
                                                <input type="text" [value]="otcode.units"
                                                    (keyup)="onKey($event,i,'otCode','unitedCode','units')"
                                                    class="form-control width-50" maxlength="2" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" [disabled]="true">
                                            </div>
                                        </div>
                                        <div class="col-2 col-lg-1" *ngIf="billingType=='CMS'">
                                            <div class="form-group d-flex align-items-center justify-content-center">
                                                <input type="text" [value]="otcode.units"
                                                    (keyup)="onKey($event,i,'otCode','unitedCode','minutes')"
                                                    class="form-control width-50" maxlength="4" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" [disabled]="i<4 || !otcode.selected || readOnly">
                                            </div>
                                        </div>
                                        <div class="col-8 col-lg-10" *ngIf="billingType=='CMS' && otcode.isError">
                                            <p class="error m-0"> <strong class="clr--DF0404">Error : </strong>
                                                {{otcode.errorMsg}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SLP -->
                <div class="col-12 mt-4" *ngIf="caseType=='SLP'">
                    <div class="row d-none d-sm-flex mb-2">
                        <div class="col-12 col-lg-4">
                            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">SLP</h3>
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <h3 class="mb-0 clr--1F2F3E font-14 fw-700">Units</h3>
                                </div>
                                <div class="col-1 text-center">
                                    <h3 class="mb-0 clr--1F2F3E font-14 fw-700" *ngIf="billingType=='CMS'">Minutes</h3>
                                </div>
                                <div class="col-10"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngFor="let slpcode of unitedSlpList;let i=index">
                        <div class="col-12 col-lg-4">
                            <div class="me-2">
                                <mat-checkbox [checked]="slpcode.selected" class=""
                                    (change)="showOptions($event,i,'slpCode','unitedCode')" [disabled]="readOnly">{{slpcode.name}}</mat-checkbox>
                            </div>
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="row align-items-center">
                                <div class="col-2 col-lg-1">
                                    <div class="form-group d-flex align-items-center justify-content-center">
                                        <input type="text" [value]="slpcode.units"
                                            (keyup)="onKey($event,i,'slpCode','unitedCode','units')"
                                            class="form-control width-50" maxlength="2" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" [disabled]="true">
                                    </div>
                                </div>
                                <div class="col-2 col-lg-1" *ngIf="billingType=='CMS'">
                                    <div class="form-group d-flex align-items-center justify-content-center">
                                        <input type="text" [value]="slpcode.minutes"
                                            (keyup)="onKey($event,i,'slpCode','unitedCode','minutes')"
                                            class="form-control width-50" maxlength="4" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" [disabled]="!slpcode.selected || readOnly">
                                    </div>
                                </div>
                                <div class="col-8 col-lg-10" *ngIf="billingType=='CMS' && slpcode.isError">
                                    <p class="error m-0"> <strong class="clr--DF0404">Error : </strong>
                                        {{slpcode.errorMsg}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- DME Codes -->
        <div class="col-12 mt-3">
            <h3 class="mb-0 clr--1F2F3E font-14 fw-700">DME</h3>
        </div>

        <div class="col-12 mt-3">
            <div class="d-flex flex-row align-items-start flex-wrap unlimited-codes-unit-wrapper">
                <div class="col-12 col-sm-12 col-lg-6 col-xl-4" *ngFor="let code of dmeCptList;let i=index">
                    <div class="row w-95">
                        <div class="d-flex flex-row align-items-center justify-content-between col-12 mb-3">
                            <div class="me-2">
                                <mat-label class="">{{code.name}}</mat-label>
                            </div>
                            <div class="form-group">
                                <input [value]="code.quantity" type="text"
                                    (keyup)="onKey($event,i,'ptCode','dmeCode','quantity')"
                                    class="form-control width-50" maxlength="2" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" [disabled]="readOnly">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 mt-2">
            <div class="d-flex flex-row flex-wrap align-items-start unlimited-codes-unit-wrapper">
                <div class="col-12 col-sm-12 col-lg-10 col-xl-7">
                    <div class="row w-100">
                        <div class="d-flex flex-row align-items-center col-12 col-sm-6 col-lg-5 col-xl-5 mb-3">
                            <div class="form-group w-100">
                                <input type="text" [(ngModel)]="cptDesc" class="form-control box-height"
                                    placeholder="Custom CPT Description" [disabled]="readOnly">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center col-12 col-sm-6 col-lg-6 col-xl-6 mb-3">
                            <div class="form-group me-2">
                                <input type="text" [(ngModel)]="cptCode" class="form-control box-height width-60"
                                    placeholder="CPT #" maxlength="10" [disabled]="readOnly">
                            </div>
                            <div class="form-group me-2">
                                <input type="text" [(ngModel)]="quantity" class="form-control width-50 mb-0" placeholder=""
                                pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" maxlength="2" [disabled]="readOnly">
                            </div>
                            <button mat-raised-button color="primary" class="" (click)="addNewCode()" [disabled]="readOnly">
                                Add
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 mt-1">
            <div class="last-check-div">
                <mat-checkbox class="" [(ngModel)]="noVisitCharge" [disabled]="readOnly">No Charges This Visit</mat-checkbox>
            </div>
        </div>

    </div>
    <div class="d-flex align-items-center justify-content-end  notes--footer--btns" *ngIf="!isHold">
        <button mat-stroked-button color="primary" class="me-2 m-1" (click)="submit('draft')" [disabled]="readOnly">
            Save as Draft
        </button>
        <button mat-raised-button color="primary" class="m-1" (click)="submit('finalize')" [disabled]="readOnly">
            Finalize Note
        </button>
    </div>
</div>