<div class="modal--wrapper mam--modal  d-flex flex-column w-100">
    <div class="modal--header w-100">
        <h1 class="fw-700 border-0 pb-0">Authorization Management</h1>
    </div>
    <div class="modal--body w-100 pt-3">
        <form class="row" [formGroup]="authorizationManagement">   
            <div class="row">
                <div class="col-12 col-lg-6 col-md-6 col-xl-4  ">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Authorization Required</label>
                        <mat-radio-group aria-label="Select an option" formControlName="authorizationRequired" (change)="onChangeAuthorization($event)">
                            <mat-radio-button value="Yes" class="me-3">Yes</mat-radio-button>
                            <mat-radio-button value="No" class="me-3">No</mat-radio-button>
                        </mat-radio-group>
                        <div class="text text-danger mt-1" *ngIf="authorizationManagement.controls['authorizationRequired'].touched && authorizationManagement.controls['authorizationRequired'].hasError('required')">
                            {{ validationMessages.required('Authorization') }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Authorization Date From</label>
                        <mat-form-field class="w-100 am--datepicker">
                            <input matInput [matDatepicker]="picker2" formControlName="authorizationFromDate" (dateChange)="onAuthorizationFromDateChange($event)">
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        <div class="text text-danger mt-1" *ngIf="authorizationManagement.controls['authorizationFromDate'].touched && authorizationManagement.controls['authorizationFromDate'].hasError('required')">
                            {{ validationMessages.required('Authorization from date') }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Authorization Date To</label>
                        <mat-form-field class="w-100 am--datepicker">
                            <input matInput [matDatepicker]="picker" formControlName="authorizationToDate" [min]="authorizationFromDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <div class="text text-danger mt-1" *ngIf="authorizationManagement.controls['authorizationToDate'].touched && authorizationManagement.controls['authorizationToDate'].hasError('required')">
                            {{ validationMessages.required('Authorization to date') }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label class="col-form-label fw-600"># Visit Authorized </label>
                        <input class="form-control text-lowercase" type="text" placeholder="" formControlName="authorizationVisit"/>
                        <div class="text text-danger mt-1" *ngIf="authorizationManagement.controls['authorizationVisit'].touched && authorizationManagement.controls['authorizationVisit'].hasError('required')">
                            {{ validationMessages.required('Visit Authorized') }}
                        </div>
                        <div class="text text-danger mt-1" *ngIf="authorizationManagement.controls['authorizationVisit'].touched && authorizationManagement.controls['authorizationVisit'].hasError('pattern')">
                            {{ validationMessages.validInput('Visit Authorized') }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Authorization Number </label>
                        <input class="form-control text-lowercase" type="text" placeholder="" formControlName="authorizationNumber"/>
                        <div class="text text-danger mt-1" *ngIf="authorizationManagement.controls['authorizationNumber'].touched && authorizationManagement.controls['authorizationNumber'].hasError('required')">
                            {{ validationMessages.required('Authorization Number') }}
                        </div>
                        <div class="text text-danger mt-1" *ngIf="authorizationManagement.controls['authorizationNumber'].touched && authorizationManagement.controls['authorizationNumber'].hasError('pattern')">
                            {{ validationMessages.validInput('Authorization Number') }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label class="col-form-label fw-600">&nbsp; </label>
                        <button class="flex-shrink-0 update--btn" mat-raised-button color="primary" [disabled]="!authorizationManagement.valid" (click)="saveAuthorizationManagement()">
                            Update
                        </button>
                    </div>

                </div> 
            </div>
        </form>

        <ng-container *ngIf="isAuthManagmentHistory">
            <div class="row">
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-12">
                    <div class="modal--header pt-0 ps-0 w-100">
                        <h1 class="fw-700 border-0 pb-0">Authorization History</h1>
                    </div>
                </div>
            </div>
            <div *ngFor="let auth of authManagementHistory">
                <div class="row">
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4 d-flex align-items-center">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Required</label>
                            <mat-radio-group aria-label="Select an option" disabled>
                                <mat-radio-button value="Yes" class="me-3" [checked]="auth.authorizationRequired=='Yes'?'true':'false'">Yes</mat-radio-button>
                                <mat-radio-button value="No" class="me-3" [checked]="auth.authorizationRequired=='No'?'true':'false'">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Date From</label>
                            <mat-form-field class="w-100 am--datepicker">
                                <input matInput [matDatepicker]="picker21" value="{{auth.authorizationFromDate}}" disabled>
                                <mat-datepicker-toggle matIconSuffix [for]="picker21"></mat-datepicker-toggle>
                                <mat-datepicker #picker21></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Date To</label>
                            <mat-form-field class="w-100 am--datepicker">
                                <input matInput [matDatepicker]="picker4" value="{{auth.authorizationToDate}}" disabled>
                                <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                                <mat-datepicker #picker4></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600"># Visit Authorized </label>
                            <input class="form-control text-lowercase" type="text" value="{{auth.authorizationVisit}}" disabled />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Number </label>
                            <input class="form-control text-lowercase" type="text" value="{{auth.authorizationNumber}}" disabled />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Updated On </label>
                            <p class="mb-0 mt-2"> <strong>{{auth.createdAt | date: 'MM/dd/yyyy'}}</strong> </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- <div class="row">
            <div class="col-12 col-lg-6 col-md-6 col-xl-4 d-flex align-items-center">
                <div class="form-group">
                    <label class="col-form-label fw-600">Authorization Required</label>
                    <mat-radio-group aria-label="Select an option" disabled>
                        <mat-radio-button value="1" class="me-3" checked>Yes</mat-radio-button>
                        <mat-radio-button value="2" class="me-3">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                <div class="form-group">
                    <label class="col-form-label fw-600">Authorization Date To</label>
                    <mat-form-field class="w-100 am--datepicker">
                        <input matInput [matDatepicker]="picker4" value="02/11/2025" disabled>
                        <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                <div class="form-group">
                    <label class="col-form-label fw-600">Authorization Date From</label>
                    <mat-form-field class="w-100 am--datepicker">
                        <input matInput [matDatepicker]="picker21" value="21/12/2021" disabled>
                        <mat-datepicker-toggle matIconSuffix [for]="picker21"></mat-datepicker-toggle>
                        <mat-datepicker #picker21></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                <div class="form-group">
                    <label class="col-form-label fw-600"># Visit Authorized </label>
                    <input class="form-control text-lowercase" type="text" value="259746" disabled />
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                <div class="form-group">
                    <label class="col-form-label fw-600">Authorization Number </label>
                    <input class="form-control text-lowercase" type="text" value="123456" disabled />
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                <div class="form-group">
                    <label class="col-form-label fw-600">Updated On </label>
                    <p class="mb-0 mt-2"> <strong>10/08/2024</strong> </p>
                </div>
            </div>
        </div> -->


    </div>
    <div class="modal--footer w-100 d-flex align-items-center justify-content-end pt-0">
        <button mat-stroked-button color="primary" class="me-3" mat-dialog-close>Close</button>
    </div>
</div>