.initial--exam--billing--wrapper{
    .billing-total-unit-wrapper{
        .form-group{
            margin-bottom: 0;
            .width-50{
                width: 50px;
                height: 36px;
            }
        }
    }
    .unlimited-codes-unit-wrapper{
        .form-group{
            margin-bottom: 0;
            .width-50{
                width: 50px;
                height: 36px;
            }
        }
    }
}