.view--insurance--modal{
    
    .ui--button{
        input[type=file]{
            z-index: 999999;
            opacity: 0;
            position: absolute;
            left: -38px;
            top: -6px;
            height: 36px;
            width: 103px;
        } 
    }
    .doc--desc{
        width: 230px;
        margin-right: 20px;
        h5{
            word-break: break-all;
        }
    }
    .concent--box{
        border-top: 1px solid #ddd;
        padding-top: 15px;
        margin-top: 15px;
        ::ng-deep{
            .mat-mdc-checkbox {
                margin-left: -8px;
                .mdc-label{
                    font-size: 16px !important;
                }
            }
        }
    }
    .minor--consent{
        ::ng-deep{
            .mat-mdc-checkbox {
                .mdc-form-field{
                    align-items: flex-start;
                    .mdc-checkbox{
                        margin-top: -6px;
                        margin-left: -11px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 599px) {
    .view--insurance--modal{
        .doc--desc{
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}
