<div class="modal--wrapper view--insurance--modal d-flex flex-column w-100">
    <div class="modal--header w-100">
        <h1 class="fw-700">View Insurance</h1>
    </div>
    <div class="modal--body w-100  ">
        <div class="row">
            <div class="col-12">
                <p class="fw-700 font-16 mb-0">Responsible Party/Guarantor (RP)</p>
                <p class="font-16">
                    If you are not the patient but responsible for charges - Please check relationship below.
                </p>
            </div>
            <div class="col-12 col-lg-6 col-md-6 ">
                <div class="form-group">
                    <label class="col-form-label fw-600">Relationship with Patient</label>
                    <input cdkFocusInitial value="{{info.relationWithPatient}}" class="form-control" type="text" disabled />
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 " *ngIf="info?.relationWithPatient && info.relationWithPatient=='Other'">
                <div class="form-group">
                    <label class="col-form-label fw-600">Other Relation </label>
                    <input class="form-control" type="text" value="{{info.otherRelation}}" disabled placeholder="Specify Relation" />
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                <div class="form-group">
                    <label class="col-form-label fw-600">First Name </label>
                    <input value="{{info.firstName}}" class="form-control" type="text" disabled />
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                <div class="form-group">
                    <label class="col-form-label fw-600">Middle Name </label>
                    <input value="{{info.middleName}}" class="form-control" type="text" disabled placeholder="Enter Middle Name" />
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                <div class="form-group">
                    <label class="col-form-label fw-600">Last Name </label>
                    <input value="{{info.lastName}}" class="form-control" type="text" disabled placeholder="Enter Last Name" />
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label fw-600">Date of Birth </label>
                    <mat-form-field class="w-100 am--datepicker">
                        <input value="{{info.dob}}" matInput [matDatepicker]="picker" disabled placeholder="13/05/1990" (focus)="picker.open()">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label fw-600">Marital Status</label>
                    <select class="form-select form-control" aria-label="Default select example" disabled>
                        <option selected>{{info.maritalStatus}}</option>
                    </select>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label fw-600">Gender</label>
                    <mat-radio-group aria-label="Select an option"  [value]="info.gender" disabled>
                        <mat-radio-button value="Male" class="me-3" >Male</mat-radio-button>
                        <mat-radio-button value="Female" class="me-3" >Female</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label fw-600">Email </label>
                    <input value="{{info.email}}" class="form-control" type="email" disabled />
                </div>
            </div>

            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label fw-600">Phone Number </label>
                    <input value="{{info.phoneNumber}}" class="form-control" type="text" disabled />
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label fw-600">Cell Phone Number </label>
                    <input value="{{info.cellPhoneNumber}}" class="form-control" type="text" disabled />
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label fw-600">Work Extension </label>
                    <input value="{{info.workExtensionNumber}}" class="form-control" type="text" disabled />
                </div>
            </div>
            <div class="col-12 my-4">
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Insurances </h2>
                    </div>
                    <div class="col-12 col-xl-8">
                        <div class="d-flex align-items-center w-100">
                            <div class="form-group w-100">
                                <label class="col-form-label fw-600">Selected Insurance</label>
                                <select class="form-select form-control" aria-label="Default select example" disabled>
                                    <option selected>{{info.insuranceName}}</option>
                                </select>
                            </div>
                        </div>
                        <p class="font-15 lh-24">
                            ("Subscriber") is the person who holds the insurance plan whether personally or through
                            their employer.
                            <br>
                            Please also provide a copy of your insurance card(s) to our receptionist
                        </p>
                    </div>
                    <div class="col-12">
                        <h2 class="mb-3 mt-2  clr--1F2F3E fw-700 d-flex flex-wrap font-16"> Subscriber's Details </h2>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">First Name </label>
                            <input value="{{info.subscriberFirstName}}" class="form-control" type="text" disabled
                                placeholder="Enter First Name" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Middle Name </label>
                            <input value="{{info.subscriberMiddleName}}" class="form-control" type="text" disabled
                                placeholder="Enter Middle Name" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Last Name </label>
                            <input value="{{info.subscriberLastName}}" class="form-control" type="text" disabled
                                placeholder="Enter Last Name" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Date of Birth </label>
                            <mat-form-field class="w-100 am--datepicker">
                                <input value="{{info.subscriberDob}}" matInput [matDatepicker]="picker2" placeholder="MM/DD/YY" disabled  (focus)="picker2.open()">
                                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Relationship with Patient</label>
                            <select class="form-select form-control" aria-label="Default select example" disabled>
                                <option selected>{{info.subscriberRelationWithPatient}}</option>
                            </select>
                        </div>
                        <div class="form-group" *ngIf="info.subscriberRelationWithPatient=='Other'">
                            <input value="{{info.subscriberOtherRelation}}" class="form-control" disabled type="text" placeholder="Enter other relation" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Subscriber Gender</label>
                            <mat-radio-group aria-label="Select an option"  [value]="info.subscriberGender" disabled>
                                <mat-radio-button value="Male" class="me-3" >Male</mat-radio-button>
                                <mat-radio-button value="Female" class="me-3" >Female</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-2 mt-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Primary Insurances </h2>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Company </label>
                            <input value="{{info.primaryInsuranceCompany}}" class="form-control" type="text" disabled
                                placeholder="Enter Company Name" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">ID/Policy # </label>
                            <input value="{{info.primaryInsuranceIdPolicy}}" class="form-control" type="text" disabled
                                placeholder="Enter ID/Policy" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Group # </label>
                            <input value="{{info.primaryInsuranceGroup}}" class="form-control" type="text" disabled
                                placeholder="Enter Group" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Customer Service Ph # </label>
                            <input value="{{info.primaryInsuranceCustomerServicePh}}" class="form-control" type="text"
                                disabled placeholder="Enter Customer Service Ph" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-lx-4 col-md-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Effective Date <span class="clr--DF0404 ms-1"> *
                            </span></label>
                            <div class="input-group">
                                <mat-form-field class="w-100 am--datepicker">
                                    <input value="{{info.primaryInsuranceFromDate}}" disabled placeholder="MM-DD-YYYY"  matInput [matDatepicker]="picker3" (focus)="picker3.open()">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </mat-form-field>
                            </div> 
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-lx-4 col-md-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">End Date <span class="clr--DF0404 ms-1"> *
                            </span></label>
                            <div class="input-group">
                                <mat-form-field class="w-100 am--datepicker" >
                                    <input disabled value="{{info.primaryInsuranceToDate}}" placeholder="MM-DD-YYYY" matInput [matDatepicker]="picker4" (focus)="picker4.open()">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                                    <mat-datepicker #picker4></mat-datepicker>
                                </mat-form-field>
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-3 mt-2  clr--1F2F3E fw-700 d-flex flex-wrap font-16"> Subscriber's Details </h2>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">First Name </label>
                            <input value="{{info.secondarySubscriberFirstName}}" class="form-control" type="text" disabled
                                placeholder="Enter First Name" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Middle Name </label>
                            <input value="{{info.secondarySubscriberMiddleName}}" class="form-control" type="text" disabled
                                placeholder="Enter Middle Name" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Last Name </label>
                            <input value="{{info.secondarySubscriberLastName}}" class="form-control" type="text" disabled
                                placeholder="Enter Last Name" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Date of Birth </label>
                            <mat-form-field class="w-100 am--datepicker">
                                <input value="{{info.secondarySubscriberDob}}" matInput [matDatepicker]="picker44" placeholder="MM/DD/YY" disabled (focus)="picker44.open()">
                                <mat-datepicker-toggle matIconSuffix [for]="picker44"></mat-datepicker-toggle>
                                <mat-datepicker #picker44></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Relationship with Patient</label>
                            <select class="form-select form-control" aria-label="Default select example" disabled>
                                <option selected>{{info.secondarySubscriberRelationWithPatient}}</option>
                            </select>
                        </div>
                        <div class="form-group" *ngIf="info.secondarySubscriberRelationWithPatient=='Other'">
                            <input value="{{info.secondarySubscriberOtherRelation}}" class="form-control" disabled type="text" placeholder="Enter other relation" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Subscriber Gender</label>
                            <mat-radio-group aria-label="Select an option"  [value]="info.secondarySubscriberGender" disabled>
                                <mat-radio-button value="Male" class="me-3" >Male</mat-radio-button>
                                <mat-radio-button value="Female" class="me-3" >Female</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="col-12">
                        <h2 class="mb-2 mt-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Secondary Insurances </h2>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Company </label>
                            <input value="{{info.secondaryInsuranceCompany}}" class="form-control" type="text" disabled
                                placeholder="Enter Company Name" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">ID/Policy # </label>
                            <input value="{{info.secondaryInsuranceIdPolicy}}" class="form-control" type="text" disabled
                                placeholder="Enter ID/Policy" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Group # </label>
                            <input value="{{info.secondaryInsuranceGroup}}" class="form-control" type="text" disabled
                                placeholder="Enter Group" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Customer Service Ph # </label>
                            <input value="{{info.secondaryInsuranceCustomerServicePh}}" class="form-control" type="text"
                                disabled placeholder="Enter Customer Service Ph" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-lx-4 col-md-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Effective Date </label>
                            <div class="input-group">
                                <mat-form-field class="w-100 am--datepicker">
                                    <input value="{{info.secondaryInsuranceFromDate}}" disabled placeholder="MM-DD-YYYY"
                                        matInput [matDatepicker]="picker6" (focus)="picker6.open()">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker6"></mat-datepicker-toggle>
                                    <mat-datepicker #picker6></mat-datepicker>
                                </mat-form-field>
                            </div> 
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-lx-4 col-md-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">End Date</label>
                            <div class="input-group">
                                <mat-form-field class="w-100 am--datepicker">
                                    <input  value="{{info.secondaryInsuranceToDate}}" disabled placeholder="MM-DD-YYYY"
                                        matInput [matDatepicker]="picker7" (focus)="picker7.open()">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker7"></mat-datepicker-toggle>
                                    <mat-datepicker #picker7></mat-datepicker>
                                </mat-form-field>
                            </div> 
                        </div>
                    </div>

                    <div class="col-12" *ngIf="info.thirdSubscriberFirstName && info.thirdSubscriberLastName && info.thirdSubscriberGender">
                        <div class="row" >
                            <div class="col-12">
                                <h2 class="mb-3 mt-2  clr--1F2F3E fw-700 d-flex flex-wrap font-16"> Subscriber's Details </h2>
                            </div>
                            <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                                <div class="form-group">
                                    <label class="col-form-label fw-600">First Name </label>
                                    <input value="{{info.thirdSubscriberFirstName}}" class="form-control" type="text" disabled
                                        placeholder="Enter First Name" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                                <div class="form-group">
                                    <label class="col-form-label fw-600">Middle Name </label>
                                    <input value="{{info.thirdSubscriberMiddleName}}" class="form-control" type="text" disabled
                                        placeholder="Enter Middle Name" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                                <div class="form-group">
                                    <label class="col-form-label fw-600">Last Name </label>
                                    <input value="{{info.thirdSubscriberLastName}}" class="form-control" type="text" disabled
                                        placeholder="Enter Last Name" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                                <div class="form-group">
                                    <label class="col-form-label fw-600">Date of Birth </label>
                                    <mat-form-field class="w-100 am--datepicker">
                                        <input value="{{info.thirdSubscriberDob}}" matInput [matDatepicker]="picker3"
                                            placeholder="MM/DD/YY" disabled  (focus)="picker3.open()">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                                <div class="form-group">
                                    <label class="col-form-label fw-600">Relationship with Patient</label>
                                    <select class="form-select form-control" aria-label="Default select example" disabled>
                                        <option selected>{{info.thirdSubscriberRelationWithPatient}}</option>
                                    </select>
                                </div>
                                <div class="form-group" *ngIf="info.thirdSubscriberRelationWithPatient=='Other'">
                                    <input value="{{info.thirdSubscriberOtherRelation}}" class="form-control" disabled type="text" placeholder="Enter other relation" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-4 col-xl-4">
                                <div class="form-group">
                                    <label class="col-form-label fw-600">Subscriber Gender</label>
                                    <mat-radio-group aria-label="Select an option" [value]="info.thirdSubscriberGender" disabled>
                                        <mat-radio-button value="Male" class="me-3" >Male</mat-radio-button>
                                        <mat-radio-button value="Female" class="me-3" >Female</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                            <div class="col-12">
                                <h2 class="mb-2 mt-2 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Third Insurances</h2>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <label class="col-form-label fw-600">Third Insurances <span class="clr--DF0404 ms-1"> *
                                        </span></label>
                                    <input class="form-control" type="text" value="{{info.thirdInsuranceCompany}}" disabled placeholder="Enter Insurances Name" />
                                     
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <label class="col-form-label fw-600">ID/Policy # <span class="clr--DF0404 ms-1"> *
                                        </span></label>
                                    <input  class="form-control" type="text" value="{{info.thirdInsuranceIdPolicy}}" disabled placeholder="Enter ID/Policy" />
                                    
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <label class="col-form-label fw-600">Group # <span class="clr--DF0404 ms-1"> *
                                        </span></label>
                                    <input  class="form-control" type="text" value="{{info.thirdInsuranceGroup}}" disabled placeholder="Enter Group" />
                                     
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <label class="col-form-label fw-600">Customer Service Ph # <span
                                            class="clr--DF0404 ms-1"> *
                                        </span></label>
                                    <input class="form-control"
                                        type="text" value="{{info.thirdInsuranceCustomerServicePh}}" disabled placeholder="Enter Customer Service Ph" />
                                     
                                </div>
                            </div>

                            <div class="col-12 col-lg-4 col-lx-4 col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label fw-600">Effective Date </label>
                                    <div class="input-group">
                                        <mat-form-field class="w-100 am--datepicker">
                                            <input value="{{info.thirdInsuranceFromDate}}" disabled placeholder="MM-DD-YYYY"
                                                matInput [matDatepicker]="picker5" (focus)="picker5.open()">
                                            <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                                            <mat-datepicker #picker5></mat-datepicker>
                                        </mat-form-field>
                                    </div> 
                                </div>
                            </div>

                            <div class="col-12 col-lg-4 col-lx-4 col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label fw-600">End Date</label>
                                    <div class="input-group">
                                        <mat-form-field class="w-100 am--datepicker">
                                            <input  value="{{info.thirdInsuranceToDate}}" disabled placeholder="MM-DD-YYYY"
                                                matInput [matDatepicker]="picker66" (focus)="picker66.open()">
                                            <mat-datepicker-toggle matIconSuffix [for]="picker66"></mat-datepicker-toggle>
                                            <mat-datepicker #picker66></mat-datepicker>
                                        </mat-form-field>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Is your injury related to <span class="clr--DF0404 ms-1"> *
                            </span></label>
                            <mat-radio-group aria-label="Select an option" disabled [value]="info?.injuryRelelatedTo">
                                <mat-radio-button value="Worker's Compensation (WCOMP)" class="me-3">
                                    Worker's Compensation (WCOMP)</mat-radio-button>
                                <mat-radio-button value="Motar Vehicle Accident (MVA)" class="me-3">
                                    Motar Vehicle Accident (MVA)</mat-radio-button>
                                    <mat-radio-button value="Other Personal Injury">
                                        Other Personal Injury
                                    </mat-radio-button>
                                    
                                <div class="d-inline-flex flex-column" *ngIf="info?.injuryRelelatedTo=='Other Personal Injury'"> 
                                    <div class="form-group">
                                        <input value="{{info?.otherPersonalInjury}}" class="form-control" type="text" placeholder="Enter Other Injury" /> 
                                    </div>
                                </div>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4" *ngIf="workerCompensation">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Carrier Name </label>
                            <select class="form-select form-control" aria-label="Default select example" disabled>
                                <option selected>{{info.carrierName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4" *ngIf="workerCompensation">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Date of Injury </label>
                            <mat-form-field class="w-100 am--datepicker">
                                <input value="{{info.dateOfInjury}}" matInput [matDatepicker]="picker3"
                                    placeholder="MM/DD/YY" disabled (focus)="picker3.open()">
                                <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4" *ngIf="workerCompensation">
                        <div class="form-group">
                            <label class="col-form-label fw-600">State </label>
                            <select class="form-select form-control" aria-label="Default select example" disabled>
                                <option selected>{{info.insuranceState}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4" *ngIf="workerCompensation">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Claim # </label>
                            <input value="{{info.claim}}" class="form-control" type="text" disabled
                                placeholder="Enter Claim" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4" *ngIf="workerCompensation">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Adjuster Name # </label>
                            <input value="{{info.adjusterName}}" class="form-control" type="text" disabled
                                placeholder="Enter Adjuster Name" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4" *ngIf="workerCompensation">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Adjuster Phone # </label>
                            <input value="{{info.adjusterPhone}}" class="form-control" type="text" disabled
                                placeholder="Enter Adjuster Phone" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Was this reported to your employer?</label>
                            <mat-radio-group aria-label="Select an option" [value]="info?.reportedEmployer" disabled>
                                    <mat-radio-button value="Yes" class="me-3">Yes</mat-radio-button>
                                    <mat-radio-button value="No">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="info?.reportedEmployer=='Yes'">
                        <h2 class="mb-2 mt-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Employers Information </h2>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6" *ngIf="info?.reportedEmployer=='Yes'">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Employer Name </label>
                            <input value="{{info.employerName}}" class="form-control" type="text" disabled
                                placeholder="Enter Employer Name" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6" *ngIf="info?.reportedEmployer=='Yes'">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Employer Phone </label>
                            <input value="{{info.employerPhone}}" class="form-control" type="text" disabled
                                placeholder="Enter Employer Phone" />
                        </div>
                    </div>
                    <div class="col-12" *ngIf="info?.reportedEmployer=='Yes'">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Employer Address </label>
                            <textarea class="form-control " type="text" disabled placeholder="Enetr Address"
                                rows="4">{{info.employerAddress}}</textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 d-flex 
                                flex-column flex-sm-row 
                                align-items-start align-items-sm-center 
                                justify-content-start justify-content-sm-between">
                        <h2 class="mb-2 mt-3 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Attorney Information</h2>                  
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Have you consulted an attorney for your current problem?</label>
                            <mat-radio-group aria-label="Select an option" [value]="info?.attorney" disabled>
                                <mat-radio-button value="Yes" class="me-3">Yes</mat-radio-button>
                                <mat-radio-button value="No">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6" *ngIf="info?.attorney=='Yes'">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Attorney Name </label>
                            <input value="{{info.attorneyName}}" class="form-control" type="text" disabled
                                placeholder="Enter Attorney Name" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6" *ngIf="info?.attorney=='Yes'">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Attorney Phone </label>
                            <input value="{{info.attorneyPhone}}" class="form-control" type="text" disabled
                                placeholder="Enter Attorney Phone" />
                        </div>
                    </div>
                    <div class="col-12" *ngIf="info?.attorney=='Yes'">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Attorney Address </label>
                            <textarea class="form-control " type="text" disabled placeholder="Enter Address"
                                rows="4">{{info.attorneyAddress}}</textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="fw-700">Uploaded Insurance documents :</p>
                    </div>
                    <div *ngIf="!info?.insuranceFiles || info?.insuranceFiles.length > 0">
                        <div *ngFor="let row of info.insuranceFiles"
                            class="col-12 d-flex flex-column flex-sm-row align-items-start align-items-sm-center mb-3">
                            <div class="doc--desc d-flex align-items-start align-items-sm-center ">
                                <div
                                    class="doc--pic d-flex align-items-start align-items-sm-center justify-content-center me-3">
                                    <mat-icon>{{getIcon(row)}}</mat-icon>
                                </div>
                                <div class="d-flex flex-column  doc--desc">
                                    <h5 class="font-16">{{row}}</h5>
                                </div>
                            </div>
                            <button (click)="download(row)" mat-raised-button color="warn" class="flex-shrink-0">
                                <mat-icon class="material-symbols-outlined flex-shrink-0"> download </mat-icon>
                                Download
                            </button>
                        </div>
                    </div>
                    <div *ngIf="info.insuranceFiles && info.insuranceFiles.length ==  0">No files found!</div>

                    <div class="col-12 d-flex flex-column concent--box">
                        <label class="fw-700 font-16 clr--1F2F3E mb-1 mt-2">Consent</label>
                        <mat-checkbox disabled [checked]="info.consentCheck" (change)="openCMSmodal($event)">I have read and agree to the Hamilton Physical Therapy's <a target="_blank" [routerLink]="['/terms-of-services']" class="fw-700 text-decoration-underline font-16"> Terms of Service </a> and <a [routerLink]="['/privacy-policy']" target="_blank" class="fw-700 text-decoration-underline font-16">Privacy Policy. </a></mat-checkbox>
                    </div>
                    <div class="col-12 d-flex
                                flex-column flex-sm-row 
                                align-items-start align-items-sm-center 
                                justify-content-start justify-content-sm-between">
                        <div class="signature--box d-flex align-items-center justify-content-center">
                            {{info.firstName}}
                        </div>  
                    </div>
 

                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="col-12 d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                                <label class="fw-700 font-16 clr--1F2F3E mb-0 me-3">Is The Patient A Minor?</label>
                                <mat-radio-group (change)="onChange($event)" [value]="isPatientMinorVal" disabled>
                                    <mat-radio-button value="yes" class="me-3">Yes </mat-radio-button>
                                    <mat-radio-button value="no">No</mat-radio-button>
                                </mat-radio-group>
                            </div>                             
                            <div class="col-12 minor--consent mb-4" *ngIf="isPatientMinor"> 
                                <label class="fw-700 font-16 clr--1F2F3E mb-1">Minor Consent</label>
                                <mat-checkbox disabled (change)="openCMSmodal($event)"> 
                                <p class="font-16 clr--1F2F3E lh-24 mb-0">{{info.firstName}} {{info.lastName}} - I hereby authorize this PT
                                    clinic
                                    and/or it's
                                    Individual Therapists and Assistants to evaluate and administer PT treatments to the
                                    minor
                                    patient listed above. This authorization is in effect as of the date this form is
                                    signed.
                                    This authorization shall remain valid for current and future PT cases until written
                                    notice
                                    is given by me revoking said authorization. I understand that I am financially
                                    responsible
                                    for all services rendered to the above patient whether I am present at the time of
                                    treatment
                                    or not.</p>
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-12 d-flex flex-column w-100" *ngIf="isPatientMinor">
                        <div class="signature--box d-flex align-items-center justify-content-center">
                            {{info.firstName}} {{info.lastName}}
                        </div>
                        <p class="fw-600 font-16 clr--1F2F3E mt-2 mb-0">
                            Patient/Guardian Signature (Guardians must sign for minors)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal--footer w-100 d-flex align-items-center justify-content-end mt-2">
        <button mat-raised-button color="primary" mat-dialog-close>Close</button>
    </div>
</div>