.sa--dashboard--wrapper{
    .head--box{
        background-color: #fff;
        border-radius: 6px;
        header{
            padding: 20px;
            .main--txt{
                font-size: 22px;
                color: #324556;
                margin-top: 20px;
            }
            .sub--txt{
                font-size: 16px;
                color: #324556;
                margin-top: 20px;
            }
            .form-select{
                background-color: #F5F6F9 !important;
            }
        }
    }
    ::ng-deep{
        .cust--mat--table{
            margin-top: 40px;
            thead{
                tr{
                    th{
                        color: #324556;
                        vertical-align: top;
                        font-size: 14px; 
                        font-weight: bold;
                        line-height: 19px;
                        &:first-child{ 
                            padding-left: 30px;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        &:first-child{
                            font-weight: bold !important;
                            padding-left: 30px;
                        }
                    }
                    &:last-child{
                        td{
                            font-weight: bold;
                        }
                    }
                }
            }
            .mdc-data-table__cell, .mdc-data-table__header-cell {
                padding: 0 6px 0 6px;
                font-family: "Nunito Sans", sans-serif !important;
            }
            &.therapist--report--table{
                tbody{
                    tr{ 
                        &:last-child{
                            td{
                                font-weight: 400 ;
                            }
                        }
                    }
                }
            }
        }
    }

}