<div class="container-fluid sa--dashboard--wrapper">
    <section class="col-12 head--box">
        <header class="col-12">
            <div class="row">
                <div class="col-12 d-flex flex-column flex-sm-row align-items-center justify-content-between">
                    <div class="d-flex flex-column flex-sm-row align-items-center w-100">
                        <select class="form-select form-control form-control-md m-1"
                            aria-label="Default select example">
                            <option selected>Select Report Type </option>
                            <option>Hamilton PT </option>
                            <option value="2">Darby PT</option>
                            <option value="3">Corvallis PT</option>
                            <option value="4">Stevi PT</option>
                            <option value="5">PT Specialists of Florence</option>
                            <option value="6">Frenchtown PT</option>
                            <option value="7">HNB</option>
                        </select>
                        <select class="form-select form-control form-control-md m-1"
                            aria-label="Default select example">
                            <option selected>Select Clinic </option>
                            <option>Apollo Clinic</option>
                            <option value="2">Ruby Hall Clinic - Sassoon Road</option>
                            <option value="3">Dugad Hospital</option>
                            <option value="4">Laparo Obeso Centre</option>
                            <option value="5">Chhajed Clinic</option>
                            <option value="6">Patil Clinic</option>
                            <option value="7">Laparo Obeso Centre 123</option>
                        </select>
                        <select class="form-select form-control form-control-md m-1"
                            aria-label="Default select example">
                            <option selected>Select Year</option>
                            <option>2018</option>
                            <option value="2">2019</option>
                            <option value="3">2020</option>
                            <option value="4">2021</option>
                            <option value="5">2022</option>
                            <option value="6">2023</option>
                            <option value="7">2024</option>
                        </select>
                        <select class="form-select form-control form-control-md m-1"
                            aria-label="Default select example">
                            <option selected>Therapist Name</option>
                            <option>Emily Blunt</option>
                            <option value="2">John Doe</option>
                            <option value="3">Martin Heidi</option>
                            <option value="4">Brooker Ben</option>
                            <option value="5">Nohren White</option>
                            <option value="6">Ashley Doe</option>
                            <option value="7">Emily White</option>
                        </select>
                    </div>
                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-end flex-shrink-0">
                        <button mat-raised-button class="m-1" color="primary">Generate Report</button>
                        <button mat-stroked-button class="m-1" color="primary">Mark as default report</button>
                    </div>
                </div>
                <div class="col-12">
                    <h2 class="main--txt fw-600 ">Individual Therapists Report for Stevensville Physical Therapy 2023</h2>
                </div>
            </div>
        </header>
        <section class="col-12 ">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Monthly Therapists Report">
                    <table mat-table [dataSource]="dataSource" matSort class="cust--mat--table therapist--report--table">
                        <ng-container matColumnDef="provider">
                            <th mat-header-cell *matHeaderCellDef  
                                sortActionDescription="Sort by number">
                                Provider 
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
                        </ng-container>
                        <ng-container matColumnDef="month">
                            <th mat-header-cell *matHeaderCellDef  sortActionDescription="Sort by name">
                                Month 
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.month}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalevals">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                Total Evals 
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.totalevals}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="totalcx">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                Total CX
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.totalcx}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cxper">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                CX % 
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cxper}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="totalns">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                Total NS
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.totalns}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="nsper">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                NS %
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.nsper}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="totalpts2">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                Total Pts Seen
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.totalpts2}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="totalbilledunits">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                Total Billed Units 
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.totalbilledunits}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="unitsvisits">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                Units/Visit
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.unitsvisits}}
                            </td>
                        </ng-container>
                          
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </mat-tab>

                <mat-tab label="Annual Therapists">
                    <table mat-table [dataSource]="dataSource2" matSort class="cust--mat--table therapist--report--table">
                        <ng-container matColumnDef="provider">
                            <th mat-header-cell *matHeaderCellDef  
                                sortActionDescription="Sort by number">
                                Provider 
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
                        </ng-container>
                        <ng-container matColumnDef="year">
                            <th mat-header-cell *matHeaderCellDef  sortActionDescription="Sort by name">
                                Year 
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalevals">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                Total Evals 
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.totalevals}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="totalcx">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                Total CX
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.totalcx}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cxper">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                CX % 
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cxper}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="totalns">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                Total NS
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.totalns}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="nsper">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                NS %
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.nsper}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="totalpts2">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                Total Pts Seen
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.totalpts2}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="totalbilledunits">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                Total Billed Units 
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.totalbilledunits}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="unitsvisits">
                            <th mat-header-cell *matHeaderCellDef 
                                sortActionDescription="Sort by symbol">
                                Units/Visit
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.unitsvisits}}
                            </td>
                        </ng-container>
                          
                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>
                </mat-tab>
            </mat-tab-group>
        </section>
    </section>
</div>