::ng-deep{
    .insurance--table{ 
        .cust--mat--table{
            tbody{
                tr{
                    td{ 
                        &:last-child{ 
                            .mat-icon{
                                height: 24px;
                                width: 24px;
                                font-size: 24px;
                            }
                        }
                        .img--box{
                            width: 48px;
                            height: 48px;
                            border-radius: 100%;
                            overflow: hidden;
                            margin-right: 15px;
                        }
                    }
                }
            } 
            &.box--row--table{
                &.mat-mdc-table{ 
                    thead{
                        tr{
                            th:nth-child(1){ width: 30%; }
                            th:nth-child(2){ width: 20%; }
                            th:nth-child(3){ width: 15%; }
                            th:nth-child(4){ width: 200px; }
                            th:nth-child(5){ width: 200px; }
                            th:nth-child(6){ width: 200px; }
                        }
                    }
                    tbody{ 
                        tr{ 
                            td:nth-child(1){ width: 30%; }
                            td:nth-child(2){ width: 20%; }
                            td:nth-child(3){ width: 15%; }
                            td:nth-child(4){ width: 200px; }
                            td:nth-child(5){ width: 200px; }
                            td:nth-child(6){ width: 200px; }
                        }
                    }
                } 
            }
        }
    } 
}

@media only screen and (max-width: 599px) { 
    .insurance--table{
        ::ng-deep{
            .cust--mat--table{
                &.box--row--table{
                    &.mat-mdc-table{
                        width: 860px;
                        thead{
                            tr{
                                th:nth-child(1){ width: 20%; }
                                th:nth-child(2){ width: 20%; }
                                th:nth-child(3){ width: 15%; }
                                th:nth-child(4){ width: 200px; }
                                th:nth-child(5){ width: 225px; }
                            }
                        }
                        tbody{ 
                            tr{ 
                                td:nth-child(1){ width: 20%; }
                                td:nth-child(2){ width: 20%; }
                                td:nth-child(3){ width: 15%; }
                                td:nth-child(4){ width: 200px; }
                                td:nth-child(5){ width: 225px; }
                            }
                        }
                    }
                }
            }
        }
    } 
}
@media only screen and (min-width: 600px) and (max-width: 979px){}
@media only screen and (min-width: 980px) and (max-width: 1279px){}
@media only screen and (min-width: 1280px) and (max-width: 1440px){
    .insurance--table{
        ::ng-deep{
            .cust--mat--table{
                &.box--row--table{
                    &.mat-mdc-table{
                        thead{
                            tr{
                                th:nth-child(1){ width: 25%; }
                                th:nth-child(2){ width: 25%; }
                                th:nth-child(3){ width: 15%; }
                                th:nth-child(4){ width: 200px; }
                                th:nth-child(5){ width: 225px; }
                            }
                        }
                        tbody{ 
                            tr{ 
                                td:nth-child(1){ width: 25%; }
                                td:nth-child(2){ width: 25%; }
                                td:nth-child(3){ width: 15%; }
                                td:nth-child(4){ width: 200px; }
                                td:nth-child(5){ width: 225px; }
                            }
                        }
                    }
                }
            }
        }
    }


}
@media only screen and (min-width: 1441px) and (max-width: 1550px){}
@media screen and (orientation:landscape) and (max-width: 850px){
    .insurance--table ::ng-deep .cust--mat--table.box--row--table.mat-mdc-table tbody tr td:nth-child(1),
    .insurance--table ::ng-deep .cust--mat--table.box--row--table.mat-mdc-table thead tr th:nth-child(1){ 
        width: 35%; 
     } 
    .insurance--table ::ng-deep .cust--mat--table.box--row--table.mat-mdc-table tbody tr td:last-child,
    .insurance--table ::ng-deep .cust--mat--table.box--row--table.mat-mdc-table thead tr th:last-child{ 
        width: 10%; 
     }
    .insurance--table ::ng-deep .cust--mat--table.box--row--table.mat-mdc-table tbody tr td:nth-child(3),
    .insurance--table ::ng-deep .cust--mat--table.box--row--table.mat-mdc-table thead tr th:nth-child(3){ 
        width: 150px; 
    } 
     
}