<div class="container-fluid book--appointment--wrapper billing--details pb-3">
    <div class="row">
        <div class="col-12 d-flex align-items-center my-2">
            <button mat-stroked-button color="primary" class="me-3 back--btn" [routerLink]="['/billing-team/appointment-details']">
                <mat-icon class="material-symbols-outlined flex-shrink-0 m-0"> keyboard_backspace </mat-icon>
            </button>
            <h3 class="mb-0 clr--1F2F3E fw-600 d-flex flex-wrap">
                Billing Details
            </h3>
        </div>
    </div>
    <div class="card m-0">
        <div class="row"> 
            <div class="col-12 my-2">
                <div class="row"> 
                    <div class="col-12 col-xl-12"> 
                        <h3 class="mb-0 clr--1F2F3E fw-700 d-flex flex-wrap text-uppercase font-18 mb-3">
                            Insurances<span class="ms-1"> * </span> 
                        </h3>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-row flex-wrap align-items-baseline mb-2">
                            <div class="col-12 col-lg-3 col-md-3 col-xl-3 mb-2">
                                <h2 class="clr--1F2F3E fw-700 d-flex flex-wrap font-16"> Primary Insurance </h2>
                            </div>
                            <div class="col-12 col-lg-3 col-md-4 col-xl-3 mb-2">
                                <!-- <div class="d-flex flex-row flex-wrap align-items-center">
                                    <label class="form-check-label fw-600 me-3 mb-1" for="flexSwitchCheckChecked">Re-order Insurances</label>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-12 col-md-5 col-lg-6 col-xl-6 d-flex justify-content-sm-end">
                                <button class="flex-shrink-0" mat-raised-button color="primary"> 
                                    <mat-icon class="material-symbols-outlined flex-shrink-0 me-1 ms-1"> add_circle_outline </mat-icon> 
                                    Add Third Insurance
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Primary Insurance <span class="clr--DF0404 ms-1"> *
                                </span>
                            </label>
                            <div class="d-flex w-100 position-relative primary--insu">
                                <input class="form-control " type="text" placeholder="Primary Insurance"  />
                                <button mat-raised-button color="primary" class="updt--btn" (click)="selectInsuranceModal()">
                                    Update
                                </button>
                                </div>
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">ID/Policy # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter ID/Policy #" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Number of Visits used elsewhere </label>
                            <input class="form-control" type="text" placeholder="Enter Number of Visits" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Group # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Group #" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Customer Service Ph # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Customer Service Ph #" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-3">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Date From</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    ngbDatepicker #from="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="from.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-3">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Date To</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    ngbDatepicker #to="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="to.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-3 d-flex align-items-center">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Required</label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="me-3">Yes</mat-radio-button>
                                <mat-radio-button value="2" class="me-3">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-3 mb-2">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Number</label>
                            <input class="form-control" type="text" placeholder="Enter Authorization Number" />
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Effective Date </label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    ngbDatepicker #ed="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="ed.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">End Date </label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    ngbDatepicker #end="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="end.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4  d-flex align-items-center">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Rx Required</label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="me-3">Yes</mat-radio-button>
                                <mat-radio-button value="2" class="me-3">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-2">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Copay Amount</label>
                            <div class="input-group prefix--field max-width-box-c">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="number" class="form-control form-control-md" value="12" [disabled]="false">
                            </div>  
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-2">
                        <div class="form-group">
                            <label class="col-form-label fw-600">High Deductible</label>
                            <div class="input-group prefix--field max-width-box-c">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="number" class="form-control form-control-md" value="12" [disabled]="false">
                            </div>  
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-2">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Deductible net amount</label>
                            <div class="input-group prefix--field max-width-box-c">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="number" class="form-control form-control-md" value="12" [disabled]="false">
                            </div>  
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-4 col-xl-3 d-flex align-items-center mb-2">
                        <div class="d-flex flex-row flex-wrap align-items-center">
                            <label class="form-check-label fw-600 me-3 mb-1" for="flexSwitchCheckChecked">Turn on KX Modifier</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                        <div class="form-group d-flex align-items-center">
                            <!-- <label class="col-form-label fw-600 p-0 me-3 label--width flex-shrink-0"></label> -->
                            <mat-radio-group aria-label="Select an option" [disabled]="false">
                                <mat-radio-button value="1" class="me-3" checked>Hard Cap</mat-radio-button>
                                <mat-radio-button value="2">Soft Cap</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-9">
                        <input type="text" class="form-control form-control-md" placeholder="lorem ipsum dollor">
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Passport Provider</label>
                            <input class="form-control" type="text" placeholder="Enter Passport Provider" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-3 d-flex align-items-center">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Passport Approval</label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="me-3">Yes</mat-radio-button>
                                <mat-radio-button value="2" class="me-3">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-3 d-flex align-items-center">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Required</label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="me-3">Yes</mat-radio-button>
                                <mat-radio-button value="2" class="me-3">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Date From</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    ngbDatepicker #from1="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="from1.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Date To</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    ngbDatepicker #to1="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="to1.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 d-flex flex-wrap align-items-center">
                        <h2 class="mb-3 mt-2  clr--1F2F3E fw-700 d-flex flex-wrap font-16">Secondary Insurance</h2>
                        <mat-checkbox class="mb-2">Make this the Primary Insurance</mat-checkbox>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Secondary Insurance <span class="clr--DF0404 ms-1"> *
                                </span></label>
                                <div class="d-flex w-100 position-relative primary--insu">
                                    <input class="form-control" type="text" placeholder="Primary Insurance"  />
                                    <button mat-raised-button color="primary" class="updt--btn" (click)="selectInsuranceModal()">
                                        Update
                                    </button>
                                 </div>
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">ID/Policy # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter ID/Policy #" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Group # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Group #" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-3">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Customer Service Ph # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Customer Service Ph #" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-3 d-flex align-items-center">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Required</label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="me-3">Yes</mat-radio-button>
                                <mat-radio-button value="2" class="me-3">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-3">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Date From</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    ngbDatepicker #sfrom="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="sfrom.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-3">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Date To</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    ngbDatepicker #sto="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="sto.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Effective Date </label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    ngbDatepicker #sed="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="sed.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">End Date </label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    ngbDatepicker #send="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="send.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4  d-flex align-items-center">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Rx Required</label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="me-3">Yes</mat-radio-button>
                                <mat-radio-button value="2" class="me-3">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-4 mb-2">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Copay Amount</label>
                            <div class="input-group prefix--field max-width-box-c">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="number" class="form-control form-control-md" value="12" [disabled]="false">
                            </div>  
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-4 mb-2">
                        <div class="form-group">
                            <label class="col-form-label fw-600">High Deductible</label>
                            <div class="input-group prefix--field max-width-box-c">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="number" class="form-control form-control-md" value="12" [disabled]="false">
                            </div>  
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-4 mb-2">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Deductible net amount</label>
                            <div class="input-group prefix--field max-width-box-c">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="number" class="form-control form-control-md" value="12" [disabled]="false">
                            </div>  
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                        <div class="form-group d-flex align-items-center">
                            <!-- <label class="col-form-label fw-600 p-0 me-3 label--width flex-shrink-0"></label> -->
                            <mat-radio-group aria-label="Select an option" [disabled]="false">
                                <mat-radio-button value="1" class="me-3" checked>Hard Cap</mat-radio-button>
                                <mat-radio-button value="2">Soft Cap</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-8 col-xl-9 mb-3">
                        <input type="text" class="form-control form-control-md" placeholder="lorem ipsum dollor">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 d-flex flex-wrap align-items-center">
                        <h2 class="mb-3 mt-2  clr--1F2F3E fw-700 d-flex flex-wrap font-16">Third Insurance</h2>
                        <mat-checkbox class="mb-2">Make this the Primary Insurance</mat-checkbox>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Secondary Insurance <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Select</option>
                                <option value="1">Insurance 1</option>
                                <option value="2">Insurance 2</option>
                                <option value="3">Insurance 3</option>
                            </select>
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">ID/Policy # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter ID/Policy #" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Group # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Group #" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-3">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Customer Service Ph # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Customer Service Ph #" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-3 d-flex align-items-center">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Required</label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="me-3">Yes</mat-radio-button>
                                <mat-radio-button value="2" class="me-3">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-3">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Date From</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    ngbDatepicker #tfrom="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="tfrom.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-3">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Authorization Date To</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    ngbDatepicker #tto="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="tto.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Effective Date </label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    ngbDatepicker #ted="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="ted.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">End Date </label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    ngbDatepicker #tend="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="tend.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4  d-flex align-items-center">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Rx Required</label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="me-3">Yes</mat-radio-button>
                                <mat-radio-button value="2" class="me-3">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-4 mb-2">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Copay Amount</label>
                            <div class="input-group prefix--field max-width-box-c">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="number" class="form-control form-control-md" value="12" [disabled]="false">
                            </div>  
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-4 mb-2">
                        <div class="form-group">
                            <label class="col-form-label fw-600">High Deductible</label>
                            <div class="input-group prefix--field max-width-box-c">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="number" class="form-control form-control-md" value="12" [disabled]="false">
                            </div>  
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-4 mb-2">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Deductible net amount</label>
                            <div class="input-group prefix--field max-width-box-c">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="number" class="form-control form-control-md" value="12" [disabled]="false">
                            </div>  
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                        <div class="form-group d-flex align-items-center">
                            <!-- <label class="col-form-label fw-600 p-0 me-3 label--width flex-shrink-0"></label> -->
                            <mat-radio-group aria-label="Select an option" [disabled]="false">
                                <mat-radio-button value="1" class="me-3" checked>Hard Cap</mat-radio-button>
                                <mat-radio-button value="2">Soft Cap</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-8 col-xl-9 mb-3">
                        <input type="text" class="form-control form-control-md" placeholder="lorem ipsum dollor">
                    </div>
                </div>

                <div class="row"> 
                    <div class="col-12">
                        <h2 class="mb-3 mt-2  clr--1F2F3E fw-700 d-flex flex-wrap font-16">Responsible Party/Gurantor (RP)<span class="clr--DF0404 ms-1"> *
                        </span></h2>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Relationship with Patient</label>
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Select</option>
                                <option value="1">Other</option>
                                <option value="2">Brother</option>
                                <option value="3">Sister</option>
                            </select>
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Other Relation</label>
                            <input class="form-control" type="text" placeholder="Enter Other Relation" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">First Name<span class="clr--DF0404 ms-1"> *
                            </span> </label>
                            <input class="form-control" type="text" placeholder="Enter First Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Middle Name </label>
                            <input class="form-control" type="text" placeholder="Enter Middle Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Last Name<span class="clr--DF0404 ms-1"> *
                            </span> </label>
                            <input class="form-control" type="text" placeholder="Enter Last Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Date of Birth </label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Select Date" name="dp"
                                    [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="d.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Marital Status</label>
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Select</option>
                                <option value="1">Married</option>
                                <option value="2">Single</option>
                            </select>
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                        <div class="form-group" *ngIf="">
                            <input class="form-control" type="text" placeholder="Enter other relation" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-6 col-xl-12 d-flex align-items-center">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Gender</label>
                            <mat-radio-group aria-label="Select an option" [disabled]="false">
                                <mat-radio-button value="1" class="me-3" checked>Male</mat-radio-button>
                                <mat-radio-button value="2">Female</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Email<span class="clr--DF0404 ms-1"> *
                            </span> </label>
                            <input class="form-control" type="text" placeholder="Enter Email Address" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Phone Number<span class="clr--DF0404 ms-1"> *
                            </span> </label>
                            <input class="form-control" type="text" placeholder="Enter Phone Number" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Cell Phone Number<span class="clr--DF0404 ms-1"> *
                            </span> </label>
                            <input class="form-control" type="text" placeholder="Enter Cell Phone Number" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Work Extension<span class="clr--DF0404 ms-1"> *
                            </span> </label>
                            <input class="form-control" type="text" placeholder="Enter Work Extension" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Is your injury related to</label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="me-3">Worker's Compensation
                                    (WCOMP)</mat-radio-button>
                                <mat-radio-button value="2" class="me-3">Motor Vehicle Accident (MVA)</mat-radio-button>
                                <div class="d-inline-flex flex-column">
                                    <mat-radio-button value="2">Other Personal Injury</mat-radio-button>
                                    <div class="form-group" *ngIf="">
                                        <input class="form-control" type="text" placeholder="Enter Other Injury" />
                                        <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                                    </div>
                                </div>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Carrier Name <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Select</option>
                                <option value="1">Carrier 1</option>
                                <option value="2">Carrier 2</option>
                                <option value="3">Carrier 3</option>
                            </select>
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Date of Injury <span class="clr--DF0404 ms-1"> *
                                </span> </label>
                            <div class="input-group">
                                <input class="form-control  " placeholder="Select Date" name="dp" [(ngModel)]="model"
                                    ngbDatepicker #de="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="de.toggle()"
                                    type="button">
                                    <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">State <span class="clr--DF0404 ms-1"> * </span></label>
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Select State</option>
                                <option value="1">State 1</option>
                                <option value="2">State 2</option>
                                <option value="3">State 3</option>
                            </select>
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Claim # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Claim #" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Adjuster Name # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Adjuster Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Adjuster Phone # <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Adjuster Phone" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Was this reported to your employer?</label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="me-3">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12">
                        <h2 class="mb-2 mt-1 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Employers Information </h2>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Employer Name <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Employer Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Employer Phone <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Employer Phone" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Employer Address <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <textarea class="form-control " type="text" placeholder="Enetr Address" rows="4"></textarea>
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                </div>

                <div class="row"> 
                    <div class="col-12">
                        <h2 class="mb-2 mt-2 clr--1F2F3E fw-700 d-flex flex-wrap font-16">Attorney Information </h2>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Attorney Name <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Attorney Name" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Attorney Phone <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <input class="form-control" type="text" placeholder="Enter Attorney Phone" />
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div> 
                    <div class="col-12">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Attorney Address <span class="clr--DF0404 ms-1"> *
                                </span></label>
                            <textarea class="form-control " type="text" placeholder="Enter Address" rows="4"></textarea>
                            <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-5 col-xl-6">
                        <div class="form-group">
                            <label class="col-form-label fw-600">In Collection</label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="me-3">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-7 col-xl-6">
                        <div class="d-flex flex-row align-items-center justify-content-md-end pt-1">
                            <label class="mb-0 font-14 fw-700 pt-0">Uploaded Insurance Card:</label>
                            <p class="mb-0 text-primary font-14 fw-600 ms-3">Insurancefile.jpg</p>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="d-flex flex-row justify-content-end">
                            <button class="flex-shrink-0" mat-raised-button color="primary">
                                Save
                            </button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>