<div class="col-12">
    <div class="card">
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <h3 class="mb-0 clr--1F2F3E">{{pageTitle}}</h3>
                <button mat-raised-button color="primary" (click)="invitePopup()">
                    <mat-icon class="material-symbols-outlined flex-shrink-0"> person_add </mat-icon>
                    Invite {{pageTitle}}
                </button>

            </div>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <select class="form-select form-control" aria-label="Default select example" #locationSelect
                                (change)="onLocationChange($event)">
                                <option value="" selected>Practice Location</option>
                                <option *ngFor="let location of practiceLocationData" [value]="location">{{ location }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group">
                            <input type="text" class="form-control search--outer" placeholder="Search {{pageTitle}}"
                                [formControl]="searchAdminUsers">
                            <button mat-button class="p-0 flex-shrink-0 min-width-unset search--fields">
                                <mat-icon class="material-symbols-outlined flex-shrink-0">search </mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <select class="form-select form-control" aria-label="Default select example" #statusSelect
                                (change)="onStatusChange($event)">
                                <option value="" selected>Status</option>
                                <option value="Pending">Pending</option>
                                <option value="Active">Active</option>
                                <option value="Suspended">Suspended</option>
                                <option value="Deleted">Deleted</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="form-group">
                            <button mat-stroked-button color="primary" (click)="resetFilter()">Reset Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="col-12 cust--mat--table--wrapper">
                <table mat-table [dataSource]="adminUsersDataSource" matSort
                    (matSortChange)="announceSortChange($event)" class="cust--mat--table">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                            Name
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                            Email Id
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
                    <ng-container matColumnDef="practiceLocation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                            Practice Location
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span
                                matTooltip="{{element.practiceLocation.length>2?element.practiceLocation.join(', '):''}}">
                                {{getFormattedPracticeLocation(element.practiceLocation)}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                            Status
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <p class="status {{element.statusClass}}">{{element.status}}</p>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                            Actions
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="w-100 d-flex align-items-center justify-content-end">
                                <button mat-button class="flex-shrink-0 min-width-unset search--fields"
                                    (click)="navigateToAdminUserDetails(element._id)" matTooltip="View">
                                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 text-primary">visibility
                                    </mat-icon>
                                </button>
                                <button mat-button class="flex-shrink-0 min-width-unset search--fields" matTooltip="Resend Invite" 
                                *ngIf="element.status=='Pending'" (click)="resentInvite(element)">
                                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 text-primary">replay
                                    </mat-icon>
                                </button>
                                <button mat-button class="flex-shrink-0 min-width-unset search--fields" matTooltip="Revoke Invite" 
                                *ngIf="element.status=='Pending' && element.inviteTokenStatus=='valid'" (click)="revokeInvite(element)">
                                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 text-primary">undo
                                    </mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="no--record--found align-items-center justify-content-center w-100 mt-4" *ngIf="!isUserList">
                    <div class="d-flex flex-column align-items-center w-100">
                        <img src="assets/images/ark/sad.png" alt="" class="mb-3 sad--img">
                        <p class="">{{ validationMessages.noRecords }}</p>
                    </div>
                </div>
                <mat-paginator (page)="handlePageEvent($event)" [length]="totalCount" [pageSize]="pageSize"
                    [showFirstLastButtons]="true" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
                    *ngIf="isUserList">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>