.spi--modal{
    ::ng-deep{
        .modal--body{
            .cust--mat--table--wrapper{
                .cust--mat--table{
                    &.mat-mdc-table{
                        tbody{
                            tr{
                                td{
                                    font-size: 14px;
                                    padding: 17px 10px;
                                    &:first-child{
                                        width: 150px;
                                    }
                                    &:nth-child(2){
                                        width: 120px;
                                        word-break: break-all;
                                    } 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 

@media only screen and (max-width: 599px) {
    .spi--modal{
        ::ng-deep{
            .modal--body{
                .cust--mat--table--wrapper{
                    .cust--mat--table{
                        &.mat-mdc-table{
                             width: 500px;
                        }
                    }
                }
            }
        }
    } 
} 
@media screen and (orientation:landscape) and (max-width: 850px){}