<div class="col-12 appointment--wrapper">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0">
                <div class="col-12 d-flex align-items-center justify-content-between mb-3">
                    <h3 class="mb-0 clr--1F2F3E">Upcoming Appointment Requests</h3>
                </div>
                <div class="col-12 mt-2">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="form-group">
                                <select (ngModelChange)="searchRecords('practiceLocation',$event)"
                                    [(ngModel)]="practiceLocationsVal" class="form-select form-control"
                                    aria-label="Default select example">
                                    <option selected value="">Practice Location</option>
                                    <option *ngFor="let element of practiceLocations" value="{{element}}">{{element}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="form-group">
                                <select (ngModelChange)="searchRecords('status',$event)" [(ngModel)]="appStatusVal"
                                    class="form-select form-control" aria-label="Default select example">
                                    <option selected value="">Appointment Status</option>
                                    <option *ngFor="let element of appointmentStatus" value="{{element}}">{{element}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <mat-form-field class="w-100 am--datepicker">
                                        <input [(ngModel)]="toDate" (dateChange)="onDateChange($event)"
                                            [min]="minToDate" [max]="maxToDate" readonly="true"
                                            placeholder="Appointment Date" matInput [matDatepicker]="picker2" (focus)="picker2.open()">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="form-group">
                                <button mat-stroked-button (click)="reset()" color="primary">Reset Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body" *ngIf="dayTwo">
                <div class="col-12 cust--mat--table--wrapper">
                    <table mat-table [dataSource]="appointmentsList" matSort
                        (matSortChange)="announceSortChange($event)" class="cust--mat--table box--row--table">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                sortActionDescription="Sort by number">
                                Appointment #
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="d-flex align-items-center  ">
                                    <div class="img--box flex-shrink-0">
                                        <img src="{{element.profileImage}}" alt="Patient Profile Pic"
                                            class="img-fluid" />
                                    </div>
                                    <div>
                                        <p class="mb-0 font-16 text-primary clr--1F2F3E fw-500">
                                            {{element.practiceLocation}}</p>
                                        <p class="mb-0 font-14 clr--1F2F3E"> <span class="fw-700">Patient</span>
                                            {{element.patientName}}</p>
                                        <p class="mb-0 font-14 clr--1F2F3E"> <span class="fw-700">Appointment#</span>
                                            {{element.appointmentId}}</p>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="appointmentDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                sortActionDescription="Sort by weight">
                                Appointment Date
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.appointmentDate | date:'mediumDate' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                sortActionDescription="Sort by symbol">
                                Status
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="status {{element.statusFlag}}">{{element.status}}</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                sortActionDescription="Sort by symbol">
                                Actions
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="w-100 d-flex align-items-center justify-content-end">
                                    <button mat-button class="flex-shrink-0 min-width-unset search--fields"
                                        (click)="navigateToappointmentDetails(element.id)">
                                        <mat-icon
                                            class="material-symbols-outlined flex-shrink-0 m-0 text-primary">visibility
                                        </mat-icon>
                                    </button>
                                </div>

                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div class="no--record--found align-items-center justify-content-center w-100"
                        *ngIf="appointmentsList && appointmentsList.filteredData.length == 0">
                        <div class="d-flex flex-column align-items-center w-100">
                            <img src="assets/images/ark/sad.png" alt="" class="mb-3 sad--img">
                            <p class="">{{ validationMessages.noRecords }}</p>
                        </div>
                    </div>
                    <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="totalCount"
                        [pageSize]="pageSize" [showFirstLastButtons]="true" [pageSizeOptions]="pageSizeOptions"
                        [pageIndex]="pageIndex">
                    </mat-paginator>
                </div>
            </div>

            <div class="card-body day--one--wrapper d-flex align-items-center justify-content-center" *ngIf="dayOne">
                <div class="d-flex flex-column align-items-center justify-content-center w-100">
                    <img src="assets/images/ark/calendar-lg.png" alt="" class="img-fluid mb-4" />
                    <p class="fw-700 clr--1F2F3E text-center mb-2" *ngIf="!dayOneFlag">No Records Found!</p>
                    <p class="fw-700 clr--1F2F3E text-center mb-2" *ngIf="dayOneFlag">Currently there are no
                        appointments to show!</p>
                    <p class="clr--1F2F3E text-center" *ngIf="dayOneFlag">Kindly click on “Book Appointment” to schedule
                        a new appointment.</p>
                </div>
            </div>
        </div>
    </div>


</div>