<div class="col-12">
    <div class="card">
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <h3 class="mb-2 clr--1F2F3E">Provider Management</h3>
                <button mat-raised-button color="primary" class="intake-btn"  [routerLink]="['/billing-team/appointment-details']">
                    Bulk Upload Providers
                </button>
            </div>
            <div class="col-12 mt-2">
                <div class="row d-flex align-items-end">
                    <div class="col-12 col-lg-4 col-md-6 col-xl-4">
                        <div class="form-group">
                            <input type="text" class="form-control search--outer" placeholder="Search">
                            <button mat-button class="p-0 flex-shrink-0 min-width-unset search--fields">
                                <mat-icon class="material-symbols-outlined flex-shrink-0">search </mat-icon>
                            </button>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-6 col-xl-4 d-flex justify-content-lg-center">
                        <div class="form-group">
                            <label class="font-16 fw-700">Total Providers: 28</label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-6 col-xl-4">
                        <div class="form-group">
                            <label class="col-form-label fw-600">Filter by Status</label>
                            <select class="form-select form-control" aria-label="Default select example">
                                <option>Select</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                                <option value="3">All</option>
                            </select>
                            <!-- <div class="text text-danger mt-1">Error here</div> -->
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="card-body">
        <div class="col-12 provider--mat--table--wrapper overflow-auto">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="provider--mat--table">
                <!-- Provider Name Column -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef class="" mat-sort-header sortActionDescription="Sort by Name"> Provider Name
                    </th>
                    <td mat-cell *matCellDef="let element" class=""> {{element.username}} </td>
                </ng-container>
                
                <!-- Unique Identifier Column -->
                <ng-container matColumnDef="npi">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by NPI"> NPI Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.npi}} </td>
                </ng-container>
                
                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Status"> Status
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                
                <!-- Joined Column -->
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Added On"> Added On</th>
                    <td mat-cell *matCellDef="let element"> {{element?.createdAt ? (element?.createdAt | date: 'MM/dd/yyyy') : '--'}} </td>
                </ng-container>
                
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by state"> State
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.state}}</td>
                </ng-container>

                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by city"> City
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.city}}</td>
                </ng-container>
                
                <!-- Fax Number Column -->
                <ng-container matColumnDef="office_fax">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by FAX no"> Fax No </th>
                    <td mat-cell *matCellDef="let element"> {{element.office_fax}} </td>
                </ng-container>

                  <!-- phone Number Column -->
                  <ng-container matColumnDef="office_phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone no"> Phone No </th>
                    <td mat-cell *matCellDef="let element"> {{element.office_phone}} </td>
                </ng-container>
                
                <!-- Actions Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon class="text-primary">{{element.status=='Inactive' ? 'refresh' : 'block'}}</mat-icon>
                                <span class="fw-600">{{element.status=='Inactive' ? 'Reactivate' : 'Inactivate'}}</span>
                            </button>
                            <button mat-menu-item >
                                <mat-icon class="text-danger">delete</mat-icon>
                                <span class="fw-600">Delete</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
        </div>
    </div>
</div>