<div class="modal--wrapper   d-flex flex-column w-100">
    <div class="modal--header w-100">
        <h1 class="fw-700">Add Exercise</h1>
    </div>
    <form [formGroup]="addExerciseForm" (ngSubmit)="addExerciseFormSubmit(addExerciseForm.value)">
        <div class="modal--body w-100">
            <div class="col-12">
                <div class="form-group"> 
                    <!-- (ngModelChange)="selectRecords('practiceLocation',$event)"  [(ngModel)]="practiceLocationsVal" -->
                    <select class="form-select form-control" aria-label="Default select example" formControlName="exercises">
                        <option selected>Select or enter exercises</option>
                        <option *ngFor="let element of exercisesOptions" value="{{element}}">{{element}}
                        </option>
                    </select>
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                </div>
            </div>
            <div class="col-12">
                <div class="form-group"> 
                    <mat-form-field class="w-100 am--datepicker">
                        <input matInput [matDatepicker]="picker" placeholder="Select Date" [max]="todayDate" (focus)="picker.open()" formControlName="exercise_date">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label fw-700 font-16 text-uppercase">Sets</label>
                    <input class="form-control" type="text" placeholder="Enter Sets" formControlName="sets"/>
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label fw-700 font-16 text-uppercase">Reps</label>
                    <input class="form-control" type="text" placeholder="Enter Reps" formControlName="reps"/>
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label fw-700 font-16 text-uppercase">Weight/Resistance</label>
                    <div class="w-100 d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                        <input class="form-control me-3" type="number" placeholder="Enter Weight/Resistance" formControlName="weight_resistance"/>
                        <mat-radio-group aria-label="Select an option" class="flex-shrink-0" formControlName="weight_resistance_unit">
                            <mat-radio-button value="lbs" class="me-3" >lbs</mat-radio-button>
                            <mat-radio-button value="kg" checked>kg</mat-radio-button>
                        </mat-radio-group> 
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label fw-700 font-16 text-uppercase">Distance (feet)</label>
                    <input class="form-control" type="number" placeholder="Enter Distance" formControlName="distance"/>
                    <!-- <div class="text text-danger mt-1"> First Name required</div> -->
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label fw-700 font-16 text-uppercase">Time</label>
                    <div class="w-100 d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                        <input class="form-control me-3" type="number" placeholder="Enter Time" formControlName="exercise_time"/>
                        <mat-radio-group aria-label="Select an option" class="flex-shrink-0" formControlName="exercise_time_mints">
                            <mat-radio-button value="Min" class="me-3">Min</mat-radio-button>
                            <mat-radio-button value="Seconds">Seconds</mat-radio-button>
                        </mat-radio-group> 
                    </div>
                </div>
            </div>
        </div>
        <div class="modal--footer w-100 d-flex align-items-center justify-content-end mt-2">
            <button mat-stroked-button color="primary" class="me-3" mat-dialog-close>Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="isSubmit">Save</button>
        </div>
    </form>
</div>