.ea--wrapper{
    .other--booking{
        width: 29%;
        margin-left: 18px;
    } 
    .w-100p{
        width: 100px;
    }
    .w-130p{
        width: 130px;
    }
}

@media only screen and (max-width: 599px) {
    .ea--wrapper{
        .other--booking{
            width: 100%;
            margin-left: 0;
        } 
        .w-100p{
            width: 150px;
            margin-bottom: 5px;
        }
        .w-130p{
            width: 150px;
            margin: 5px 0;
        }
    }
}

@media screen and (orientation:landscape) and (max-width: 850px){
    .ea--wrapper{  
        .w-100p{
            width: 72px;
            padding-left: 2px;
            padding-right: 2px;
        }
        .w-130p{
            width: 115px;
        }
    }
}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .ea--wrapper{  
        .w-100p{
            width: 72px;
            padding-left: 2px;
            padding-right: 2px;
        }
        .w-130p{
            width: 111px;
        }
    }
}