<div class="col-12">
    <div class="card">
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center mb-3 flex-wrap">
                <h3 class="mb-0 clr--1F2F3E fw-500 me-2">Patient:</h3>
                <h3 class="mb-0 clr--1F2F3E me-2">John Cooper</h3> 
                <a href="#" class="mb-0 text-primary fw-600 font-16" [routerLink]="['/practice-admin/user-managment/patient-profile']">
                    View Patient Profile
                </a> 
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group">
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Practice Location</option> 
                                <option value="1">Hamilton PT at The Canyons</option>
                                <option value="2">Darby PT</option>
                                <option value="3">Corvallis PT</option>
                                <option value="4">Stevi PT</option>
                                <option value="5">PT Specialists of Florence</option>
                                <option value="6">Frenchtown PT</option>
                                <option value="7">HNB</option>
                            </select>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group">
                            <input type="text" class="form-control search--outer" placeholder="Appointment #">
                            <button mat-button class="p-0 flex-shrink-0 min-width-unset search--fields">
                                <mat-icon class="material-symbols-outlined flex-shrink-0">search </mat-icon>
                            </button>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group">
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Appointment Status</option> 
                                <option value="1">Accepted</option>
                                <option value="2">Reschedules</option> 
                                <option value="3">Pending</option> 
                                <option value="4">Declined</option> 
                            </select>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group">
                                <div class="input-group">
                                <input class="form-control" placeholder="From Date" name="dp" [(ngModel)]="model"
                                  ngbDatepicker #d="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="d.toggle()"
                                  type="button">
                                  <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                              </div>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group">
                                <div class="input-group">
                                <input class="form-control" placeholder="To Date" name="dp" [(ngModel)]="model"
                                  ngbDatepicker #d="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="d.toggle()"
                                  type="button">
                                  <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                              </div>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group">
                            <button mat-stroked-button color="primary">Reset Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="col-12 cust--mat--table--wrapper">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                    class="cust--mat--table box--row--table">  
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                            Appointment #
                        </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div class="d-flex align-items-center  ">
                                <div class="img--box flex-shrink-0">
                                    <img src="assets/images/ark/user.png"  alt="" class="img-fluid" />
                                </div>
                                <div>
                                    <p class="mb-0 font-16 text-primary clr--1F2F3E">{{element.name}}</p>
                                    <p class="mb-0 font-14 clr--1F2F3E">123456</p>
                                </div>
                            </div>     
                        </td>
                    </ng-container>  
                    <ng-container matColumnDef="appointmentDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                            Appointment Date & Time 
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.appointmentDate}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                            Status
                        </th>
                        <td mat-cell *matCellDef="let element"> 
                            <!-- {{element.status}}  -->
                            <p class="status" *ngIf="">Completed</p>
                            <p class="status pending" *ngIf="">Pending</p>
                            <p class="status suspended" *ngIf="">Suspended</p>
                            <p class="status deleted" *ngIf="">Deleted</p>
                            <p class="status deleted">Rejected</p>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                            Actions
                        </th>
                        <td mat-cell *matCellDef="let element">  
                            <div class="w-100 d-flex align-items-center justify-content-end">
                                <button mat-button class="flex-shrink-0 min-width-unset search--fields" [routerLink]="['/practice-admin/user-managment/patient-details']">
                                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 text-primary">visibility </mat-icon>
                                </button>
                            </div>
                            
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                showFirstLastButtons
                                aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
    </div>
</div> 
   