<div class="col-12 profile--right--wrapper">
    <div class="card">
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center"> 
                <button mat-stroked-button color="primary" class="me-3 back--btn" [routerLink]="['/billing-team/appointment-requests']">
                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0"> keyboard_backspace </mat-icon> 
                </button>
                <h3 class="mb-0 clr--1F2F3E fw-600">Manage Profile</h3>
                
            </div> 
        </div>
        <div class="card-body d-flex flex-column flex-sm-row mb-5">
            <div class="profile--left d-flex flex-column position-relative flex-shrink-0">
                <div class="head--sec w-100">
                    <mat-list>
                        <mat-list-item>Change Photo </mat-list-item>
                        <mat-list-item  (click)="deleteAccount()">Remove Photo </mat-list-item> 
                    </mat-list>
                </div> 
                <div class="profile--round position-relative">
                    <img src="assets/images/ark/user.png"  alt="" class="img-fluid user--img" />
                    <button mat-raised-button color="primary" class="edit--btn"> 
                        <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 "> edit </mat-icon> 
                    </button>
                </div>
               <div class="d-flex flex-column w-100 body--sec">
                <button mat-stroked-button color="primary" class="w-100 mb-3" (click)="changePassword()">Change Password</button> 
               </div>
            </div>
            <div class="profile--right d-flex flex-column w-100">
                <div class="card w-100 mb-0">
                    <div class="card-header pb-0">
                        <div class="col-12 d-flex align-items-center"> 
                            <h3 class="mb-0 clr--1F2F3E fw-600">Basic Information</h3> 
                        </div> 
                    </div>
                    <div class="card-body mt-4">
                        <div class="col-12">
                            <form class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">First Name <span class="clr--DF0404 ms-1"> * </span></label>
                                        <input class="form-control form-control-md text-capitalize " type="text" placeholder="First name" value="Daina" />
                                        <!-- <div class="text text-danger mt-1">Error here</div> -->
                                      </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Last Name<span class="clr--DF0404 ms-1"> * </span></label>
                                        <input class="form-control form-control-md text-capitalize" type="text" placeholder="Last name" value="Robertson" />
                                        <!-- <div class="text text-danger mt-1">Error here</div> -->
                                      </div>
                                </div>
                                <div class="col-12  ">
                                    <div class="form-group">
                                        <label class="col-form-label fw-600">Email <span class="clr--DF0404 ms-1"> * </span></label>
                                        <input class="form-control form-control-md" type="email" placeholder="Email " value="dainarobertson@gmail.com" />
                                        <!-- <div class="text text-danger mt-1">Error here</div> -->
                                      </div>
                                </div>
                                 
                                <div class="col-12 my-2 d-flex justify-content-end">
                                    <button mat-raised-button color="primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
    