.book--appointment--wrapper .card{
    height: calc(100vh - 200px) !important;
}

.form-group {
    margin-bottom: 0px;
    .form-control{
        border: 1px solid #CCC;
        background-color: #F5F6F9 !important;
        padding: 8px 10px;
        height: 40px !important; 
    }
    .search--outer{
        padding: 3px 10px !important;
        font-family: "Nunito Sans" !important;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.14px;
        color: #1F2F3E;
        padding-right: 40px !important;
    }

    .search--fields{
        position: absolute;
        top: 3px;
        right: 4px;
        height: 36px;
        .mat-icon {
            font-size: 23px !important;
            width: 23px !important;
            height: 23px !important;
            color: #1F2F3E;
        }
        
    }
    .input-group{
        input::-webkit-datetime-edit-day-field:focus,
        input::-webkit-datetime-edit-month-field:focus,
        input::-webkit-datetime-edit-year-field:focus {
            background-color:transparent;
            outline: none;
            color: #1F2F3E;
        }
    }

    ::ng-deep{
        .am--datepicker.sm--datepicker{
            width: 180px;
        }
        .am--datepicker.sm--datepicker .mat-mdc-form-field-infix{
            min-height: 20px !important;
            padding-top: 6px !important;
            padding-bottom: 5px !important;
            font-size: 14px; 
        }
        .am--datepicker.sm--datepicker .mat-mdc-icon-button.mat-mdc-button-base {
            height: 35px;
            width: 40px;
            padding: 3px; 
        }
        // .am--datepicker.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper{
        //     background-color: #F4F4F5  !important;
        // }
    }
}

 

.footer--btns{
    .mat-mdc-raised-button{
        &.mat-primary{
            width: 83px  !important;
            height: 35px !important;
        }  
    } 
    .mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
        height: 36px !important;
        width: 91px !important;
    }
}



@media only screen and (max-width: 812px) and (min-width:375px) and (orientation : portrait){
    .book--appointment--wrapper .card{
        height: calc(100vh - 160px) !important;
    }
}
 

@media only screen and (max-width: 812px) and (min-width:375px) and (orientation : landscape){
    .book--appointment--wrapper .card{
        height: calc(100vh - 192px) !important;
    }
}
 
@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) { 
    .book--appointment--wrapper .card{
        height: calc(100vh - 300px) !important;
    }
}


@media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation : portrait) { 
    .book--appointment--wrapper .card{
        height: calc(100vh - 400px) !important;
    }
}



@media only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation : portrait) { 
    .book--appointment--wrapper .card{
        height: calc(100vh - 500px) !important;
    }
}
 

.badge{
    background-color: #F2F2F2;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    color: #DF0404; 
    border-radius: 0px;
    font-family: "Nunito Sans";
    
}


.profile--right--wrapper{
    border-radius: 6px;
    border: 1px solid rgba(49, 183, 183, 0.40);
    background: #FFF;
    box-shadow: 0px 6.879px 14px 0px rgba(18, 18, 18, 0.10);
    padding: 10px 15px;
    .profile--round{
        width: 85px;
        height: 85px; 
        margin: -45px auto 38px auto; 
        .user--name{
            border-radius: 100%;
            border: 1px solid #31B7B7;
            width: 85px;
            height: 85px;
            background-color: #fff;
            span{
                font-size: 32px;
            }
        } 
    }
    .body--sec{
        padding: 0 5px !important; 
        .user--email{
            .mat-icon{
                width: 16px;
                height: 16px;
                font-size: 16px;
                margin-right: 5px !important;
            }
            p{
                word-break: break-all;
                line-height: 16px;
            }
        }
        .mp--btn{
            min-width: 184px;
            margin-top: 24px;
        }
    }
    .profile--right{
        .indicate--round{
            width: 45px;
            height: 45px;
            background-color: rgba(49, 183, 183, 0.20);
            border-radius: 100%;
            margin-right: 15px;
        }
    }
    .profile--img--box{
        .img--box{
            width: 70px;
            height: 70px;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 5px;
        }
    }
    .document--box{
        margin-top: 20px;
        width: 100%;
        height: 180px; 
        img{
            max-height: 100%;
        }
    }
}