<div class="container-fluid book--appointment--wrapper"> 
    <form [formGroup]="appointmentForm" (ngSubmit)="createAppointment(appointmentForm.value)">
        <div class="card m-0"> 
            <div class="row">
                <div class="col-12 d-flex align-items-center mb-2">
                    <button mat-stroked-button color="primary" class="me-3 back--btn" [routerLink]="['/support-team/requests']">
                        <mat-icon class="material-symbols-outlined flex-shrink-0 m-0"> keyboard_backspace </mat-icon>
                    </button>
                    <h3 class="mb-0 clr--1F2F3E fw-600 d-flex flex-wrap">
                        <span class="me-3">Create Appointment for {{patientName}} </span> 
                    </h3>               
                </div>
            </div>            
            <div class=" d-flex flex-column flex-sm-row profile--right--wrapper mt-3">  
                <div class="profile--right d-flex flex-column w-100">
                    <!-- [routerLink]="['/support-team/appointment-details']" -->
                    <div class="w-100 mb-0">  
                        <div class="col-12 appointment-information-header-wrapper"> 
                        <div class="row exp-class">
                                <div class="col-12"> 
                                    <div class="col-12 mt-2">
                                        <div class="d-flex flex-wrap justify-content-between align-items-baseline">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                                                <div class="w-100 mb-2">
                                                    <div class="d-flex flex-row flex-wrap align-items-center profile--img--box">
                                                        <div class="img--box flex-shrink-0">
                                                            <img src="{{profileImage}}" alt="profileImage" class="img-fluid" />
                                                        </div>
                                                        <div class="d-flex flex-column"> 
                                                            <div class="mb-1 mt-1 d-flex align-items-center">
                                                                <mat-icon class="material-symbols-outlined flex-shrink-0 text-primary me-2">mail </mat-icon>
                                                                <p class="mb-0 clr--1F2F3E font-16 fw-400 wb-ba">{{patientEmail}}</p>
                                                            </div>
                                                            <div class="mb-1 d-flex align-items-center">
                                                                <mat-icon class="material-symbols-outlined flex-shrink-0 text-primary me-2">call </mat-icon>
                                                                <p class="mb-0 clr--1F2F3E font-16 fw-400 wb-ba">+1 {{phoneNumber}}</p>
                                                            </div>
                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                                <h3 class="mb-1 clr--1F2F3E font-14 fw-700">Preferred Appointment Date and Time</h3>
                                                <p class="mb-1 clr--1F2F3E  font-14 fw-400 ">{{appointmentDate | date: 'EEE, MMM d, y hh:mm a':'UTC'}}</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                <h3 class="mb-1 clr--1F2F3E font-14 fw-700">Practice Location: <span class="mb-1 clr--1F2F3E font-14 fw-400">{{location}}</span></h3>
                                            </div> 
                                        </div>
                                    </div>  
                                </div>
                            </div>  
                        </div> 
                    </div>
                </div>
            </div>
            
            <div class="row mt-3">  
                <div class="col-12">
                    <div class="form-group d-flex mb-2 mt-3">                            
                        <span class="text-danger font-14 fw-400 w-100 badge p-3 text-start">This Case is in collections</span>
                    </div>
                </div> 
                <div class="col-12 col-sm-6 col-lg-6 mb-3">
                    <div class="form-group  w-100">
                        <label class="col-form-label fw-600 font-16   label--width flex-shrink-0">Case Name <span class="clr--DF0404 ms-1"> * </span></label>                                                                                      
                        <select class="form-select form-control me-3" aria-label="Default select example" #mySelect formControlName="caseName" (change)='onCaseSelected(mySelect.value)'>
                            <option value="" selected>Select</option>
                            <option *ngFor="let case of casenameList" [value]="case.caseName">{{ case.caseName }}</option>
                            <option value="Other">Create a new case</option>
                        </select>
                        <input class="form-control mt-3" type="text" formControlName="caseNameOther" *ngIf="caseNameOtherFlag" placeholder="Enter Case Name"/>
                    </div>
                    <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['caseNameOther'].touched && appointmentForm.controls['caseNameOther'].hasError('required')">
                        {{ validationMessages.required('Case Name') }}
                    </div>
                    <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['caseName'].touched && appointmentForm.controls['caseName'].hasError('required')">
                        {{ validationMessages.requiredDropdown('Case Name') }}
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6 mb-3">
                    <div class="form-group w-100">
                        <label class="col-form-label fw-600">Case Type <span class="clr--DF0404 ms-1"> * </span></label>
                        <select class="form-select form-control" aria-label="Default select example" readonly="readonlyFlag" formControlName="caseType" >
                            <option value="" selected>Select Case Type</option>
                            <option value="OT">OT</option>
                            <option value="PT">PT</option>
                            <option value="SLP">SLP</option>
                        </select> 
                        <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['caseType'].touched && appointmentForm.controls['caseType'].hasError('required')">
                            {{ validationMessages.required('Case Type') }}
                        </div>
                    </div>
                </div>    

                <div class="col-12">
                    <div class="form-group d-flex  flex-column flex-sm-row align-items-start"> 
                        <label class="col-form-label fw-600 font-16 p-0 me-3 mt--cust flex-shrink-0">Date & Time <span class="clr--DF0404 ms-1"> * </span> </label>
                        <div>
                            <mat-form-field class="w-170p m-1 flex-shrink-0 am--datepicker sm--datepicker"> 
                                <input class="" matInput [matDatepicker]="picker" [min]="minToDate" [max]="maxToDate" placeholder="MM/DD/YYYY" readonly="true" formControlName="appointmentDate" (dateInput)="onDateInput($event)"> 
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['appointmentDate'].touched && appointmentForm.controls['appointmentDate'].hasError('required')">
                                {{ validationMessages.required('appointment date time') }}
                            </div>
                        </div> 

                        <div> 
                            <input placeholder="00:00 AM" class="form-control form-control-md w-100p m-1 flex-shrink-0" [owlDateTimeTrigger]="dt4" readonly="true" [owlDateTime]="dt4" [min]="minTime" formControlName="appointmentStartTime">
                            <owl-date-time [pickerType]="'timer'" #dt4 [stepMinute]="15"></owl-date-time>
                            <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['appointmentStartTime'].touched && appointmentForm.controls['appointmentStartTime'].hasError('required')">
                                {{ validationMessages.required('appointment end time') }}
                            </div>
                        </div>

                        <label class="col-form-label fw-600 font-16 p-0 m-1 mx-2 ms-3 flex-shrink-0 mt--cust">To </label>
                        <div> 
                            <input placeholder="00:00 AM" class="form-control form-control-md w-100p m-1 flex-shrink-0"  [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" readonly="true" [min]="this.appointmentForm.controls['appointmentStartTime'].value" formControlName="appointmentEndTime">
                            <owl-date-time [pickerType]="'timer'" #dt5 [stepMinute]="15"></owl-date-time>
                            
                            <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['appointmentEndTime'].touched && appointmentForm.controls['appointmentEndTime'].hasError('required')">
                                {{ validationMessages.required('appointment end time') }}
                            </div>
                            <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['appointmentEndTime'].hasError('endTimeAfterStartTime')">
                                End time must be greater than start time.
                              </div>
                              <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['appointmentEndTime'].hasError('owlDateTimeMin')">
                                Please select appointment end time.
                              </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6 mt-2 ">
                    <div class="form-group">
                        <label class="col-form-label fw-600">First Name <span class="clr--DF0404 ms-1"> * </span></label>
                        <input class="form-control" type="text"  formControlName="firstName" placeholder="Enter First Name" readonly="readonlyFlag"/>
                        <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['firstName'].touched && appointmentForm.controls['firstName'].hasError('required')">
                            {{ validationMessages.required('First Name') }}
                        </div>
                    </div>
                </div> 
                <div class="col-12 col-lg-6 col-md-6 mt-2 ">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Last Name <span class="clr--DF0404 ms-1"> * </span></label>
                        <input class="form-control" type="text"  formControlName="lastName" placeholder="Enter Last Name" readonly="readonlyFlag"/>
                        <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['lastName'].touched && appointmentForm.controls['lastName'].hasError('required')">
                            {{ validationMessages.required('Last Name') }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6 mt-2 ">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Email <span class="clr--DF0404 ms-1"> * </span></label>
                        <input class="form-control text-lowercase" type="email" formControlName="email" placeholder="Enter Email" readonly="readonlyFlag" />
                        <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['email'].touched && appointmentForm.controls['email'].hasError('required')">
                            {{ validationMessages.required('Email') }}
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 col-lg-6 col-md-6 mt-2">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Appointment Date & Time <span class="clr--DF0404 ms-1"> * </span></label>--> 

                        <!-- Added New Date and Time Picker
                        <div class="input-group">
                            <input (keydown)="false" class="form-control digits cursor-pointer" id="example-datetime-local-input" type="datetime-local"  [min]="minToDate" [max]="maxToDate" formControlName="appointmentDate" placeholder="Select Date" onfocus="this.showPicker()" >
                        </div> -->

                         <!--   <div class="input-group date--time--picker"> 
                            <input class="form-control" [min]="minToDate" [max]="maxToDate" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" formControlName="appointmentDate">
                                <span class="trigger" [owlDateTimeTrigger]="dt">
                                    <mat-icon class="calendar--icon">calendar_month</mat-icon>
                                </span>
                            <owl-date-time #dt></owl-date-time> 
                        </div>
                    </div>

                    

                    <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['appointmentDate'].touched && appointmentForm.controls['appointmentDate'].hasError('required')">
                        {{ validationMessages.required('Appointment Date & Time') }}
                    </div>
                </div>  -->

                <div class="col-12 col-lg-6 col-md-6 mt-2 ">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Therapist <span class="clr--DF0404 ms-1"> * </span></label>
                        <select class="form-select form-control" aria-label="Default select example" formControlName="therapistId">
                            <option value="" selected>Select</option>
                            <option *ngFor="let therapist of therapistList" [value]="therapist.id">{{ therapist.name }}</option>
                        </select>
                        <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['therapistId'].touched && appointmentForm.controls['therapistId'].hasError('required')">
                            {{ validationMessages.requiredDropdown('Therapist') }}
                        </div>
                    </div>
                </div> 

                <div class="col-12 col-lg-6 col-md-6 mt-2 ">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Practice Location <span class="clr--DF0404 ms-1"> * </span></label>
                        <select class="form-select form-control" aria-label="Default select example" formControlName="practiceLocation" readonly="readonlyFlag">
                            <option value="" selected>Select Practice Location</option>
                            <option *ngFor="let location of practiceLocationData" [value]="location">{{ location }}</option>
                        </select>
                        <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['practiceLocation'].touched && appointmentForm.controls['practiceLocation'].hasError('required')">
                            {{ validationMessages.requiredDropdown('Practice Location') }}
                        </div>
                    </div>
                </div>   

                <div class="col-12 col-lg-6 col-md-6 mt-2 ">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Referred By <span class="clr--DF0404 ms-1"> * </span></label>
                            <input type="text" class="form-control search--outer" placeholder="Enter Doctor Name Or NPI" aria-label="Patient" [matAutocomplete]="auto" 
                            (keyup)="searchDoctorRecords($event)" formControlName="seachByDoctor" />
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let pt of doctorList" [value]="pt.name+' (NPI: '+pt.npi+')'" (click)="selectDoctor(pt.id)">
                                <span>{{ pt.name }} | (NPI: {{ pt.npi }})</span>
                                </mat-option>
                            </mat-autocomplete> 
                        <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['seachByDoctor'].touched && appointmentForm.controls['seachByDoctor'].hasError('required')">
                            {{ validationMessages.openValidation('Please Search Referred Doctor Name') }}
                        </div>
                      </div>
                </div>

                <div class="col-12 col-lg-6 col-md-6 mt-2 ">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Phone</label>
                        <input class="form-control" type="text" formControlName="phoneNumber" placeholder="Enter Phone Number" (input)="onPhoneInputChange($event)" [value]="convertPhoneNumber" maxlength="14"/>
                        <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['phoneNumber'].touched && appointmentForm.controls['phoneNumber'].hasError('required')">
                            {{ validationMessages.required('Phone') }}
                        </div>
                    </div>
                </div>

                

                <div class="col-12 col-sm-6 col-lg-6 mt-2">
                    <div class="form-group w-100">
                        <label class="col-form-label fw-600">Select Appointment type</label>
                        <!-- <mat-radio-group aria-label="Select an option" (change)="onChange($event)" formControlName="appointmentType" >
                            <mat-radio-button value="Evaluation" class="me-3">Evaluation</mat-radio-button>
                            <mat-radio-button value="Follow-up" class="me-3">Follow-up</mat-radio-button> 
                            <mat-radio-button value="Aquatic" class="me-3">Aquatic</mat-radio-button>
                            <mat-radio-button value="Other">Other</mat-radio-button>
                        </mat-radio-group>  -->

                        <select class="form-select form-control" aria-label="Default select example" formControlName="appointmentType" #appointmentTy (change)='onChange(appointmentTy.value)' readonly="readonlyFlag">
                            <option value="" selected>Select Appointment Type</option>
                            <option value="Evaluation">Evaluation</option>
                            <option value="Follow-up">Follow-up</option>
                            <option value="Aquatic">Aquatic</option>
                            <option value="Other">Other</option>
                        </select>

                        <!-- <mat-radio-button value="Evaluation" class="me-3">Evaluation</mat-radio-button>
                        <mat-radio-button value="Follow-up" class="me-3">Follow-up</mat-radio-button> 
                        <mat-radio-button value="Aquatic" class="me-3">Aquatic</mat-radio-button>
                        <mat-radio-button value="Break time" class="me-3">Break time</mat-radio-button>
                        <mat-radio-button value="Admin time" class="me-3">Admin time</mat-radio-button>
                        <mat-radio-button value="Meeting" class="me-3">Meeting</mat-radio-button>
                        <mat-radio-button value="Therapist off" class="me-3">Therapist off</mat-radio-button>
                        <mat-radio-button value="Meeting" class="me-3">Meeting</mat-radio-button>
                        <mat-radio-button value="Other">Other</mat-radio-button> -->
                        <input class="form-control mt-1" type="text" formControlName="appointmentTypeOther" *ngIf="selectedValue == 'Other'" placeholder="Enter Appointment type" maxlength="50"/>
                    </div>
                </div> 
                <div class="col-12 col-lg-6 col-md-6 mt-2">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Notes</label>
                        <input class="form-control" type="text" formControlName="notes" placeholder="Enter Notes" rows="4"/>
                        <div class="text text-danger mt-1" *ngIf="appointmentForm.controls['lastName'].touched && appointmentForm.controls['lastName'].hasError('required')">
                            {{ validationMessages.required('Notes') }}
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center w-100 footer--btns"> 
            <button mat-stroked-button color="primary" class="m-1" [routerLink]="['/support-team/requests']">
                Cancel
            </button>
            <button mat-raised-button color="primary" class="m-1" type="submit" [disabled]="clickOnRequestAppointment">
                {{btnName}}
            </button>
        </div>
    </form>
</div>