.objective--wrapepr{
    .cancle--btn{
        height: auto;
        .mat-icon{
            font-size: 24px;
            width: 24px;
            height: 24px;
        }
    }
    .chape--group{
        label{
            margin-top: 9px;
        }
        .r--btns{
            width: 178px;
        }
        .max-width{
            max-width: 250px;
        }
    }
    .label--width{
        width: 110px;
    }
    .font-16{
        font-size: 16px !important;
    }
    .pain--mark{
        border-radius: 30px;
        border: 1px solid #31B7B7;
        padding: 5px;
        margin: 5px;
        li{
            width: 24px;
            height: 24px;
            border-radius: 100%;
            margin: 0 13px;
            display: flex;
            align-items: center;
            justify-content: center; 
            cursor: pointer;
            &:hover,
            &.active{
                background-color: #31B7B7;
                color: #fff;
            }
        }
    }
     
    .divider{
        border-top: 1px solid #DED2D9;
        margin: 0 0 20px 0;
        width: 100%;
    }
    .score{
        width: 100px; 
    }
    .quickdash--table{
        overflow-y: hidden;
        table{
            thead{
                tr{
                    th{
                        padding: 5px;
                        font-weight: 700;
                        color: #212529;     
                        font-size: 14px;
                        width: 100px;
                        border: 0;
                        text-transform: uppercase;
                        vertical-align: middle;
                        &:first-child{
                            width: auto;
                        }
                        &:last-child{
                            width: 160px;
                        }
                        .nine--note{
                            text-transform: none !important;
                            width: 53%;
                            display: flex;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding: 0 5px;
                        border: 0;
                        color: #212529;     
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 599px) {
    .objective--wrapepr .chape--group label{
        margin-top: 7px;
    } 
    .objective--wrapepr .pain--mark li{ 
        margin: 0 2px;
    }
    ::ng-deep{
        .mat-mdc-radio-group{
            .mat-mdc-radio-button{
                margin-bottom: 5px;
            }
        }
    }
    .objective--wrapepr .quickdash--table table{
        width: 550px;
        thead tr th{
            width: 60px;
            font-size: 12px;
            &:last-child{
                width: 90px;
            }
            .nine--note{
                width: 100%;
            }
        }
    }
    
}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .objective--wrapepr .quickdash--table table thead tr th{
        width: 70px;
    }
}
