.objective--wrapepr{
    .cancle--btn{
        height: auto;
        .mat-icon{
            font-size: 24px;
            width: 24px;
            height: 24px;
        }
    }
    .chape--group{
        label{
            margin-top: 9px;
        }
        .r--btns{
            width: 178px;
        }
        .max-width{
            max-width: 250px;
        }
    }
    .label--width{
        width: 110px;
    }
    .font-16{
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 599px) {
    .objective--wrapepr .font-16 {
        font-size: 14px !important;
    }
    .objective--wrapepr .chape--group label{
        margin-top: 7px;
    } 
    ::ng-deep{
        .mat-mdc-radio-group{
            .mat-mdc-radio-button{
                margin-bottom: 5px;
            }
        }
    }
}
@media only screen and (min-width: 600px) and (max-width: 979px){
    
}
