.contact--wrapper{
    padding: 20px;
    .indicate--round{
        width: 45px;
        height: 45px;
        background-color: rgba(49, 183, 183, 0.20);
        border-radius: 100%;
        margin-right: 15px;
    }
}