<div class="initial--exam--assesment--wrapper container-fluid p-0">
    <form *ngIf="assessmentForm" [formGroup]="assessmentForm" (ngSubmit)="assessmentSubmit(assessmentForm.value)">
        <div class="row">

            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label fw-600">Assessment</label>
                   <textarea [disabled]="isDisabled" class="form-control text-left" type="text" rows="5" maxlength="500" formControlName="assessment_text"  (blur)="checkSpace('assessment_text', $event)"></textarea>
                    <div class="text text-danger mt-1" *ngIf="assessmentForm.controls['assessment_text'].touched && assessmentForm.controls['assessment_text'].hasError('required')">
                        {{ validationMessages.required('Assessment') }}
                      </div>
                </div>
            </div>

            
            <div class="col-12" formArrayName="assessment_icd">
                <div class="mb-1 {{pointIndex ? '' : 'border-bottom-popup'}}" *ngFor="let item of assessment_icd_info.controls; let pointIndex = index" [formGroupName]="pointIndex">
                    <div class="col-12 col-lg-12 col-md-12">
                        <div class="form-group">
                            <label class="col-form-label fw-600">{{pointIndex+1}}.Problem </label>
                            <div class="d-flex flex-row align-items-center">
                                <input [disabled]="isDisabled" class="form-control me-2" type="text" placeholder="Enter Your Problem" formControlName="problem" (blur)="checkGroupSpace(assessment_icd_info.at(pointIndex).get('problem'), $event)"/>
                                <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 text-danger cursor-pointer" (click)="removeNewProblem(pointIndex)">cancel</mat-icon>
                            </div>
                            <div class="text text-danger mt-1" *ngIf="assessment_icd_info.at(pointIndex).get('problem')?.touched && assessment_icd_info.at(pointIndex).get('problem')?.hasError('required')">                   
                                {{ validationMessages.required('problem') }}
                            </div>  
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-md-12">
                        <div class="form-group">
                            <label class="col-form-label fw-600">{{pointIndex+1}}.Long term goal </label>
                            <input [disabled]="isDisabled" class="form-control" type="text" placeholder="Enter Your Long Term Goal" formControlName="long_term_goal" (blur)="checkGroupSpace(assessment_icd_info.at(pointIndex).get('long_term_goal'), $event)"/>
                            <div class="text text-danger mt-1" *ngIf="assessment_icd_info.at(pointIndex).get('long_term_goal')?.touched && assessment_icd_info.at(pointIndex).get('long_term_goal')?.hasError('required')">                   
                                {{ validationMessages.required('long term goal') }}
                            </div>  
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 d-flex align-items-center justify-content-end" *ngIf="assessment_icd_info && assessment_icd_info.length < assessment_icd_length">
                <button [disabled]="isDisabled" mat-raised-button color="primary" class="flex-shrink-0 mt-2" (click)="addAssessmentGroup()">
                    <mat-icon class="material-symbols-outlined flex-shrink-0"> add_circle_outline </mat-icon>
                    Add New Problem & Goal
                </button>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label fw-600">Supporting Documentation</label>
                    <textarea [disabled]="isDisabled" class="form-control text-left fw-400 clr--828282" type="text" rows="7" formControlName="supporting_documentation_text" (blur)="checkSpace('supporting_documentation_text', $event)"></textarea> 
                    <div class="text text-danger mt-1" *ngIf="assessmentForm.controls['supporting_documentation_text'].touched && assessmentForm.controls['supporting_documentation_text'].hasError('required')">
                        {{ validationMessages.required('Supporting Documentation') }}
                      </div>
                </div>
            </div>

        </div>
        <div class="d-flex align-items-center justify-content-end  notes--footer--btns"> 
            <button mat-raised-button color="primary" type="submit" class="m-1">
                Save as Draft
            </button>
        </div>
    </form>
</div>