<div class="modal--wrapper   d-flex flex-column w-100">
    <div class="modal--header w-100">
        <h1 class="fw-700 border-0 pb-0">{{headerName}}</h1>
    </div>
    <div class="modal--body w-100 pt-1"> 
        <div class="col-12">
            <div class="form-group">
                <label class="col-form-label fw-700 font-16 ">{{labelName}}</label>
                <input class="form-control" type="text" placeholder="Enter Here" [(ngModel)]="inputValue"/>
            </div>
        </div>
    </div>
    <div class="modal--footer w-100 d-flex align-items-center justify-content-end pt-0">
        <button mat-stroked-button color="primary" class="me-3" mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>
</div>