<div class="d-flex   profile-media">
  <div class="profile--box  ">
    <img class="img-fluid" src="{{profileImage}}" alt="">
  </div>
  <div class="flex-grow-1 user"><span>{{fullName}}</span>
    <p class="mb-0 font-nunito">{{userTypeLable}}</p>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div"> 
  <li>
    <a (click)="profile()">
      <app-feathericon [icon]="'settings'"></app-feathericon>
      <span>Profile</span>
    </a>
  </li>
  <li><a (click)="logOut()">
      <app-feathericon [icon]="'log-in'"></app-feathericon>
      <span>Log out</span>
    </a></li>
</ul>
