.select--files--wrapper{
    .card-header{
        .back--btn{
            min-width: 42px;
            .material-symbols-outlined{
                width: 24px;
                height: 24px;
                font-size: 24px; 
            }
        } 
        .form-group{
            .search--fields{
                right: 6px;
            }
        }
    }
    ::ng-deep{
        table{
            thead{
                tr{
                    th{ 
                        .mat-sort-header-container .mat-sort-header-content {
                            font-size: 14px !important;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding: 12px 10px !important;
                        &:first-child{
                            .mat-icon{ 
                                color: #31B7B7;
                                flex-shrink: 0;
                            } 
                        }
                        &:last-child{
                            .mat-icon{
                                height: 24px;
                                width: 24px;
                                font-size: 24px;
                                color: #bae9e9;
                            } 
                        }
                        .mat-mdc-checkbox .mdc-form-field .mdc-checkbox .mdc-checkbox__background{
                            border-radius: 50%;
                            width: 23px;
                            height: 23px;
                        }
                        .mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-form-field .mdc-checkbox .mdc-checkbox__background{
                            border-radius: 50%;
                            .mdc-checkbox__checkmark{
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}