<div [ngClass]="navService.isDisplay ? 'page-header close_icon':'page-header'" [class.sidebar-default]="navService.isShow == true">
  <div class="header-wrapper row m-0">
    <div class="logo-wrapper">
      <a [routerLink]="'/'">
        <img class="img-fluid for-light" ngSrc="assets/images/logo/logo.webp" alt="looginpage" width="60" height="60" priority rel="preload" fetchpriority="high">
      </a>
    </div>
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center">
        <div class="toggle-sidebar flex-shrink-0"  (click)="openMenu()">
          <mat-icon class="clr--fff">dashboard</mat-icon>
        </div>
        <!-- <svg class="stroke-icon toggle-sidebar flex-shrink-0" (click)="openMenu()">
          <use class="status_toggle middle sidebar-toggle" href="assets/svg/icon-sprite.svg#Grid"> </use>
        </svg>  -->
        <!-- <h2 class="hosp--name text-primary">{{fullName}}</h2> -->
      </div>
      <div class="nav-right col-auto pull-right right-header p-0 ms-auto">
        <ul class="nav-menus" [class.open]="open"> 
          <li class="onhover-dropdown">
            <app-notification></app-notification>
          </li>   
          <li class="profile-nav onhover-dropdown pe-0 py-0">
            <app-profile></app-profile>
          </li>
          @if(menuItems.length){
          <div class="Typeahead-menu theme-scrollbar" [class.is-open]="searchResult"
            id="search-outer" [class.open]="open" (clickOutside)="clickOutside()">
            @for(menuItem of menuItems | slice : 0 : 8; track menuItem){
            <div class="ProfileCard u-cf">
              <div class="ProfileCard-details">
                <div class="ProfileCard-realName">
                  <div class="ProfileCard-avatar">
                    <app-svg-icon [icon]="menuItem.icon"></app-svg-icon>
                  </div>
                  <a [routerLink]="menuItem?.path" class="realname" (click)="removeFix()">{{ menuItem?.title }}</a>
                </div>
              </div>
            </div>
          }
          </div>
        }
          <div class="Typeahead-menu is-open" [class.is-open]="searchResultEmpty">
            <div class="tt-dataset tt-dataset-0">
              <div class="EmptyMessage">Opps!! There are no result found.</div>
            </div>
          </div>
        </ul>
      </div>

    </div>
   

  </div>
</div>
