<div class="reschedule--app--modal d-flex flex-column w-100  ">
    <header class="w-100">
        <h1 class="fw-600">Request an Appointment</h1>
    </header>
    <form [formGroup]="requestAppointmentForm" (ngSubmit)="requestAppointment(requestAppointmentForm.value)">
    <div class="ra--body w-100">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="col-form-label fw-600">Preferred Date & Time</label>
                    <!-- <div class="input-group">
                            <input (keydown)="false" class="form-control digits cursor-pointer" id="example-datetime-local-input" type="datetime-local" [(ngModel)]="fromDate" [min]="minToDate" formControlName="appointmentDate"  [max]="maxFromDate" placeholder="From Date" >
                             onfocus="this.showPicker()" 
                    </div> -->
                    <div class="input-group date--time--picker"> 
                        <input class="form-control" [min]="minToDate" [max]="maxFromDate" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" formControlName="appointmentDate">
                            <span class="trigger" [owlDateTimeTrigger]="dt">
                                <mat-icon class="calendar--icon">calendar_month</mat-icon>
                            </span>
                        <owl-date-time #dt></owl-date-time> 
                    </div>
                </div>
                <div class="text text-danger mt-1" *ngIf="requestAppointmentForm.controls['appointmentDate'].touched && requestAppointmentForm.controls['appointmentDate'].hasError('required')">
                    {{ validationMessages.requiredDropdown('preferred date & time') }}
                </div>
            </div>
            <div class="col-12 ">
                <div class="form-group">
                    <label class="col-form-label fw-600">Practice Location</label>
                    <select class="form-select form-control" aria-label="Default select example" formControlName="practiceLocation">
                        <option value="" selected>Select</option>
                        <option *ngFor="let location of practiceLocationData" [value]="location">{{ location }}</option>
                    </select>
                    <div class="text text-danger mt-1" *ngIf="requestAppointmentForm.controls['practiceLocation'].touched && requestAppointmentForm.controls['practiceLocation'].hasError('required')">
                        {{ validationMessages.requiredDropdown('Practice Location') }}
                    </div>
                </div>
            </div> 
            
        </div>
    </div> 
    <div class="d-none d-lg-block d-flex align-items-center justify-content-between w-100 footer--btns">
        <button mat-stroked-button color="primary" class="me-2" mat-dialog-close>Cancel</button> 
        <button mat-raised-button color="primary" class="float-right" [disabled]="clickOnRequestAppointment" type="submit">Request an Appointment</button>
    </div>

    <div class=" d-lg-none w-100 footer--btns">
        <button mat-stroked-button color="primary" class="me-2 w-100" mat-dialog-close>Cancel</button> 
        <button mat-raised-button color="primary" class="w-100 mt-1" [disabled]="clickOnRequestAppointment" type="submit">Request an Appointment</button>
    </div> 
    </form>
</div>