.reschedule--app--modal{
    padding: 20px;
    overflow: hidden !important;
    header{
        h1{
            color: #1F2F3E;
            font-size: 18px;
            margin-bottom: 20px; 
        }
    }
    .ra--body{
        min-height: 200px; 
        overflow-x: auto;
        pointer-events: auto;
    }
    ::ng-deep{ 
        .mat-mdc-icon-button.mat-mdc-button-base{ 
            height: 53px !important; 
        }
    }
}

