<div class="modal--wrapper d-flex flex-column w-100 efaxhistory--modal--wrapper">
    <div class="modal--header w-100">
        <h1 class="mb-0"> 
            E-Fax History
        </h1>  
    </div>
    <div class="modal--body w-100 pt-0">
        <div class="row">  
            <div class="col-12 cust--mat--table--wrapper">
                <table mat-table [dataSource]="dataSource" class="cust--mat--table"> 
                    <ng-container matColumnDef="dateOfService">
                      <th mat-header-cell *matHeaderCellDef> Date of Services </th>
                      <td mat-cell *matCellDef="let element"> {{element.dateOfService | date:"MM/dd/y"}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="noteType">
                      <th mat-header-cell *matHeaderCellDef> Note Type </th>
                      <td mat-cell *matCellDef="let element"> {{element.noteType}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="createdAt">
                      <th mat-header-cell *matHeaderCellDef> Sent On </th>
                      <td mat-cell *matCellDef="let element"> {{element.createdAt | date:"MM/dd/y"}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let element"> 
                        <p class="{{element.status}} mb-0">{{element.status}} </p>
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <p style="text-align: center;" *ngIf="dataLength==0">No records found</p>
            </div>
        </div>
    </div>
    <div class="modal--footer w-100 d-flex align-items-center justify-content-end mt-2">
        <button mat-stroked-button color="primary" class="me-2" mat-dialog-close>Close</button>  
    </div>
</div>
