.tos--wrapper{
    h2{
        font-size: 35px;
        margin-bottom: 25px;
    }
    h3{
        font-size: 25px;
        margin-bottom: 20px;
    }
    p{
        font-size: 18px;
        margin-bottom: 25px;
    }
}
@media only screen and (max-width: 599px) {
    .tos--wrapper{
        h3, h2  {
            font-size: 16px !important;
            margin-bottom: 10px !important;
        }
        p {
            font-size: 14px !important;
        }
    } 
}