<div class="container-fluid notifications--wrapper d-flex flex-column w-100"> 
    <div class="row w-100">
        <div class="col-12">
            <h3 class="clr--1F2F3E fw-600"> Notifications </h3> 
        </div>
        <div class="col-12">
            <div class="card">
                <ul class="m-0 p-0">
                    <li class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-start w-100">
                            <div class="noti--img d-flex align-items-center justify-content-center flex-shrink-0">
                                <img src="assets/images/ark/user.png"  alt="" class="img-fluid" />
                            </div>
                            <div class="noti--desc">
                                <p class="font-14 clr--1F2F3E mb-0 fw-600">Meg Griffin has requested an appointment on 20 March, 2024 at 03:30 PM.</p>
                                <p class="mb-0  date--time">March 1, 2023 <span class="ms-2"> 03:10 PM</span>   </p>
                            </div>
                        </div>
                        <button mat-button >
                            <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 close--btn"> close </mat-icon> 
                        </button>
                    </li>
                    <li class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-start w-100">
                            <div class="noti--img d-flex align-items-center justify-content-center flex-shrink-0">
                                <img src="assets/images/ark/user-2.png"  alt="" class="img-fluid" />
                            </div>
                            <div class="noti--desc">
                                <p class="font-14 clr--1F2F3E mb-0 fw-600">Maria Brown has requested an appointment on 12 March, 2024 at 05:30 PM.</p>
                                <p class="mb-0  date--time">February 26, 2023 <span class="ms-2"> 02:50 PM</span>   </p>
                            </div>
                        </div>
                        <button mat-button >
                            <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 close--btn"> close </mat-icon> 
                        </button>
                    </li>
                    <li class="d-flex align-items-center justify-content-between disable">
                        <div class="d-flex align-items-start w-100">
                            <div class="noti--img d-flex align-items-center justify-content-center flex-shrink-0">
                                <img src="assets/images/ark/user-3.png"  alt="" class="img-fluid" />
                            </div>
                            <div class="noti--desc">
                                <p class="font-14 clr--1F2F3E mb-0 fw-600">Glenn accepted your invite for the provider request for the location Hamilton PT.</p>
                                <p class="mb-0  date--time">April 25, 2022  <span class="ms-2"> 02:10 PM</span>   </p>
                            </div>
                        </div>
                        <button mat-button >
                            <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 close--btn"> close </mat-icon> 
                        </button>
                    </li>
                    <li class="d-flex align-items-center justify-content-between disable">
                        <div class="d-flex align-items-start w-100">
                            <div class="noti--img d-flex align-items-center justify-content-center flex-shrink-0">
                                <img src="assets/images/ark/user-3.png"  alt="" class="img-fluid" />
                            </div>
                            <div class="noti--desc">
                                <p class="font-14 clr--1F2F3E mb-0 fw-600">Glenn accepted your invite for the provider request for the location Hamilton PT.</p>
                                <p class="mb-0  date--time">April 06, 2022  <span class="ms-2"> 01:05 PM</span>   </p>
                            </div>
                        </div>
                        <button mat-button >
                            <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 close--btn"> close </mat-icon> 
                        </button>
                    </li>
                    <li class="d-flex align-items-center justify-content-between ">
                        <div class="d-flex align-items-start w-100">
                            <div class="noti--img d-flex align-items-center justify-content-center flex-shrink-0">
                                <img src="assets/images/ark/user-3.png"  alt="" class="img-fluid" />
                            </div>
                            <div class="noti--desc">
                                <p class="font-14 clr--1F2F3E mb-0 fw-600">Please confirm your email address by clicking on the link we just emailed you. If you cannot find the email, you can request a new confirmation email or change
                                    your email address.</p>
                                <p class="mb-0  date--time">March 1, 2022  <span class="ms-2"> 03:05 PM</span>   </p>
                            </div>
                        </div>
                        <button mat-button >
                            <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 close--btn"> close </mat-icon> 
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>