.resolved--req--wrapper{
    ::ng-deep{
        .back--btn {
            min-width: 42px; 
            .material-symbols-outlined {
                width: 24px;
                height: 24px;
                font-size: 24px;
            }  
        }
        .cust--mat--table--wrapper{
            .cust--mat--table{
                margin-top: 25px;
                &.box--row--table{
                    tbody{
                        tr{
                            td{
                                &:nth-child(1){width: 20%;}
                                &:nth-child(2){width: 20%;}
                                &:nth-child(3){width: 10%;}
                                &:nth-child(4){width: 10%;}
                                &:nth-child(5){width: 15%;}
                                &:nth-child(6){width: 15%;}
                                .icon--visi{
                                    height: auto;
                                    .mat-icon{
                                        font-size: 24px;
                                        width: 24px;
                                        height: 24px;
                                    } 
                                }
                            }
                        }
                    }
                }
                .mat-mdc-header-row{
                    display: none;
                }
                .img--box{
                    width: 48px;
                    height: 48px;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-right: 15px;
                }
                .wb-ba{word-break: break-all;}
            }
        }
    }
}

@media only screen and (max-width: 599px) {
    ::ng-deep .resolved--req--wrapper .cust--mat--table--wrapper .cust--mat--table{
        width: 1200px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 979px){
    ::ng-deep .resolved--req--wrapper .cust--mat--table--wrapper .cust--mat--table{
        width: 1000px;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1279px){
    ::ng-deep .resolved--req--wrapper .cust--mat--table--wrapper .cust--mat--table{
        width: 1000px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){}
@media only screen and (min-width: 1441px) and (max-width: 1550px){}
@media screen and (orientation:landscape) and (max-width: 850px){}