<div class="col-12 appointment--wrapper">
    <div class="card">
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center justify-content-between mb-3">
                <h3 class="mb-0 clr--1F2F3E">Appointments Requests</h3> 
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Practice Location</option> 
                                <option value="1">Hamilton PT at The Canyons</option>
                                <option value="2">Darby PT</option>
                                <option value="3">Corvallis PT</option>
                                <option value="4">Stevi PT</option>
                                <option value="5">PT Specialists of Florence</option>
                                <option value="6">Frenchtown PT</option>
                                <option value="7">HNB</option>
                            </select>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div> 
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Appointment Status</option> 
                                <option value="1">Accepted</option>
                                <option value="2">Reschedules</option> 
                                <option value="3">Pending</option> 
                                <option value="4">Declined</option> 
                            </select>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div> 
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                                <div class="input-group">
                                <input class="form-control" placeholder="Appointment Date" name="dp" [(ngModel)]="model"
                                  ngbDatepicker #d="ngbDatepicker" />
                                <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="d.toggle()"
                                  type="button">
                                  <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                                </button>
                              </div>
                            <!-- <div class="text text-danger mt-1"> Middle Last required</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <button mat-stroked-button color="primary">Reset Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Day one scenario (start here) -->
        <div class="card-body day--one--wrapper d-flex align-items-center justify-content-center"> 
            <div class="d-flex flex-column align-items-center justify-content-center w-100">
                <img src="assets/images/ark/calendar-lg.png"  alt="" class="img-fluid mb-4" />
                <p class="fw-700 clr--1F2F3E text-center">Currently there are no appointments to show!</p>
            </div>
        </div>
        <!-- Day one scenario (end here) -->
    </div>
</div> 
   