<div class="alert--wrapper">
    <div class="col-12 d-flex flex-column align-items-center justify-content-center w-100 text-center"> 
        <img src="assets/images/ark/successful.gif" alt="" width="60px">
        <p class="alert--note mb-1 fw-700">Appointment Requested</p>
        <p class="alert--note mt-0 lh-24 mt-1">Thank you for requesting an appointment. Your recovery is our only priority. We are working diligently on your request and will be respond in 1 business day or less.</p>
        <div class="d-flex align-items-center justify-content-center">
            <button mat-raised-button color="primary" class="me-3" [mat-dialog-close]="false">Okay</button>  
        </div>
    </div>
</div>  