.scheduler--wrapper{
    .sc--header{
        background: #FFF;
        padding: 20px 16px;
        box-shadow: 0px 8px 28px 0px rgba(72, 89, 102, 0.10);
        margin-bottom: 16px;
        .pl--field{
            width: 240px;
            margin-right: 20px;
            background-color: #F5F6F9 !important;
        }
        .today--btns{
            .btn{
                padding: 2px;
                background-color: #F4F4F5;
                font-size: 12px;
                display: flex;
                align-items: center; 
                justify-content: center;
                margin: 2px;
                &:nth-child(2){
                    width: 67px;
                }
            }
        }
        .day--to--month{
            .btn{
                font-size: 14px;
                padding: 5px 15px;
                border-radius: 18px;
                border: none;
                &.active{
                    background-color: #31B7B7;
                    color: #fff;

                }
            }
        }
        .head--search{
            .search--outer{
                width: 232px;
                padding-left: 30px;
                background-color: #F4F4F5 !important;
            }
            .search--fields{
                position: absolute;
                left: 7px;
                top: 1px;
            }
        }
    }   
    .sc--body{ 
        background-color: #f2f3f48f;
        .sc--left--panel{
            width: 300px;
            margin-right: 20px;
            height: calc(100vh - 95px);
            padding: 15px;
            background: #FFF;
            overflow: auto;
            ::ng-deep{
                .mat-mdc-card{
                    box-shadow: none;
                    .mat-calendar{
                        border-radius: 8px;
                        border: 1px solid #31B7B7; 
                        .mat-calendar-header{
                            .mat-calendar-controls{
                                margin-top: 0;
                            }
                        }
                        .mat-calendar-content{
                            .mat-calendar-table{
                                .mat-calendar-table-header{
                                    tr{
                                        th{
                                            font-weight: bold;
                                            font-family: "Nunito Sans", sans-serif !important;
                                            color: #000;
                                        }
                                    }
                                } 
                                .mat-calendar-body{
                                    tr{
                                        td{
                                            &.mat-calendar-body-label{
                                                color: #31B7B7;
                                                font-weight: bold;
                                                font-family: "Nunito Sans", sans-serif !important;
                                            }
                                            .mat-calendar-body-cell{
                                                .mat-calendar-body-cell-content{
                                                    color: #31B7B7;
                                                    font-size: 13px;
                                                    font-weight: 600;
                                                    font-family: "Nunito Sans", sans-serif !important;
                                                } 
                                                &.mat-calendar-body-active{
                                                    .mat-calendar-body-today{
                                                        background-color: #31B7B7;
                                                        border-color: #31B7B7;
                                                        color: #fff;
                                                    }
                                                    .mat-calendar-body-selected{
                                                        color: #fff;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .search--people--sec{
                    border-radius: 8px;
                    border: 1px solid #31B7B7;
                    background: #F3FBFB;
                    padding: 18px 12px;
                    margin-top: 16px;
                    .search--outer{
                        background-color: #BCDADA !important;
                        padding-right: 35px;
                    }
                    .search--fields{
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    .mat-mdc-checkbox{
                        .mdc-form-field{ 
                            .mdc-checkbox{
                                padding-right: 7px; 
                            }
                        }
                    }
                }
            }
        }
        .sc--right--panel{
            background-color: #fff;
            height: calc(100vh - 95px);
            ::ng-deep{
                .cal-month-view .cal-day-number{
                    font-weight: bold;
                }
                .cal-month-view .cal-cell-top{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                }
                .cal-month-view .cal-day-badge{
                    color: #fff;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}
 


.app--details--modal--wrapper{
    .modal--header{
        h1{
            &.font-22{
                font-size: 22px;
            }
        }
        .more--opt{
            color: #31B7B7 !important;
        }
    } 
    .modal--body{
        .profile--round{
            width: 48px;
            height: 48px;
            border-radius: 100px;
            overflow: hidden;
            margin-right: 20px;
        }
        .phone{
            .mat-icon{
                font-size: 18px;
                height: 18px;
                width: 18px;
            }
        }
    }
}
::ng-deep{ 
    .mat-mdc-menu-item{
        min-height: 40px !important;
        border-bottom: 1px solid #ddd !important;
        .mat-mdc-menu-item-text{
            color: #1F2F3E !important;
            font-weight: 600 !important;
        }
        &:hover{
            .mat-mdc-menu-item-text{
                color: #31B7B7 !important;
                font-weight: 600 !important;
            }
        }
    }
    .cdk-overlay-container { 
        z-index: 99999 !important;
    }
}
@media only screen and (max-width: 599px) {
    .sm-w-100{
        width: 100% !important;
    }  
    .app--details--modal--wrapper{
        .modal--header{
            h1{
                &.font-22{
                    font-size: 16px;
                }
            }
        }
    } 
}