<div class="container-fluid book--appointment--wrapper emergency--contact--wrapper">
    <div class="row">
        <div class="col-12 d-flex align-items-center mb-4 mt-4"> 
            <h3 class="mb-0 clr--1F2F3E fw-600 d-flex flex-wrap">
                <span class="me-3">Emergency Contact </span> 
            </h3>
        </div>
    </div>
    <form [formGroup]="emergencyContactFormGroup" (ngSubmit)="formSubmit(emergencyContactFormGroup.value)">
        <div class="card m-0" formArrayName="contacts"> 
            <div class="row" *ngFor="let items of contactsInfo.controls; let pointIndex = index" [formGroupName]="pointIndex">                
                <div class="col-12">
                    <p class="fw-700 font-16 mb-2 mt-2">EMERGENCY CONTACT {{pointIndex + 1}}</p> 
                </div> 

                <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label class="col-form-label fw-600">First Name <span class="clr--DF0404 ms-1"> * </span></label>
                        <input class="form-control" type="text" placeholder="Enter First Name" (blur)="checkSpace(contactsInfo.at(pointIndex).get('firstName'), $event)" formControlName="firstName" maxlength="35" />                        
                        <div class="text text-danger mt-1" *ngIf="contactsInfo.at(pointIndex).get('firstName')?.touched && contactsInfo.at(pointIndex).get('firstName')?.hasError('required')">                   
                            {{ validationMessages.required('First Name') }}
                        </div>  
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Last Name <span class="clr--DF0404 ms-1"> * </span></label>
                        <input class="form-control" type="text" placeholder="Enter Last Name" (blur)="checkSpace(contactsInfo.at(pointIndex).get('lastName'), $event)" formControlName="lastName" maxlength="35" />
                        <div class="text text-danger mt-1" *ngIf="contactsInfo.at(pointIndex).get('lastName')?.touched && contactsInfo.at(pointIndex).get('lastName')?.hasError('required')">
                            {{ validationMessages.required('Last Name') }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Date of Birth <span class="clr--DF0404 ms-1"> * </span></label>
                        <div class="input-group">
                            <input class="form-control text-capitalize" placeholder="Date of Birth" name="dp" readonly ngbDatepicker #d="ngbDatepicker" (ngModelChange)="onDateChange($event,pointIndex)" [value]="selected_date[pointIndex]" formControlName="dob" [minDate]="getMinDate(pointIndex)" [maxDate]="maxEndDate" (click)="d.toggle()"/>
                            <button class="btn btn-outline-primary py-0 px-3 calender--btn" (click)="d.toggle()" type="button">
                                <i class="fa fa-calendar-o clr--fff" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="text text-danger mt-1" *ngIf="contactsInfo.at(pointIndex).get('dob')?.touched && contactsInfo.at(pointIndex).get('dob')?.hasError('required')">
                            {{ validationMessages.required('Date of Birth') }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Relationship with Patient</label>
                        <select class="form-select form-control" aria-label="Default select example" formControlName="relationWithPatient">
                            <option selected value="">Select Relation</option>
                            <option *ngFor="let element of relationWithPatientList" value="{{element}}">{{element}}</option>
                        </select> 
                    </div> 
                </div> 
                <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Other Relation</label>
                        <input class="form-control" type="text" placeholder="Enter Other Relation" formControlName="otherRelation" maxlength="55"/>
                    </div>
                </div>  
                <div class="col-12 col-lg-6 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label class="col-form-label fw-600">Phone Number <span class="clr--DF0404 ms-1"> * </span></label>
                        <input class="form-control" type="text" imask="{mask: '(000) 000-0000'}" placeholder="Enter Phone Number" maxlength="14" (input)="onPhoneInputChange($event,pointIndex)" [value]="convertPhoneNumber[pointIndex]" formControlName="phoneNumber"/>
                        <div class="text text-danger mt-1" *ngIf="contactsInfo.at(pointIndex).get('phoneNumber')?.touched && contactsInfo.at(pointIndex).get('phoneNumber')?.hasError('required')">
                            {{ validationMessages.required('Phone Number') }}
                        </div>
                    </div>
                </div> 
                <div class="col-12 ps-0">
                    <div class="form-group mb-0"> 
                        <mat-checkbox formControlName="myTreatmentCheckbox" class="">Okay to release information pertaining to my treatments, records & appointments.</mat-checkbox>
                    </div>
                    <div class="form-group mb-0"> 
                        <mat-checkbox formControlName="myAccountCheckbox" class="">Okay to release information pertaining to my account regarding all billing inquiries.</mat-checkbox>
                    </div>
                </div>
                <div class="col-12">
                    <div class="divider"></div>
                </div>               
            </div>           
        </div>
        <div class="d-flex align-items-center justify-content-end w-100 footer--btns"> 
            <button mat-raised-button color="primary" class="m-1" type="submit"> 
                Save
            </button>
        </div>
    </form>
</div>