<div class="col-12 emergency--contact--wrapper">
    <div class="card">
        <div class="card-header pb-0">
            <div class="col-12 d-flex align-items-center justify-content-between mb-3">
                <h3 class="mb-0 clr--1F2F3E">Emergency Contact</h3>
                <button mat-raised-button color="primary" [routerLink]="['/patient/add-edit-contact']">
                    <mat-icon class="material-symbols-outlined flex-shrink-0"> add_circle </mat-icon>
                    Add Contact
                </button>
            </div> 
            <div class="col-12 col-lg-6 ">
                <div class="form-group position-relative">
                    <input type="text" class="form-control search--outer" placeholder="Search Contacts">
                    <button mat-button class="p-0 flex-shrink-0 min-width-unset search--fields">
                        <mat-icon class="material-symbols-outlined flex-shrink-0">search </mat-icon>
                    </button> 
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="col-12 cust--mat--table--wrapper">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                    class="cust--mat--table box--row--table">  
                    <ng-container matColumnDef="fname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                            First Name
                        </th>
                        <td mat-cell *matCellDef="let element"> 
                            {{element.fname}}     
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                            Last Name
                        </th>
                        <td mat-cell *matCellDef="let element"> 
                            {{element.name}}     
                        </td>
                    </ng-container>   
                    
                    <ng-container matColumnDef="relation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                            Relationship with Patient
                        </th>
                        <td mat-cell *matCellDef="let element"> 
                            {{element.relation}}     
                        </td>
                    </ng-container> 
                    <ng-container matColumnDef="phoneNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                            Phone Number
                        </th>
                        <td mat-cell *matCellDef="let element"> 
                            {{element.phoneNumber}}     
                        </td>
                    </ng-container>  
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                            Actions
                        </th>
                        <td mat-cell *matCellDef="let element">  
                            <div class="w-100 d-flex align-items-center justify-content-end">
                                <button mat-button class="flex-shrink-0 min-width-unset" [routerLink]="['/patient/add-edit-contact']">
                                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 text-primary">visibility </mat-icon>
                                </button>
                                <button mat-button class="flex-shrink-0 min-width-unset" [routerLink]="['/patient/add-edit-contact']">
                                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 text-primary">edit </mat-icon>
                                </button>
                                <button mat-button class="flex-shrink-0 min-width-unset" (click)="deleteAccount()" >
                                    <mat-icon class="material-symbols-outlined flex-shrink-0 m-0 text-primary">delete </mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                showFirstLastButtons
                                aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>