::ng-deep{
    .cust--mat--table{
        tbody{
            tr{
                td{ 
                    &:last-child{ 
                        .mat-icon{
                            height: 24px;
                            width: 24px;
                            font-size: 24px;
                        }
                    }
              
                }
            }
        }
    }
    .provider--mat--table--wrapper {
        .provider--mat--table {
            thead {
                tr {
                    th {
                        font-size: 16px;
                        font-weight: 700;
                        color: #1f2f3e;
                        font-family: Nunito Sans, sans-serif !important;
                        &:nth-child(1){ width: 24%; }
                        &:nth-child(2){ width: 27%; }
                        &:nth-child(3){ width: 15%; }
                        &:nth-child(4){ width: 15%; }
                        &:last-child{ width: 7%; }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-size: 14px;
                        font-weight: 600;
                        color: #1f2f3e;
                        font-family: Nunito Sans, sans-serif !important;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 780px){
    .provider--mat--table--wrapper {
        .provider--mat--table {
            min-width: 730px;
        }
    }
}